﻿<div class="row">
    <div class="col-md-12">
        <form name="frmPerfilAcesso" ng-submit="AtualizaPerfilAcesso()" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Perfil de Acesso" is-open="true">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="txtDescricao" class="wd100">Descrição</label>
                            <input type="text" class="form-control" id="txtDescricao" ng-model="oPerfilAcesso.Descricao" ng-required="true" />
                        </div>
                    </div>
                </div>
            </uib-accordion>
            <div class="form-actions">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmPerfilAcesso.$invalid" class="btn btn-primary">Atualizar</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>



