﻿<div class="table-responsive fl_wd100 mrg10">
    <table st-table="DadosDisplay" st-safe-src="Dados" class="table table-striped mrgBot0" ng-if="Estrutura.Type=='U'">
        <thead>
            <tr>
                <th ng-repeat="oColuna in Estrutura.Colunas" st-sort="{{oColuna.Name}}">{{oColuna.Name}}</th>
            </tr>
            <tr>
                <th colspan="10" style="display:none;">
                    <input id="stSearchCustom" st-search placeholder="Pesquisa Rápida" class="input-sm fr mrgRight2 col-md-3" type="search" style="display:none;" />

                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oDados in DadosDisplay" on-end-repeat-st>
                <td ng-repeat="oKey in Estrutura.Colunas"> 
                    <div title="{{oDados[oKey.Name]}}">
                        {{oDados[oKey.Name]}}
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="13" class="text-left">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="Templates/pagination_custom.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
    <div ng-if="Estrutura.Type=='P'">
        <div ng-repeat="oDados in Dados" on-end-repeat-st>
            <div ng-repeat="oKey in Estrutura.Colunas">
                <pre title="{{oDados[oKey.Name]}}">
                    {{oDados[oKey.Name]}}
                </pre>
            </div>
        </div>
    </div>
</div>