﻿<div class="table-responsive fl_wd100 mrg10">
    <table st-table="EstruturaDisplay" st-safe-src="ListaEstrutura" class="table table-striped mrgBot0">
        <thead>
            <tr>
                <th></th>
                <th st-sort="Id">ID</th>
                <th st-sort="Schema">Schema</th>
                <th st-sort="Name">Nome</th>
                <th st-sort="Type">Tipo</th>
                <th st-sort="TypeDesc">Descrição Tipo</th>
                <th st-sort="CreateDate">Dt. Criação</th>
                <th st-sort="ModifyDate">Dt. Alteração</th>
            </tr>
            <tr>
                <th colspan="10" style="display:none;">
                    <input id="stSearchCustom" st-search placeholder="Pesquisa Rápida" class="input-sm fr mrgRight2 col-md-3" type="search" style="display:none;" />

                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oEstrutura in EstruturaDisplay" on-end-repeat-st>
                <td>
                    <button type="button" ng-click="btnEditar(oEstrutura.Id)" class="btn btn-xs btn-info" title="Visualizar Dados">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </td>
                <td>{{oEstrutura.Id}}</td>
                <td>{{oEstrutura.Schema}}</td>
                <td>{{oEstrutura.Name}}</td>
                <td>{{oEstrutura.Type}}</td>
                <td>{{oEstrutura.TypeDesc}}</td>
                <td>{{oEstrutura.CreateDate ? oEstrutura.CreateDate : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oEstrutura.ModifyDate ? oEstrutura.ModifyDate : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="13" class="text-left">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="Templates/pagination_custom.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>