﻿<div class="row">
    <div class="col-sm-12">
        <form name="frmServicoRoboVersao" ng-submit="AtualizaServicoRoboVersao()" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable" heading="Dados da Versão" is-open="true">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtId" class="wd100">Nº da Versão</label>
                            <input type="number" class="form-control" ng-model="oServicoRoboVersao.Id" ng-required="true" ng-readonly="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlServicoRoboVersaoStatus" class="wd100">Status</label>
                            <select class="form-control" id="ddlServicoRoboVersaoStatus" name="ddlServicoRoboVersaoStatus" ng-model="oServicoRoboVersao.IdServicoRoboVersaoStatus" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oServicoRoboVersaoStatus in ListaStatusVersaoServicoRobo " ng-value="oServicoRoboVersaoStatus.Id">{{oServicoRoboVersaoStatus.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="txtRelease" class="wd100">Release</label>
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <input type="number" class="form-control" ng-model="oServicoRoboVersao.Faixa1" ng-required="true" ng-readonly="true" />
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <input type="number" class="form-control" ng-model="oServicoRoboVersao.Faixa2" ng-required="true" ng-readonly="true" />
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <input type="number" class="form-control" ng-model="oServicoRoboVersao.Faixa3" ng-required="true" ng-readonly="true" />
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <input type="number" class="form-control" ng-model="oServicoRoboVersao.Faixa4" ng-required="true" ng-readonly="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="txtValor" class="wd100">Observação</label>
                            <textarea class="form-control" id="txtObservacao" name="txtObservacao" ng-model="oServicoRoboVersao.Observacao" rows="10" ng-required="true" ng-readonly="false"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="dllAtivo" class="wd100">Ativo</label>
                            <select class="form-control" id="dllAtivo" name="dllAtivo" ng-model="oServicoRoboVersao.Ativo" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>
                </div>
                <div uib-accordion-group class="panel-primary hoverable mrg15" heading="Arquivos da Versão/Release" is-open="true">
                    <div ng-include="'Views/Sistema/Arquivo.html'" ng-controller="ArquivoController"></div>
                </div>  
                <div uib-accordion-group class="panel-primary hoverable mrg15" heading="Atualiza Lista de Watchdogs" is-open="true">
                    <div class="fl_wd100 actionArea">
                        <button type="button" class="btn btn-primary fl" ng-click="btnAtualizaListaServicoRobo()">
                            <i class="glyphicon glyphicon-refresh"></i> Atualiza
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ações <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="btnReiniciaServicoRobo()">Reinicia</a></li>
                                <li><a ng-click="btnLigaServicoRobo()">Liga</a></li>
                                <li><a ng-click="btnDesligaServicoRobo()">Desliga</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a ng-click="btnIniciarMonitoramentoServicoRobo()">Inicia Monitoramento</a></li>
                                <li><a ng-click="btnPararMonitoramentoServicoRobo()">Para Monitoramento</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a ng-click="btnTrocaVersaoServicoRobo()">Trocar a Versão</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-responsive fl_wd100 mrg10">
                        <table st-table="RobosDisplay" st-safe-src="Robos" class="table table-striped">
                            <thead>
                                <tr>
                                    <th><st-select-all all="RobosDisplay" ng-click="vm.selectAll(vm.data)"></st-select-all></th>
                                    <th st-sort="DominioRede">Dominio de Rede</th>
                                    <th st-sort="NomeMaquina">Nome da Máquina</th>
                                    <th st-sort="IdRoboEstado">Estado</th>
                                    <th st-sort="IdRoboStatus">Status</th>
                                    <th st-sort="IdRoboVersao">Nº Versão/Release</th>
                                    <th>Serviço</th>
                                    <th st-sort="Ativo">Ativo</th>
                                    <th st-sort="AutorCriacao">Autor Criação</th>
                                    <th st-sort="DataCriacao">Data de Criação</th>
                                    <th st-sort="AutorAlteracao">Autor Alteração</th>
                                    <th st-sort="DataAlteracao">Data de Alteração</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="oRobo in RobosDisplay" on-end-repeat-st>
                                    <td cs-select="oRobo"></td>
                                    <td>{{oRobo.DominioRede}}</td>
                                    <td>{{oRobo.NomeMaquina}}</td>
                                    <td>
                                        <div ng-repeat="oRoboEstado in ListaEstadoRobo track by $index" ng-if="oRoboEstado.Id === oRobo.IdRoboEstado">
                                            <span ng-style="{color: oRoboEstado.Id === 1 ? 'green' : 'red'}">{{oRoboEstado.Descricao}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-repeat="oRoboStatus in ListaStatusRobo track by $index" ng-if="oRoboStatus.Id === oRobo.IdRoboStatus">
                                            <span ng-style="{color: oRoboStatus.Id === 1 ? 'green' : 'red'}">{{oRoboStatus.Descricao}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-repeat="oVersao in RoboVersoes track by $index" ng-if="oVersao.Id === oRobo.IdRoboVersao">
                                            <span ng-style="{color: oRoboVersao.Id == oRobo.IdRoboVersao ? 'green': 'red'}">Nº:{{oVersao.Id}} / R:{{oVersao.Versao}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-repeat="oServicoRobo in ServicosRobo track by $index" ng-if="oServicoRobo.Id === oRobo.Id">
                                            <div ng-repeat="oServicoRoboEstado in ListaEstadoServicoRobo track by $index" ng-if="oServicoRoboEstado.Id === oServicoRobo.IdServicoRoboEstado">
                                                <span ng-style="{color: oServicoRoboEstado.Id === 2 ? 'green' : 'red'}">{{oServicoRoboEstado.Descricao}}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{oRobo.Ativo === true ? 'Sim' : 'Não'}}</td>
                                    <td>{{oRobo.AutorCriacao}}</td>
                                    <td>{{oRobo.DataCriacao != '0001-01-01T00:00:00' ? oRobo.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                    <td>{{oRobo.AutorAlteracao}}</td>
                                    <td>{{oRobo.DataAlteracao != '0001-01-01T00:00:00' ? oRobo.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </uib-accordion>
            <div class="form-actions mrg15">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmServicoRoboVersao.$invalid" class="btn btn-primary">Atualizar</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>




