﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Abono a Capital</h3>
    <div class="checkbox" style="float:right">
        <label><input type="checkbox" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">Enviar a Backoffice</label>
    </div>
</div>
<div class="modal-body" id="modal-body" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao)">
    <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
        <uib-accordion close-others="false" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirConfirmacao">
            <div uib-accordion-group class="panel-primary hoverable" heading="Informaciones del Cliente" is-open="true">
                <div class="table-responsive txtCenter">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Número Dossier</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.NomeCliente }}</td>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.Dossie }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div uib-accordion-group class="panel-danger mrg15" heading="Situación del Contrato" is-open="true" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirMensagemQuitacao">
                <div class="col-sm-12">
                    <p>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.Observacao }}</p>
                </div>
            </div>
            <div uib-accordion-group class="panel-primary mrg15 hoverable" heading="Tipo de Abono" is-open="true" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirOpcoesQuitacao">
                <div class="col-sm-12">
                    <div class="radio col-sm-12 col-md-1" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirOpcaoTotal">
                        <label>
                            <input ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.TipoQuitacao" type="radio" name="rdoTipoQuitacao" value="Total" ng-change="exibeParcial(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.TipoQuitacao)">
                            Mensualidad
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-11">
                        <div class="col-md-12" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirOpcaoTotalDetalhe">
                            <div class="table-responsive txtCenter">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Fecha del Abono</th>
                                            <th>Importe del Abono</th>
                                            <th>Tasa con IVA</th>
                                            <th>Saldo Todu</th>
                                            <th>Seguro</th>
                                            <th>Mensualidad</th>
                                            <th>Nueva Mensualidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p class="input-group">
                                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                                                           ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.DataVencimentoSelecionado"
                                                           is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
                                                           close-text="Fechar" current-text="Hoje"
                                                           alt-input-formats="altInputFormats"
                                                           ng-change="recalculaCrediario(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.DataVencimentoSelecionado)" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </p>
                                            </td>
                                            <td>
                                                $ <input type="number" class="form-control" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.DataVencimentoSelecionado"
                                                         ng-required="true"
                                                         ng-change="recalculaCrediario(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.DataVencimentoSelecionado)" />
                                            </td>
                                            <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ValorTotalJurosPorAtraso" }}%</td>
                                            <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ValorTotalJurosPorAtraso | currency:"$" }}</td>
                                            <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ValorTotalJurosPorAtraso | currency:"$" }}</td>
                                            <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ValorTotalJurosPorAtraso | currency:"$" }}</td>
                                            <td ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirValorTotalAmortizado">
                                                {{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ValorTotalAmortizado | currency:"R$" }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="fl_wd100" style="padding: 0 !important;margin: 5px 0 15px !important;" />
                <div class="col-sm-12" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirOpcaoParcial">
                    <div class="radio col-sm-12 col-md-1">
                        <label>
                            <input ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.TipoQuitacao" type="radio" name="rdoTipoQuitacao" value="Parcial" ng-change="exibeParcial(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.TipoQuitacao)" />
                            Plazo
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-11">
                        <div class="col-md-12" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirOpcaoTotalDetalhe">
                            <div class="table-responsive txtCenter">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Fecha del Abono</th>
                                            <th>Importe del Abono</th>
                                            <th>Fecha Financiamento</th>
                                            <th>Número de Pagos</th>
                                            <th>Tasa con IVA</th>
                                            <th>Monto Financiado</th>
                                            <th>Seguro</th>
                                            <th>Nuevo Plazo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p class="input-group">
                                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                                                           ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.DataVencimentoSelecionado"
                                                           is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
                                                           close-text="Fechar" current-text="Hoje"
                                                           alt-input-formats="altInputFormats"
                                                           ng-change="recalculaCrediario(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.DataVencimentoSelecionado)" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </p>
                                            </td>
                                            <td>
                                                $ <input type="number" class="form-control" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.DataVencimentoSelecionado"
                                                         ng-required="true"
                                                         ng-change="recalculaCrediario(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.DataVencimentoSelecionado)" />
                                            </td>
                                            <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ValorTotalJurosPorAtraso | date: 'dd/MM/yyyy'" }}</td>
                                            <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ValorTotalJurosPorAtraso }}</td>
                                            <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ValorTotalJurosPorAtraso }}%</td>
                                            <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ValorTotalJurosPorAtraso | currency:"$" }}</td>
                                            <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ValorTotalJurosPorAtraso | currency:"$" }}</td>
                                            <td ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirValorTotalAmortizado">
                                                {{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ValorTotalAmortizado }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="fl_wd100" style="padding: 0 !important;margin: 5px 0 15px !important;" />
                <div class="col-sm-12" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirOpcaoParcial">
                    <div class="radio col-sm-12 col-md-1">
                        <label>
                            <input ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.TipoQuitacao" type="radio" name="rdoTipoQuitacao" value="Parcial" ng-change="exibeParcial(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.TipoQuitacao)" />
                            Anticipo de Pagos
                        </label>
                    </div>
                </div>
                <div uib-accordion-group class="panel-danger mrg15" heading="Mensaje" is-open="true" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirMensagemConfirmacao">
                    <div class="col-sm-12">
                        <p>Las mensualidades futuras serán descontadas del saldo del cliente. Cliente en Continuar Ejecución para finalizar el proceso.</p>
                    </div>
                </div>
            </div>

        </uib-accordion>                
    </div>

    <div ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
        <textarea class="form-control" id="txtAnotacaoQuitacao" name="txtAnotacaoQuitacao" placeholder="Anotação:" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['Observacao']" style="resize:none" ng-required="true" rows="3"></textarea>
    </div>
    <div>
        <span class="text-danger">{{MsgRetorno}}</span>
    </div>
</div>
<div class="modal-footer" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirConfirmacao">
    <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
        <button class="btn btn-primary" type="button" ng-click="confirmar()">Continuar Execução</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Fechar Protocolo(Simulação de Valores)</button>
    </div>    
</div>