﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Pruebas - Prototipo - Traspaso de Pagos</h3>
    <div class="checkbox" style="float:right">
        <label><input type="checkbox" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">Enviar a Soporte de Operaciones</label>
    </div>
</div>
<div class="modal-body" id="modal-body">
    <div ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoDeCuenta = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoDeCuenta)"></div>
    <div>
        <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
            <div class="table-responsive" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoDeCuenta.length > 0">
                <table st-table="ExtratoDeCuentaDisplay" st-safe-src="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoDeCuenta" class="table table-striped" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoDeCuenta">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Fecha</th>
                            <th>Orig</th>
                            <th>Fecha de la Operación</th>
                            <th>Extension de la Operación</th>
                            <th>Débito</th>
                            <th>Crédito</th>
                            <th>Saldo</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="oTransacao in ExtratoDeCuentaDisplay">
                            <td><input type="checkbox" ng-model="oTransacao.isSelected" /></td>
                            <td>{{oTransacao.Data != '0001-01-01T00:00:00' ? oTransacao.Data : ''| date:'dd/MM/yyyy'}}</td>
                            <td>{{oTransacao.Origem}}</td>
                            <td>{{oTransacao.DataReferencia != '0001-01-01T00:00:00' ? oTransacao.DataReferencia : ''| date:'dd/MM/yyyy'}}</td>
                            <td>{{oTransacao.Operacao}}</td>
                            <td>{{oTransacao.Debito | currency:"$"}}</td>
                            <td>{{oTransacao.Credito | currency:"$"}}</td>
                            <td>{{oTransacao.Saldo | currency:"$"}}</td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <span class="text-danger">{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Observacao}}</span>
            </div>            
        </div>
        <div ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
            <textarea class="form-control" id="txtAnotacaoExtratoDeCuenta" name="txtAnotacaoExtratoDeCuenta" placeholder="Anotación:" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['Observacao']" style="resize:none" ng-required="true" rows="10"></textarea>
        </div>
    </div>
    <div>
        <span class="text-danger">{{MsgRetorno}}</span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Continuar Ejecución</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>

