﻿<div class="row">
    <div class="col-md-12">
        <form name="frmDominio" class="form-horizontal" ng-submit="InsereDominio()" role="form">
            <div class="form-group space">
                <uib-accordion close-others="false">
                    <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Usuário" is-open="true">
                        <div class="form-group" ng-if="Clientes.length > 1">
                            <label for="ddlCliente" class="col-sm-2 control-label">Cliente:</label>
                            <div class="col-sm-10 space">
                                <select class="form-control" id="ddlCliente" name="ddlCliente" ng-model="oDominio.IdCliente" ng-change="ListaScript(oDominio.IdCliente, 0, 0)" ng-required="true">
                                    <option value="">---Selecione---</option>
                                    <option ng-repeat="oCliente in Clientes" ng-value="oCliente.Id">{{oCliente.NomeRazaoSocial}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ddlScript" class="col-sm-2 control-label">Script:</label>
                            <div class="col-sm-10 space">
                                <select class="form-control" id="ddlScript" name="ddlScript" ng-model="oDominio.IdScript" ng-required="true">
                                    <option value="">---Selecione---</option>
                                    <option ng-repeat="oScript in Scripts" ng-value="oScript.Id">{{oScript.Descricao}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dllAtivo" class="col-sm-2 control-label">Ativo:</label>
                            <select class="form-control" id="dllAtivo" name="dllAtivo" ng-model="oDominio.Ativo" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>
                </uib-accordion>
            </div>
            <div class="form-actions">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmDominio.$invalid" class="btn btn-primary">Inserir</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>



