﻿<div class="row">
    <div class="col-md-12">
        <form name="frmScriptCodigoRetorno" ng-submit="InsereScriptCodigoRetorno()" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Código de Retorno" is-open="true">
                    <div class="col-sm-12 col-md-3 col-lg-3" ng-if="Clientes.length > 1">
                        <div class="form-group">
                            <label for="ddlCliente" class="wd100">Cliente</label>
                            <select class="form-control" id="ddlCliente" name="ddlCliente" ng-model="oScriptCodigoRetorno.IdCliente" ng-change="ListaScript(oScriptStep.IdCliente, 0, 0)" ng-required="false">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oCliente in Clientes" ng-value="oCliente.Id">{{oCliente.NomeRazaoSocial}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlScript" class="wd100">Script:</label>
                            <select class="form-control" id="ddlScript" name="ddlScript" ng-model="oScriptCodigoRetorno.IdScript" ng-required="false">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oScript in Scripts" ng-value="oScript.Id">{{oScript.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtCodigo" class="wd100">Código:</label>
                            <input type="number" class="form-control" id="txtCodigo" name="txtCodigo" ng-model="oScriptCodigoRetorno.Codigo" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtDescricao" class="wd100">Descrição:</label>
                            <input type="text" class="form-control" id="txtDescricao" name="txtDescricao" ng-model="oScriptCodigoRetorno.Descricao" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="dllAtivo" class="wd100">Ativo:</label>
                            <select class="form-control" id="dllAtivo" name="dllAtivo" ng-model="oScriptCodigoRetorno.Ativo" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>
                </div>
            </uib-accordion>
            <div class="form-actions mrg15">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmScriptCodigoRetorno.$invalid" class="btn btn-primary">Inserir</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>



