﻿<div class="fl_wd100 actionArea">
    <button type="button" class="btn btn-primary" ng-click="btnNovo()">
        <i class="glyphicon glyphicon-plus"></i> Novo
    </button>
</div>

<div class="table-responsive fl_wd100 mrg10">
    <table st-table="CodigosRetornoDisplay" st-safe-src="CodigosRetorno" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th st-sort="IdScript">Script</th>
                <th st-sort="Codigo">Código</th>
                <th st-sort="Descricao">Descrição</th>
                <th st-sort="Ativo">Ativo</th>
                <th st-sort="AutorCriacao">Autor Criação</th>
                <th st-sort="DataCriacao">Data de Criação</th>
                <th st-sort="AutorAlteracao">Autor Alteração</th>
                <th st-sort="DataAlteracao">Data de Alteração</th>
            </tr>
            <tr>
                <th colspan="8" style="display:none;">
                    <input id="stSearchCustom" st-search placeholder="Pesquisa Rápida" class="input-sm fr col-md-3" type="search" style="display:none;" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oScriptCodigoRetorno in CodigosRetornoDisplay" on-end-repeat-st>
                <td>
                    <button type="button" ng-click="btnEditar()" class="btn btn-xs btn-info">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </td>
                <td>
                    <div ng-repeat="oScript in Scripts track by $index" ng-if="oScript.Id === oScriptCodigoRetorno.IdScript">
                        {{oScript.Descricao}}
                    </div>
                </td>
                <td>{{oScriptCodigoRetorno.Codigo}}</td>
                <td>{{oScriptCodigoRetorno.Descricao}}</td>
                <td>{{oScriptCodigoRetorno.Ativo === true ? 'Sim' : 'Não'}}</td>
                <td>{{oScriptCodigoRetorno.AutorCriacao}}</td>
                <td>{{oScriptCodigoRetorno.DataCriacao != '0001-01-01T00:00:00' ? oScriptCodigoRetorno.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oScriptCodigoRetorno.AutorAlteracao}}</td>
                <td>{{oScriptCodigoRetorno.DataAlteracao != '0001-01-01T00:00:00' ? oScriptCodigoRetorno.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10" class="text-left">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="Templates/pagination_custom.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

