﻿<div class="row">
    <div class="col-sm-12">
        <form name="frmScriptSistemaAcesso" ng-submit="InsereScriptSistemaAcesso()" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Usuário do Sistema Automatizado" is-open="true">
                    <div class="col-sm-12 col-md-3 col-lg-3" ng-if="Clientes.length > 1">
                        <div class="form-group">
                            <label for="ddlCliente" class="wd100">Cliente</label>
                            <select class="form-control" id="ddlCliente" name="ddlCliente" ng-model="oScriptStepReprocessamento.IdCliente" ng-change="ListaScript(oScriptStepReprocessamento.IdCliente, 0, 0)" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oCliente in Clientes" ng-value="oCliente.Id">{{oCliente.NomeRazaoSocial}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlScriptSistema" class="wd100">Sistema Automatizado</label>
                            <select class="form-control" id="ddlScriptSistema" name="ddlScriptSistema" ng-model="oScriptSistemaAcesso.IdScriptSistema" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oScriptSistema in ScriptSistemas" ng-value="oScriptSistema.Id">{{oScriptSistema.Hostname}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlScriptSistemaAcessoStatus" class="wd100">Status</label>
                            <select class="form-control" id="ddlScriptSistemaAcessoStatus" name="ddlScriptSistemaAcessoStatus" ng-model="oScriptSistemaAcesso.IdScriptSistemaAcessoStatus" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oScriptSistemaAcessoStatus in StatusAcessoSistema" ng-value="oScriptSistemaAcessoStatus.Id">{{oScriptSistemaAcessoStatus.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtLogin" class="wd100">Login</label>
                            <input type="text" class="form-control" id="txtLogin" name="txtLogin" ng-model="oScriptSistemaAcesso.Login" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtSenha" class="wd100">Senha</label>
                            <input type="password" class="form-control" id="txtSenha" name="txtSenha" ng-model="oScriptSistemaAcesso.Senha" ng-keyup="ValidaConfirmacaoSenha()" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtSenha" class="wd100">Confirme a Senha</label>
                            <input type="password" name="txtConfirmacaoSenha" id="txtConfirmacaoSenha" class="form-control" ng-model="oScriptSistemaAcesso.ConfirmacaoSenha" ng-keyup="ValidaConfirmacaoSenha()" required />
                            <span ng-show="frmScriptSistemaAcesso.txtConfirmacaoSenha.$error.txtConfirmacaoSenha" class="help-block">
                                A confirmação tem que ser idêntica a 'Senha' preenchida.
                            </span>
                        </div>
                    </div>
                    <!--<div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtDataLiberacaoSuspensaoTemporaria" class="wd100">Data de Liberação da Suspensão Temporária</label>
                            <input type="text" class="form-control inputDate" id="txtDataLiberacaoSuspensaoTemporaria" name="txtDataLiberacaoSuspensaoTemporaria" placeholder="Data de Liberação da Suspensão Temporária" ng-model="{{oScriptSistemaAcesso.DataLiberacaoSuspensaoTemporaria != '0001-01-01T00:00:00' ? oScriptSistemaAcesso.DataLiberacaoSuspensaoTemporaria : '' | date:'dd/MM/yyyy HH:mm:ss'}}" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" />
                        </div>
                    </div>-->
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="dllAtivo" class="wd100">Ativo</label>
                            <select class="form-control" id="dllAtivo" name="dllAtivo" ng-model="oScriptSistemaAcesso.Ativo" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="txtFaixasHorariosValidos" class="wd100">Faixa Horários Validos</label>
                            <textarea class="form-control" id="txtFaixasHorariosValidos" name="txtFaixasHorariosValidos" ng-model="oScriptSistemaAcesso.FaixasHorariosValidos" rows="4"></textarea>
                        </div>
                    </div>
                </div>
            </uib-accordion>
            <div class="form-actions">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmScriptSistemaAcesso.$invalid" class="btn btn-primary">Inserir</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>



