﻿<div class="fl_wd100 actionArea">
    <button type="button" class="btn btn-primary fl" ng-click="btnNovo()">
        <i class="glyphicon glyphicon-plus"></i> Novo
    </button>
    <button type="button" class="btn btn-primary fr" ng-click="btnFiltroPesquisaAvancada('lg')">
        <i class="glyphicon glyphicon-filter"></i> Pesquisa Avançada
    </button>
</div>

<div class="table-responsive fl_wd100 mrg10">
    <table st-table="ScriptSistemaAcessosDisplay" st-safe-src="ScriptSistemaAcessos" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th st-sort="Login">Usuário</th>
                <th st-sort="IdScriptSistema">Sistema Automatizado</th>
                <th st-sort="IdScriptSistemaAcessoStatus">Status</th>
                <th st-sort="DataLiberacaoSuspensaoTemporaria">Data de Suspensão Temp.</th>
                <th st-sort="Ativo">Ativo</th>
                <th st-sort="AutorCriacao">Autor Criação</th>
                <th st-sort="DataCriacao">Data de Criação</th>
                <th st-sort="AutorAlteracao">Autor Alteração</th>
                <th st-sort="DataAlteracao">Data de Alteração</th>
            </tr>
            <tr>
                <th colspan="9" style="display:none;">
                    <input id="stSearchCustom" st-search placeholder="Pesquisa Rápida" class="input-sm fr mrgRight2 col-md-3" type="search" style="display:none;" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oScriptSistemaAcesso in ScriptSistemaAcessosDisplay"  on-end-repeat-st>
                <td>
                    <button type="button" ng-click="btnEditar()" class="btn btn-xs btn-info">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </td>
                <td>{{oScriptSistemaAcesso.Login}}</td>
                <td>
                    <div ng-repeat="oScriptSistema in ScriptSistemas track by $index" ng-if="oScriptSistema.Id === oScriptSistemaAcesso.IdScriptSistema">
                        {{oScriptSistema.Hostname}}
                    </div>
                </td>
                <td>
                    <div ng-repeat="oSistemaAcessoStatus in StatusAcessoSistema track by $index" ng-if="oSistemaAcessoStatus.Id === oScriptSistemaAcesso.IdScriptSistemaAcessoStatus">
                        {{oSistemaAcessoStatus.Descricao}}
                    </div>
                </td>
                <td>{{oScriptSistemaAcesso.DataLiberacaoSuspensaoTemporaria != '0001-01-01T00:00:00' ? oScriptSistemaAcesso.DataLiberacaoSuspensaoTemporaria : '' | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oScriptSistemaAcesso.Ativo === true ? 'Sim' : 'Não'}}</td>
                <td>{{oScriptSistemaAcesso.AutorCriacao}}</td>
                <td>{{oScriptSistemaAcesso.DataCriacao != '0001-01-01T00:00:00' ? oScriptSistemaAcesso.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oScriptSistemaAcesso.AutorAlteracao}}</td>
                <td>{{oScriptSistemaAcesso.DataAlteracao != '0001-01-01T00:00:00' ? oScriptSistemaAcesso.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="11" class="text-left">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="Templates/pagination_custom.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

