﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Critérios da Pesquisa Avançada!</h3>
</div>
<div class="modal-body" id="modal-body">
    <form role="form">
        <div class="form-row">
            <div class="form-group col-sm-6 col-md-4 col-lg-3" ng-if="Clientes.length > 1">
                <div class="form-group">
                    <label for="ddlCliente" class="wd100">Cliente</label>
                    <select class="form-control" id="ddlCliente" name="ddlCliente" ng-model="oFiltroPesquisaAvancada.IdCliente" ng-change="ListaScriptSistema(oFiltroPesquisaAvancada.IdCliente, 0)" ng-required="false">
                        <option value="">---Todos---</option>
                        <option ng-repeat="oCliente in Clientes" ng-value="oCliente.Id">{{oCliente.NomeRazaoSocial}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-4 col-lg-3">               
                <label for="ddlScriptSistema" class="wd100">Sistema Automatizado</label>
                <select class="form-control" id="ddlScriptSistema" name="ddlScriptSistema" ng-model="oFiltroPesquisaAvancada.IdScriptSistema" ng-required="true">
                    <option value="">---Todos---</option>
                    <option ng-repeat="oScriptSistema in ScriptSistemas" ng-value="oScriptSistema.Id">{{oScriptSistema.Hostname}}</option>
                </select>
             </div>
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label for="ddlScriptSistemaAcessoStatus" class="wd100">Status</label>
                    <select class="form-control" id="ddlScriptSistemaAcessoStatus" name="ddlScriptSistemaAcessoStatus" ng-model="oFiltroPesquisaAvancada.IdScriptSistemaAcessoStatus" ng-required="true">
                        <option value="">---Todos---</option>
                        <option ng-repeat="oScriptSistemaAcessoStatus in StatusAcessoSistema" ng-value="oScriptSistemaAcessoStatus.Id">{{oScriptSistemaAcessoStatus.Descricao}}</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="btnPesquisar()">Pesquisar/Atualizar</button>
    <button class="btn btn-warning" type="button" ng-click="btnFechar()">Fechar</button>
</div>


