﻿<div class="modal-header" ng-init="ParseInit()">
    <h3 class="modal-title" id="modal-title">
        <span class="fl">Parcelamento Fatura - {{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.NomeCliente}}</span>
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <div ng-if="!mostrarConfirmacao">
        <uib-accordion close-others="false" >
            <div uib-accordion-group class="panel-primary hoverable" heading="Informações Parcelamento" is-open="true" ng-if="parcelamentoFatura.ValorTotal > 0 ">
                <div class="table-responsive txtCenter">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Valor Total(R$)</th>
                                <th>Valor da Parcela</th>
                                <th>Antecipação</th>
                                <th>Valor Financiado(R$)</th>
                                <th>Numero de Parcelas</th>
                                <th>Juros(R$)</th>
                                <th>IOF(R$)</th>
                                <th>Tarifas(R$)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ parcelamentoFatura.ValorTotal }}</td>
                                <td>{{ ValorParcela }}</td>
                                <td>{{ Antecipacao }}</td>
                                <td>{{ parcelamentoFatura.ValorFinanciado }}</td>
                                <td>{{ parcelamentoFatura.NumeroFaturas }}</td>
                                <td>{{ parcelamentoFatura.Juros }}</td>
                                <td>{{ parcelamentoFatura.IOF }}</td>
                                <td>{{ parcelamentoFatura.Tarifas }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div uib-accordion-group class="panel-primary hoverable mrg15" heading="Novo Calculo" is-open="true" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['NovaConsulta']=false">
                <div class="checkbox" style="float:left">
                    <label><input type="checkbox" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['NovaConsulta']">Realizar Nova Consulta?</label>
                </div>
                <div class="table-responsive txtCenter" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['NovaConsulta']">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Valor Fatura</th>
                                <th>Numero Mínimo de Parcelas</th>
                                <th>Número Máximo de Parcelas</th>
                                <th>Pagamento Mínimo(R$)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ ValorFatura }}</td>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MinimoParcelas}}</td>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MaximoParcelas}}</td>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PagamentoMinimo  }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['NovaConsulta']">
                    <form>
                        <div class="col-sm-12">
                            <div class="form-group col-md-6">
                                <label>Antecipação</label>
                                <input type="number" class="form-control" id="inputAntecipacao" placeholder="{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Antecipacao}}" ng-model="Antecipacao" />
                            </div>
                            <div class="form-group  col-md-6">
                                <label>Numero de Parcelas</label>
                                <input type="number"
                                       class="form-control"
                                       id="inputNumeroParcelas"
                                       placeholder="{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.NumeroParcelasCliente}}"
                                       ng-model="NumeroParcelasCliente" />
                            </div>
                        </div>

                        <button class="btn btn-primary right"
                                type="button"
                                ng-click="ok_calculo()"
                                ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['NovaConsulta'] && !oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ClienteSolicitaExtrato']"
                                ng-disabled="Antecipacao < PagamentoMinimo || Antecipacao > ValorFatura || NumeroParcelasCliente < MinimoParcelas ||  NumeroParcelasCliente > MaximoParcelas">
                            Novo Cálculo
                        </button>
                        <button class="btn btn-primary right"
                                type="button"
                                ng-click="ok_calculo()"
                                ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['NovaConsulta'] && oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ClienteSolicitaExtrato']"
                                ng-disabled="Antecipacao < PagamentoMinimo || Antecipacao > ValorFatura || NumeroParcelasCliente < MinimoParcelas || NumeroParcelasCliente > MaximoParcelas">
                            Novo Cálculo / Consultar Extrato do Cliente
                        </button>
                    </form>
                </div>
            </div>
            <div uib-accordion-group class="panel-primary hoverable mrg15" heading="Extrato Cliente" is-open="true" ng-init="ParseListaExtrato()">
                <div class="checkbox" style="float:left" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaExtrato" >
                    <label><input type="checkbox" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ClienteSolicitaExtrato']">Consultar extrato do cliente?</label>
                </div>
                <uib-tabset active="active">
                    <uib-tab heading="{{ExtratoEntries[0]}}" ng-repeat="ExtratoEntries in lstListaExtrato" ng-init="console.log(lstListaExtrato)">
                        <div class="table-responsive">
                            <table class="table table-striped" >
                                <thead>
                                    <tr>
                                        <th>Descrição Extrato</th>
                                        <th>Data Transação</th>
                                        <th>Valor Dólar(USD)</th>
                                        <th>Valor Real(R$)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="oItemExtrato in ExtratoEntries[1]" ng-init="console.log(lstListaExtrato)">
                                        <td>{{ oItemExtrato.Descricao }}</td>
                                        <td>{{ oItemExtrato.DataTransacao }}</td>
                                        <td>USD${{ oItemExtrato.ValorDolar }}</td>
                                        <td>R${{ oItemExtrato.ValorReal }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </uib-accordion>
    </div>
    <div ng-if="mostrarConfirmacao">
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-danger mrg15" heading="Confirmação do Parcelamento" is-open="true">
                <div class="col-sm-12">
                    <p>Tem certeza que deseja continuar o Parcelamento?</p>
                    <p>Caso diga "Sim", lembre-se de informar ao cliente que esse processo é irreversível, uma vez aceita, não pode ser desfeita.</p>
                </div>
                <div class="container-fluid">
                    <form>
                        <div class="col-md-1">
                            <button class="btn btn-warning col-xs-offset-1" type="button" ng-click="desconfirmar()">Não</button>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-primary" type="button" ng-click="ok()">Sim</button>
                        </div>
                    </form>
                </div>
            </div>
        </uib-accordion>
    </div>
</div>
<div class="modal-footer"  ng-if="!mostrarConfirmacao">
    <div>
        <button class="btn btn-primary" 
                type="button" 
                ng-click="confirmar()"
                ng-if="parcelamentoFatura.ValorTotal > 0 && !oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['NovaConsulta']" >
            Confirmar Parcelamento
        </button>

        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar Atendimento</button>
    </div>
</div>