﻿<div class="row">
    <div class="col-sm-12">
        <form name="frmScriptStepReprocessamento" ng-submit="AtualizaScriptStepReprocessamento()" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable mrg15" heading="Dados da Configuração de Reprocessamento de Step" is-open="true">
                    <div class="col-sm-12 col-md-3 col-lg-3" ng-if="Clientes.length > 1">
                        <div class="form-group">
                            <label for="ddlCliente" class="wd100">Cliente</label>
                            <select class="form-control" id="ddlCliente" name="ddlCliente" ng-model="oScriptStepReprocessamento.IdCliente" ng-change="ListaScript(oScriptStepReprocessamento.IdCliente, 0, 0)" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oCliente in Clientes" ng-value="oCliente.Id">{{oCliente.NomeRazaoSocial}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlScript" class="wd100">Script</label>
                            <select class="form-control" id="ddlScript" name="ddlScript" ng-model="oScriptStepReprocessamento.IdScript" ng-change="ListaScriptStep(oScriptStepReprocessamento.IdCliente, 0, 0, 0, oScriptStepReprocessamento.IdScript, 0)" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oScript in Scripts" ng-value="oScript.Id">{{oScript.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlScriptStep" class="wd100">Step</label>
                            <select class="form-control" id="ddlScriptStep" name="ddlScriptStep" ng-model="oScriptStepReprocessamento.IdScriptStep" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oScriptStep in Steps" ng-value="oScriptStep.Id">{{oScriptStep.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlScriptCodigoRetorno" class="wd100">Código de Retorno</label>
                            <select class="form-control" id="ddlScriptCodigoRetorno" name="ddlScriptCodigoRetorno" ng-model="oScriptStepReprocessamento.IdScriptCodigoRetorno" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oScriptCodigoRetorno in CodigosRetornos" ng-value="oScriptCodigoRetorno.Id">{{oScriptCodigoRetorno.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtTentativa" class="wd100">Tentativa</label>
                            <input type="number" class="form-control" id="txtTentativa" name="txtTentativa" ng-model="oScriptStepReprocessamento.Tentativa" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtIntervalo" class="wd100">Intervalo</label>
                            <input type="number" class="form-control" id="txtIntervalo" name="txtIntervalo" ng-model="oScriptStepReprocessamento.Intervalo" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtHorario" class="wd100">Horário</label>
                            <input type="text" class="form-control" id="txtHorario" name="txtHorario" ng-model="oScriptStepReprocessamento.Horario" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlStepReprocessamento" class="wd100">Step Reprocessamento</label>
                            <select class="form-control" id="ddlStepReprocessamento" name="ddlStepReprocessamento" ng-model="oScriptStepReprocessamento.IdStepTentativaReprocessamento" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oStepReprocessamento in Steps" ng-value="oStepReprocessamento.Id">{{oStepReprocessamento.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="dllAtivo" class="wd100">Ativo</label>
                            <select class="form-control" id="dllAtivo" name="dllAtivo" ng-model="oScriptStepReprocessamento.Ativo" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>
                </div>
            </uib-accordion>
            <div class="form-actions">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmScriptStepReprocessamento.$invalid" class="btn btn-primary">Atualizar</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>



