﻿<div class="fl_wd100 actionArea">
    <button type="button" class="btn btn-primary" ng-click="btnNovo()">
        <i class="glyphicon glyphicon-plus"></i> Novo
    </button>
</div>

<div class="table-responsive fl_wd100 mrg10">
    <table st-table="ReprocessamentosDisplay" st-safe-src="Reprocessamentos" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th st-sort="IdScriptStep">Step</th>
                <th st-sort="IdScriptCodigoRetorno">Código de Retorno</th>
                <th st-sort="Tentativa">Tentativa</th>
                <th st-sort="Intervalo">Intervalo</th>
                <th st-sort="Horario">Horário</th>
                <th st-sort="IdStepTentativaReprocessamento">Step de Reprocessamento</th>
                <th st-sort="Ativo">Ativo</th>
                <th st-sort="AutorCriacao">Autor Criação</th>
                <th st-sort="DataCriacao">Data de Criação</th>
                <th st-sort="AutorAlteracao">Autor Alteração</th>
                <th st-sort="DataAlteracao">Data de Alteração</th>
            </tr>
            <tr>
                <th colspan="12" style="display:none;">
                    <input id="stSearchCustom" st-search placeholder="Pesquisa Rápida" class="input-sm fr col-md-3" type="search" style="display:none;" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oScriptStepReprocessamento in ReprocessamentosDisplay" on-end-repeat-st>
                <td>
                    <button type="button" ng-click="btnEditar()" class="btn btn-xs btn-info">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </td>
                <td>
                    <div ng-repeat="oScriptStep in Steps track by $index" ng-if="oScriptStep.Id === oScriptStepReprocessamento.IdScriptStep">
                        {{oScriptStep.Descricao}}
                    </div>
                </td>
                <td>
                    <div ng-repeat="oScriptCodigoRetorno in CodigosRetornos track by $index" ng-if="oScriptCodigoRetorno.Id === oScriptStepReprocessamento.IdScriptCodigoRetorno">
                        {{oScriptCodigoRetorno.Descricao}}
                    </div>
                </td>
                <td>{{oScriptStepReprocessamento.Tentativa}}</td>
                <td>{{oScriptStepReprocessamento.Intervalo}}</td>
                <td>{{oScriptStepReprocessamento.Horario}}</td>
                <td>
                    <div ng-repeat="oScriptStepTentativaReprocessamento in Steps track by $index" ng-if="oScriptStepTentativaReprocessamento.Id === oScriptStepReprocessamento.IdStepTentativaReprocessamento">
                        {{oScriptStepTentativaReprocessamento.Descricao}}
                    </div>
                </td>
                <td>{{oScriptStepReprocessamento.Ativo === true ? 'Sim' : 'Não'}}</td>
                <td>{{oScriptStepReprocessamento.AutorCriacao}}</td>
                <td>{{oScriptStepReprocessamento.DataCriacao != '0001-01-01T00:00:00' ? oScriptStepReprocessamento.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oScriptStepReprocessamento.AutorAlteracao}}</td>
                <td>{{oScriptStepReprocessamento.DataAlteracao != '0001-01-01T00:00:00' ? oScriptStepReprocessamento.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="14" class="text-left">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="Templates/pagination_custom.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

