﻿<div class="BoxPreload">
    <div class="BoxPreload_structure">
        <div class="loader"></div>
        <div class="preload_txt fs_150">
            <span id="txtPreload"></span>
        </div>
    </div>
</div>
