﻿<div class="row">
    <div class="col-md-12">
        <form name="frmMenu" ng-submit="AtualizaMenu()" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Item de Menu" is-open="true">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label for="ddlMenuTipo"  class="wd100">Tipo de Menu</label>
                            <select class="form-control" id="ddlMenuTipo" name="ddlMenuTipo" ng-model="oMenu.IdMenuTipo" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oMenuTipo in MenuTipos" ng-value="oMenuTipo.Id">{{oMenuTipo.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label for="ddlMenuPai" class="wd100">Menu Relacionado</label>
                            <select class="form-control" id="ddlMenuPai" name="ddlMenuPai" ng-model="oMenu.IdMenuPai">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oMenu in Menus" ng-value="oMenu.Id">{{oMenu.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label for="txtDescricao" class="wd100">Descrição</label>
                            <input type="text" class="form-control" id="txtDescricao" ng-model="oMenu.Descricao" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label for="txtOrdemExibicao"  class="wd100">Ordem de Exibição</label>
                            <input type="text" class="form-control" id="txtOrdemExibicao" ng-model="oMenu.OrdemExibicao" ng-required="true" />
                        </div>
                    </div>
                </div>                
            </uib-accordion>

            <div class="form-actions">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmMenu.$invalid" class="btn btn-primary">Atualizar</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>



