﻿<div class="fl_wd100 actionArea">
    <button type="button" class="btn btn-primary" ng-click="btnNovo()">
        <i class="glyphicon glyphicon-plus"></i> Novo
    </button>
</div>

<div class="table-responsive fl_wd100 mrg10">
    <table st-table="MenusDisplay" st-safe-src="Menus" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th st-sort="IdMenuTipo">Tipo de Menu</th>
                <th st-sort="Descricao">Descrição</th>
                <th st-sort="OrdemExibicao">Ordem Exibiçao</th>
                <th st-sort="IdMenuPai">Menu Relacionado</th>
                <th st-sort="Ativo">Ativo</th>
                <th st-sort="AutorCriacao">Autor Criação</th>
                <th st-sort="DataCriacao">Data de Criação</th>
                <th st-sort="AutorAlteracao">Autor Alteração</th>
                <th st-sort="DataAlteracao">Data de Alteração</th>
            </tr>
            <tr>
                <th colspan="9"  style="display:none;">
                    <input id="stSearchCustom" st-search placeholder="Pesquisa Rápida" class="input-sm fr col-md-3" type="search" style="display:none;" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oMenu in MenusDisplay" on-end-repeat-st>
                <td>
                    <button type="button" ng-click="btnEditar()" class="btn btn-xs btn-info">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </td>
                <td>
                    <div ng-repeat="oMenuTipo in TiposMenus track by $index" ng-if="oMenuTipo.Id === oMenu.IdMenuTipo">
                        {{oMenuTipo.Descricao}}
                    </div>
                </td>
                <td>{{oMenu.Descricao}}</td>
                <td>{{oMenu.OrdemExibicao}}</td>
                <td>
                    <div ng-repeat="oMenuRelacionado in Menus track by $index" ng-if="oMenuRelacionado.Id === oMenu.IdMenuPai">
                        {{oMenuRelacionado.Descricao}}
                    </div>
                </td>
                <td>{{oMenu.Ativo === true ? 'Sim' : 'Não'}}</td>
                <td>{{oMenu.AutorCriacao}}</td>
                <td>{{oMenu.DataCriacao != '0001-01-01T00:00:00' ? oMenu.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oMenu.AutorAlteracao}}</td>
                <td>{{oMenu.DataAlteracao != '0001-01-01T00:00:00' ? oMenu.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="11" class="text-left">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="Templates/pagination_custom.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
