﻿<div class="row">
    <div class="col-sm-12">
        <form name="frmScript" ng-submit="InsereScript()" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Script" is-open="true">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="txtDescricao" class="wd100">Descrição</label>
                            <input type="text" class="form-control" id="txtDescricao" name="txtDescricao" ng-model="oScript.Descricao" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlScriptStatus" class="wd100">Status do Script</label>
                            <select class="form-control" id="ddlScriptStatus" name="ddlScriptStatus" ng-model="oScript.IdScriptStatus">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oScriptStatus in ListaStatusScript" ng-value="oScriptStatus.Id">{{oScriptStatus.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlScriptPrioridade" class="wd100">Prioridade do Script</label>
                            <select class="form-control" id="ddlScriptPrioridade" name="ddlScriptPrioridade" ng-model="oScript.IdScriptPrioridade">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oScriptPrioridade in ListaPrioridadeScript" ng-value="oScriptPrioridade.Id">{{oScriptPrioridade.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label for="ddlScriptPai" class="wd100">Script Relacionado</label>
                            <select class="form-control" id="ddlScriptPai" name="ddlScriptPai" ng-model="oScript.IdScriptPai">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oScriptRelacionado in Scripts" ng-value="oScriptRelacionado.Id">{{oScriptRelacionado.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlProcessoClassificacaoPrioridade" class="wd100">Classificação de Prioridade do Processo</label>
                            <select class="form-control" id="ddlProcessoClassificacaoPrioridade" name="ddlProcessoClassificacaoPrioridade" ng-model="oScript.IdProcessoClassificacaoPrioridade">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oProcessoClassificacaoPrioridade in ClassificacoesPrioridade" ng-value="oProcessoClassificacaoPrioridade.Id">{{oProcessoClassificacaoPrioridade.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtLabelChaveProcesso" class="wd100">Label da Chave do Processo</label>
                            <input type="text" class="form-control" id="txtLabelChaveProcesso" name="txtLabelChaveProcesso" ng-model="oScript.LabelChaveProcesso" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtMascaraChaveProcesso" class="wd100">Máscara da Chave do Processo</label>
                            <input type="text" class="form-control" id="txtMascaraChaveProcesso" name="txtMascaraChaveProcesso" ng-model="oScript.MascaraChaveProcesso" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlHabilitaUploadArquivos" class="wd100">Habilita Upload de Arquivos?</label>
                            <select class="form-control" id="ddlHabilitaUploadArquivos" name="ddlHabilitaUploadArquivos" ng-model="oScript.HabilitaUploadArquivos" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlExecucaoInstantanea" class="wd100">Online?</label>
                            <select class="form-control" id="ddlExecucaoInstantanea" name="ddlExecucaoInstantanea" ng-model="oScript.ExecucaoInstantanea" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlEnvioFilaAutomatico" class="wd100">Envio Fila Automático?</label>
                            <select class="form-control" id="ddlEnvioFilaAutomatico" name="ddlEnvioFilaAutomatico" ng-model="oScript.EnvioFilaAutomatico" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtTempoEsperaFilaEmSegundos" class="wd100">Tempo Espera Fila Em Segundos</label>
                            <input type="number" class="form-control" id="txtTempoEsperaFilaEmSegundos" name="txtTempoEsperaFilaEmSegundos" ng-model="oScript.TempoEsperaFilaEmSegundos" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtQuantidadeTentativas" class="wd100">Qtde de Tentativas</label>
                            <input type="number" class="form-control" id="txtQuantidadeTentativas" name="txtQuantidadeTentativas" ng-model="oScript.QuantidadeTentativas" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtCodigoEspecificacao" class="wd100">Código de Especificação</label>
                            <input type="text" class="form-control" id="txtCodigoEspecificacao" name="txtCodigoEspecificacao" ng-model="oScript.CodigoEspecificacao" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlGeraChaveUnica" class="wd100">Gera Chave Única?</label>
                            <select class="form-control" id="ddlGeraChaveUnica" name="ddlGeraChaveUnica" ng-model="oScript.GeraChaveUnica" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlForcaFinalizacaoChaveUnica" class="wd100">Força Finalização Chave Única?</label>
                            <select class="form-control" id="ddlForcaFinalizacaoChaveUnica" name="ddlForcaFinalizacaoChaveUnica" ng-model="oScript.ForcaFinalizacaoChaveUnica" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="dllAtivo" class="wd100">Ativo</label>
                            <select class="form-control" id="dllAtivo" name="dllAtivo" ng-model="oScript.Ativo" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>            
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="txtMotivo" class="wd100">Motivo:</label>
                            <textarea class="form-control" id="txtMotivo" name="txtMotivo" ng-model="oScript.Motivo" ng-required="true" rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div uib-accordion-group class="panel-primary hoverable mrg15" heading="Script de Automação" is-open="true">
                    <div class="col-sm-12 mrg15">
                        <div class="form-group">
                            <textarea class="form-control" id="txtScript" name="txtScript" ng-model="oScript.Script" ng-required="true" rows="20"></textarea>
                        </div>
                    </div>
                </div>
            </uib-accordion>
            <div class="form-actions mrg15">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmScript.$invalid" class="btn btn-primary">Inserir</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>



