﻿<div class="fl_wd100 actionArea">
    <button type="button" class="btn btn-primary fl" ng-click="btnNovo()">
        <i class="glyphicon glyphicon-plus"></i> Novo
    </button>
    <button type="button" class="btn btn-primary fr" ng-click="btnFiltroPesquisaAvancada('lg')" ng-if="false">
        <i class="glyphicon glyphicon-filter"></i> Pesquisa Avançada
    </button>
</div>

<div class="table-responsive fl_wd100 mrg10">
    <table st-table="ScriptsDisplay" st-safe-src="Scripts" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th st-sort="CodigoEspecificacao">Código Especificacao</th>
                <th st-sort="Descricao">Descricao</th>
                <th st-sort="IdScriptStatus">Status</th>
                <th st-sort="IdScriptPrioridade">Prioridade</th>
                <th st-sort="IdScriptPai">Script Relacionado</th>
                <th st-sort="IdProcessoClassificacaoPrioridade">Prioridade Processo</th>
                <th st-sort="ExecucaoInstantanea">Online</th>
                <th st-sort="EnvioFilaAutomatico">Envia Fila Auto?</th>
                <th st-sort="Ativo">Ativo</th>
                <th st-sort="AutorCriacao">Autor Criação</th>
                <th st-sort="DataCriacao">Data de Criação</th>
                <th st-sort="AutorAlteracao">Autor Alteração</th>
                <th st-sort="DataAlteracao">Data de Alteração</th>
            </tr>
            <tr>
                <th colspan="13" style="display:none;">
                    <input id="stSearchCustom" st-search placeholder="Pesquisa Rápida" class="input-sm fr col-md-3" type="search" style="display:none;" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oScript in ScriptsDisplay" on-end-repeat-st>
                <td>
                    <button type="button" ng-click="btnEditar()" class="btn btn-xs btn-info">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </td>
                <td>
                    <button type="button" onclick="window.open('http://rpa.novigo.com.br/flow/Quitacao.html')" class="btn btn-xs btn-info" ng-if="oScript.Id == 134">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                    <button type="button" onclick="window.open('http://rpa.novigo.com.br/flow/AlteracaoCadastralDataDeVencimento.html')" class="btn btn-xs btn-info" ng-if="oScript.Id == 42">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </td>
                <td>{{oScript.CodigoEspecificacao}}</td>
                <td>{{oScript.Descricao}}</td>
                <td>
                    <div ng-repeat="oScriptStatus in ListaStatusScript track by $index" ng-if="oScriptStatus.Id === oScript.IdScriptStatus">
                        {{oScriptStatus.Descricao}}
                    </div>
                </td>
                <td>
                    <div ng-repeat="oScriptPrioridade in ListaPrioridadeScript track by $index" ng-if="oScriptPrioridade.Id === oScript.IdScriptPrioridade">
                        {{oScriptPrioridade.Descricao}}
                    </div>
                </td>
                <td>
                    <div ng-repeat="oScriptRelacionado in Scripts track by $index" ng-if="oScriptRelacionado.Id === oScript.IdScriptPai">
                        {{oScriptRelacionado.Descricao}}
                    </div>
                </td>
                <td>
                    <div ng-repeat="oProcessoClassificacaoPrioridade in ClassificacoesPrioridade track by $index" ng-if="oProcessoClassificacaoPrioridade.Id === oScript.IdProcessoClassificacaoPrioridade">
                        {{oProcessoClassificacaoPrioridade.Descricao}}
                    </div>
                </td>
                <td>{{oScript.ExecucaoInstantanea === true ? 'Sim' : 'Não'}}</td>
                <td>{{oScript.EnvioFilaAutomatico === true ? 'Sim' : 'Não'}}</td>
                <td>{{oScript.Ativo === true ? 'Sim' : 'Não'}}</td>
                <td>{{oScript.AutorCriacao}}</td>
                <td>{{oScript.DataCriacao != '0001-01-01T00:00:00' ? oScript.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oScript.AutorAlteracao}}</td>
                <td>{{oScript.DataAlteracao != '0001-01-01T00:00:00' ? oScript.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="13" class="text-left">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="Templates/pagination_custom.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
