﻿<div class="row">
    <div class="col-sm-12">
        <form name="frmClienteRegraAcesso" ng-submit="AtualizaClienteRegraAcesso()" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable" heading="Dados da Regra de Acesso" is-open="true">
                    <div class="col-sm-12 col-md-3 col-lg-3" ng-if="Clientes.length > 1">
                        <div class="form-group">
                            <label for="ddlCliente" class="wd100">Cliente</label>
                            <select class="form-control" id="ddlCliente" name="ddlCliente" ng-model="oClienteRegraAcesso.IdCliente" ng-change="ListaPerfilAcesso(oClienteRegraAcesso.IdCliente)" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oCliente in Clientes" ng-value="oCliente.Id">{{oCliente.NomeRazaoSocial}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <div class="form-group">
                            <label for="txtDescricao" class="wd100">Descrição</label>
                            <input type="text" class="form-control" id="txtDescricao" name="txtDescricao" ng-model="oClienteRegraAcesso.Descricao" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtOrdemValidacao" class="wd100">Ordem de Validação</label>
                            <input type="number" class="form-control" id="txtOrdemValidacao" name="txtOrdemValidacao" ng-model="oClienteRegraAcesso.OrdemValidacao" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtDataInicioVigencia" class="wd100">Início da Vigência</label>
                            <input type="text" class="form-control inputDate" id="txtDataInicioVigencia" name="txtDataInicioVigencia" ng-model="{{oClienteRegraAcesso.DataInicioVigencia != '0001-01-01T00:00:00' ? oClienteRegraAcesso.DataInicioVigencia : '' | date:'dd/MM/yyyy HH:mm:ss'}}" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtDataFimVigencia" class="wd100">Fim da Vigência</label>
                            <input type="text" class="form-control inputDate" id="txtDataFimVigencia" name="txtDataFimVigencia" ng-model="{{oClienteRegraAcesso.DataFimVigencia != '0001-01-01T00:00:00' ? oClienteRegraAcesso.DataFimVigencia : '' | date:'dd/MM/yyyy HH:mm:ss'}}" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="dllAtivo" class="wd100">Ativo</label>
                            <select class="form-control" id="dllAtivo" name="dllAtivo" ng-model="oClienteRegraAcesso.Ativo" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>
                    <hr class="fl_wd100" />
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="txtPerfis" class="wd100">Perfils de Acesso</label>
                            <textarea class="form-control" id="txtPerfis" name="txtPerfis" ng-model="oClienteRegraAcesso.Perfis" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="txtUsuarios" class="wd100">Usuários</label>
                            <textarea class="form-control" id="txtUsuarios" name="txtUsuarios" ng-model="oClienteRegraAcesso.Usuarios" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="txtFaixasIp" class="wd100">Faixa de IPs</label>
                            <textarea class="form-control" id="txtFaixasIp" name="txtFaixasIp" ng-model="oClienteRegraAcesso.FaixasIp" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="txtFaixasHorariosValidos" class="wd100">Faixa Horários Validos</label>
                            <textarea class="form-control" id="txtFaixasHorariosValidos" name="txtFaixasHorariosValidos" ng-model="oClienteRegraAcesso.FaixasHorariosValidos" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="txtDiasSemana" class="wd100">Dias da Semana</label>
                            <textarea class="form-control" id="txtDiasSemana" name="txtDiasSemana" ng-model="oClienteRegraAcesso.DiasSemana" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </uib-accordion>

            <div class="form-actions">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmClienteRegraAcesso.$invalid" class="btn btn-primary">Atualizar</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>



