﻿<div class="fl_wd100 actionArea">
    <button type="button" class="btn btn-primary" ng-click="btnNovo()">
        <i class="glyphicon glyphicon-plus"></i> Novo
    </button>
</div>

<div class="table-responsive fl_wd100 mrg10">
    <table st-table="ClienteRegrasAcessoDisplay" st-safe-src="ClienteRegrasAcesso" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th st-sort="IdCliente">Cliente</th>
                <th st-sort="Descricao">Descrição</th>
                <th st-sort="OrdemValidacao">Ordem de Validação</th>
                <th st-sort="DataInicioVigencia">Inicio Vigência</th>
                <th st-sort="DataFimVigencia">Término Vigência</th>
                <th st-sort="Ativo">Ativo</th>
                <th st-sort="AutorCriacao">Autor Criação</th>
                <th st-sort="DataCriacao">Data de Criação</th>
                <th st-sort="AutorAlteracao">Autor Alteração</th>
                <th st-sort="DataAlteracao">Data de Alteração</th>
            </tr>
            <tr>
                <th colspan="10" style="display:none;">
                    <input id="stSearchCustom" st-search placeholder="Pesquisa Rápida" class="input-sm fr col-md-3" type="search" style="display:none;" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oClienteRegraAcesso in ClienteRegrasAcessoDisplay" on-end-repeat-st>
                <td>
                    <button type="button" ng-click="btnEditar()" class="btn btn-xs btn-info">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </td>
                <td>
                    <div ng-repeat="oCliente in Clientes track by $index" ng-if="oCliente.Id === oClienteRegraAcesso.IdCliente">
                        {{oCliente.NomeRazaoSocial}}
                    </div>
                </td>
                <td>{{oClienteRegraAcesso.Descricao}}</td>
                <td>{{oClienteRegraAcesso.OrdemValidacao}}</td>
                <td>{{oClienteRegraAcesso.DataInicioVigencia != '0001-01-01T00:00:00' ? oClienteRegraAcesso.DataInicioVigencia : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oClienteRegraAcesso.DataFimVigencia != '0001-01-01T00:00:00' ? oClienteRegraAcesso.DataFimVigencia : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oClienteRegraAcesso.Ativo === true ? 'Sim' : 'Não'}}</td>
                <td>{{oClienteRegraAcesso.AutorCriacao}}</td>
                <td>{{oClienteRegraAcesso.DataCriacao != '0001-01-01T00:00:00' ? oClienteRegraAcesso.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oClienteRegraAcesso.AutorAlteracao}}</td>
                <td>{{oClienteRegraAcesso.DataAlteracao != '0001-01-01T00:00:00' ? oClienteRegraAcesso.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="12" class="text-left">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="Templates/pagination_custom.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
