﻿<div class="row">
    <div class="col-md-12">
        <form name="frmProdutoVersao" ng-submit="AtualizaProdutoVersao()" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Produto" is-open="true">

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="ddlProduto" class="wd100">Produto</label>
                            <select class="form-control" id="ddlProduto" name="ddlProduto" ng-model="oProdutoVersao.IdProduto">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oProduto in ListaProdutos" ng-value="oProduto.Id">{{oProduto.Descricao}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="ddlProdutoVersaoStatus" class="wd100">Status Versão</label>
                            <select class="form-control" id="ddlProdutoVersaoStatus" name="ddlProdutoVersaoStatus" ng-model="oProdutoVersao.IdProdutoVersaoStatus">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oProdutoVersaoStatus in ListaProdutosVersaoStatus" ng-value="oProdutoVersaoStatus.Id">{{oProdutoVersaoStatus.Descricao}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtDescricao" class="wd100">Descrição</label>
                            <input type="text" class="form-control" id="txtDescricao" ng-model="oProdutoVersao.Descricao" ng-required="true" />
                        </div>
                    </div>

                </div>

                <div uib-accordion-group class="panel-primary hoverable" heading="Arquivos" is-open="true">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Tipo</th>
                                <th>Nome</th>
                                <th>Tamanho</th>
                                <th>Destino</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="oProdutoVersaoArquivo in oProdutoVersao.ProdutoVersaoArquivo">
                                <td>
                                    <button type="button" ng-click="btnDownload(oProdutoVersaoArquivo.Arquivo)" class="btn btn-xs btn-info">
                                        <i class="glyphicon glyphicon-download-alt"></i>
                                    </button>
                                </td>
                                <td>{{oProdutoVersaoArquivo.ProdutoVersaoArquivoTipo.Descricao}}</td>
                                <td>{{oProdutoVersaoArquivo.Arquivo.Nome}}</td>
                                <td>{{oProdutoVersaoArquivo.Arquivo.Tamanho}}</td>
                                <td><div title="{{oProdutoVersaoArquivo.Destino}}">{{oProdutoVersaoArquivo.Destino}}</div></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </uib-accordion>
            <div class="form-actions">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmProdutoVersao.$invalid" class="btn btn-primary">Atualizar</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>