﻿<div class="row">
    <div class="col-md-12">
        <form name="frmProdutoVersao" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Produto" is-open="true">

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="ddlProduto" class="wd100">Produto</label>
                            <select class="form-control" id="ddlProduto" name="ddlProduto" ng-model="oProdutoVersao.IdProduto">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oProduto in ListaProdutos" ng-value="oProduto.Id">{{oProduto.Descricao}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="ddlProdutoVersaoStatus" class="wd100">Status Versão</label>
                            <select class="form-control" id="ddlProdutoVersaoStatus" name="ddlProdutoVersaoStatus" ng-model="oProdutoVersao.IdProdutoVersaoStatus">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oProdutoVersaoStatus in ListaProdutosVersaoStatus" ng-value="oProdutoVersaoStatus.Id">{{oProdutoVersaoStatus.Descricao}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtDescricao" class="wd100">Descrição</label>
                            <input type="text" class="form-control" id="txtDescricao" ng-model="oProdutoVersao.Descricao" ng-required="true" />
                        </div>
                    </div>

                </div>

                <div uib-accordion-group class="panel-primary hoverable" heading="{{ oProdutoVersaoArquivo.ProdutoVersaoArquivoTipo.Descricao }}" is-open="true" ng-repeat="oProdutoVersaoArquivo in oProdutoVersao.ProdutoVersaoArquivo">
                    
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="file" class="wd100"></label>
                            <input type="file" id="file" name="file" multiple base-sixty-four-input onchange="angular.element(this).scope().SetFilesUpload(this)" class="btn btn-warning" ng-disabled="oProdutoVersaoArquivo.Enviado" />
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <button ng-click="btnUpload(oProdutoVersaoArquivo)" class="btn btn-primary" ng-disabled="oProdutoVersaoArquivo.Enviado">Upload</button>
                        </div>
                    </div>

                    <!--<div class="col-md-4" style="text-align:center;margin-bottom:10px;">
                        <input type="file" id="file" name="file" multiple base-sixty-four-input onchange="angular.element(this).scope().SetFilesUpload(this)" class="btn btn-warning" ng-disabled="oProdutoVersaoArquivo.Enviado" />
                    </div>-->
                    <!--<div class="col-md-3">
                        <button ng-click="btnUpload(oProdutoVersaoArquivo)" class="btn btn-primary" ng-disabled="oProdutoVersaoArquivo.Enviado">Upload</button>
                    </div>-->

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="txtDestino" class="wd100">Destino</label>
                            <input type="text" class="form-control" id="txtDestino" ng-model="oProdutoVersaoArquivo.Destino" ng-required="true" />
                        </div>
                    </div>

                </div>

                <!--<div uib-accordion-group class="panel-primary hoverable" heading="Arquivos" is-open="true">
                    <div ng-repeat="oProdutoVersaoArquivo in oProdutoVersao.ProdutoVersaoArquivo">
                        <div class="fl_wd100" style="float:left !important; width:100% !important;">
                            <div class="col-sm-12" style="padding-top:10px;">
                                <div class="col-md-4" style="text-align:center;margin-bottom:10px;">
                                    <label for="file" class="wd100">{{ oProdutoVersaoArquivo.ProdutoVersaoArquivoTipo.Descricao }}</label>
                                    <input type="file" id="file" name="file" multiple base-sixty-four-input onchange="angular.element(this).scope().SetFilesUpload(this)" class="btn btn-warning" ng-disabled="oProdutoVersaoArquivo.Enviado" />
                                </div>
                                <div class="col-md-3">
                                    <button ng-click="btnUpload(oProdutoVersaoArquivo)" class="btn btn-primary"  ng-disabled="oProdutoVersaoArquivo.Enviado">Upload</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="txtDestino" class="wd100">Destino</label>
                                <input type="text" id="txtDestino" name="txtDestino" class="btn btn-primary" ng-model="oProdutoVersaoArquivo.Destino" />
                            </div>
                        </div>
                    </div>
                </div>-->


            </uib-accordion>
            <div class="form-actions">
                <div class="col-sm-10">
                    <button type="button" ng-disabled="frmProdutoVersao.$invalid" class="btn btn-primary" ng-click="InsereProdutoVersao()">Inserir</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>