﻿<div class="row">
    <div class="col-sm-12">
        <form name="frmScriptInfoAdicional" ng-submit="InsereScriptInfoAdicional()" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable" heading="Dados da Informação Adicional" is-open="true">
                    <div class="col-sm-12 col-md-3 col-lg-3" ng-if="Clientes.length > 1">
                        <div class="form-group">
                            <label for="ddlCliente" class="wd100">Cliente</label>
                            <select class="form-control" id="ddlCliente" name="ddlCliente" ng-model="oScriptInfoAdicional.IdCliente" ng-change="ListaScript(oScriptInfoAdicional.IdCliente, 0, 0);ListaDominio(oScriptInfoAdicional.IdCliente, 0, 0);" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oCliente in Clientes" ng-value="oCliente.Id">{{oCliente.NomeRazaoSocial}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlScript" class="wd100">Script</label>
                            <select class="form-control" id="ddlScript" name="ddlScript" ng-model="oScriptInfoAdicional.IdScript" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oScript in Scripts" ng-value="oScript.Id">{{oScript.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlTabelaRelacionada" class="wd100">Tabela Relacionada</label>
                            <select class="form-control" id="ddlTabelaRelacionada" name="ddlTabelaRelacionada" ng-model="oScriptInfoAdicional.TabelaRelacionada" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option value="tbl_processo">tbl_processo</option>
                                <option value="tbl_processo_execucao">tbl_processo_execucao</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtNome" class="wd100">Nome</label>
                            <input type="number" class="form-control" id="txtNome" name="txtNome" ng-model="oScriptInfoAdicional.Numero" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtChave" class="wd100">Chave</label>
                            <input type="text" class="form-control" id="txtChave" name="txtChave" ng-model="oScriptInfoAdicional.Chave" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtNomeCampoBd" class="wd100">Nome do Campo BD</label>
                            <input type="text" class="form-control" id="txtNomeCampoBd" name="txtNomeCampoBd" ng-model="oScriptInfoAdicional.NomeCampoBd" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtTipoCampoBd" class="wd100">Tipo do Campo BD</label>
                            <input type="text" class="form-control" id="txtTipoCampoBd" name="txtTipoCampoBd" ng-model="oScriptInfoAdicional.TipoCampoBd" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlTipo" class="wd100">Tipo</label>
                            <select class="form-control" id="ddlTipo" name="ddlTipo" ng-model="oScriptInfoAdicional.Tipo" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option value="TEXTO">TEXTO</option>
                                <option value="NUMERO">NUMERO</option>
                                <option value="DATA">DATA</option>
                                <option value="HORA">HORA</option>
                                <option value="DOMINIO">DOMINIO</option>
                                <option value="SIMNAO">SIMNAO</option>
                                <option value="CPFCNPJ">CPFCNPJ</option>
                                <option value="CPF">CPF</option>
                                <option value="CNPJ">CNPJ</option>
                                <option value="EMAIL">EMAIL</option>
                                <option value="CEP">CEP</option>
                                <option value="TELEFONE">TELEFONE</option>
                                <option value="CELULAR">CELULAR</option>
                                <option value="TEMPLATE">TEMPLATE</option>
                                <option value="DECIMAL">DECIMAL</option>
                                <option value="PASSWORD">PASSWORD</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlCategoria" class="wd100">Categoria</label>
                            <select class="form-control" id="ddlCategoria" name="ddlCategoria" ng-model="oScriptInfoAdicional.Categoria" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option value="1">PADRÃO</option>
                                <option value="2">DETALHE</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtGrupoDetalhe" class="wd100">Grupo Detalhe</label>
                            <input type="text" class="form-control" id="txtGrupoDetalhe" name="txtGrupoDetalhe" ng-model="oScriptInfoAdicional.GrupoDetalhe" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlDominio" class="wd100">Dominio</label>
                            <select class="form-control" id="ddlDominio" name="ddlDominio" ng-model="oScriptInfoAdicional.IdDominio" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oDominio in Dominios" ng-value="oDominio.Id">{{oDominio.DescricaoDominio}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtTemplate" class="wd100">Template</label>
                            <input type="text" class="form-control" id="txtTemplate" name="txtTemplate" ng-model="oScriptInfoAdicional.Template" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtController" class="wd100">Controller</label>
                            <input type="text" class="form-control" id="txtController" name="txtController" ng-model="oScriptInfoAdicional.Controller" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="dllAtivo" class="wd100">Ativo</label>
                            <select class="form-control" id="dllAtivo" name="dllAtivo" ng-model="oScriptInfoAdicional.Ativo" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>
                </div>
            </uib-accordion>
            <div class="form-actions">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmScriptInfoAdicional.$invalid" class="btn btn-primary">Inserir</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>



