﻿<div class="row">
    <div class="col-sm-12">
        <form name="frmRoboVersao" ng-submit="InsereRoboVersao()" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable" heading="Dados da Versão" is-open="true">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlRoboVersaoStatus" class="wd100">Status</label>
                            <select class="form-control" id="ddlRoboVersaoStatus" name="ddlRoboVersaoStatus" ng-model="oRoboVersao.IdRoboVersaoStatus" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oRoboVersaoStatus in ListaStatusVersaoRobo " ng-value="oRoboVersaoStatus.Id">{{oRoboVersaoStatus.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="txtVersao" class="wd100">Versão</label>
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <input type="number" class="form-control" ng-model="oRoboVersao.Faixa1" ng-required="true" />
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <input type="number" class="form-control" ng-model="oRoboVersao.Faixa2" ng-required="true" />
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <input type="number" class="form-control" ng-model="oRoboVersao.Faixa3" ng-required="true" />
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <input type="number" class="form-control" ng-model="oRoboVersao.Faixa4" ng-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="txtValor" class="wd100">Observação</label>
                            <textarea class="form-control" id="txtObservacao" name="txtObservacao" ng-model="oRoboVersao.Observacao" ng-required="true" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="dllAtivo" class="wd100">Ativo</label>
                            <select class="form-control" id="dllAtivo" name="dllAtivo" ng-model="oRoboVersao.Ativo" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>
                </div>
                <div uib-accordion-group class="panel-primary hoverable mrg15" heading="Arquivos de Sistema" is-open="true">
                    <div ng-include="'Views/Sistema/Arquivo.html'" ng-controller="ArquivoController"></div>
                </div>
            </uib-accordion>
            <div class="form-actions mrg15">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmRoboVersao.$invalid" class="btn btn-primary">Inserir</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>



