﻿<div class="fl_wd100 actionArea">
    <button type="button" class="btn btn-primary" ng-click="btnNovo()">
        <i class="glyphicon glyphicon-plus"></i> Novo
    </button>
    <button type="button" class="btn btn-primary fr" ng-click="btnFiltroPesquisaAvancada('lg')">
        <i class="glyphicon glyphicon-filter"></i> Pesquisa Avançada
    </button>
</div>

<div class="table-responsive fl_wd100 mrg10">
    <table st-table="RoboVersoesDisplay" st-safe-src="RoboVersoes" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th st-sort="Id">Nº da Versão</th>
                <th st-sort="Versao">Release</th>
                <th st-sort="IdRoboVersaoStatus">Status</th>
                <th st-sort="Ativo">Ativo</th>
                <th st-sort="AutorCriacao">Autor Criação</th>
                <th st-sort="DataCriacao">Data de Criação</th>
                <th st-sort="AutorAlteracao">Autor Alteração</th>
                <th st-sort="DataAlteracao">Data de Alteração</th>
            </tr>
            <tr>
                <th colspan="7"  style="display:none;">
                    <input id="stSearchCustom" st-search placeholder="Pesquisa Rápida" class="input-sm fr mrgRight2 col-md-3" type="search" style="display:none;" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oRoboVersao in RoboVersoesDisplay" on-end-repeat-st>
                <td>
                    <button type="button" ng-click="btnEditar()" class="btn btn-xs btn-info">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </td>
                <td>{{oRoboVersao.Id}}</td>
                <td>{{oRoboVersao.Versao}}</td>
                <td>
                    <div ng-repeat="oRoboVersaoStatus in ListaStatusVersaoRobo track by $index" ng-if="oRoboVersaoStatus.Id === oRoboVersao.IdRoboVersaoStatus">
                        <span ng-style="{color: oRoboVersaoStatus.Id == 2 ? 'green' : 'red'}" style="font-weight:bold;">{{oRoboVersaoStatus.Descricao}}</span>
                    </div>
                </td>
                <td>{{oRoboVersao.Ativo === true ? 'Sim' : 'Não'}}</td>
                <td>{{oRoboVersao.AutorCriacao}}</td>
                <td>{{oRoboVersao.DataCriacao != '0001-01-01T00:00:00' ? oRoboVersao.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oRoboVersao.AutorAlteracao}}</td>
                <td>{{oRoboVersao.DataAlteracao != '0001-01-01T00:00:00' ? oRoboVersao.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9" class="text-left">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="Templates/pagination_custom.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
