﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Bizflow Detalhe ID - {{oBizflow.Id}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <uib-accordion close-others="false">

        <div uib-accordion-group class="panel-primary hoverable" heading="Dados Registrados" is-open="true">
            <form role="form">
                <div class="form-row">
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                        <label for="txtProcesso">Processo</label>
                        <input class="form-control" type="text" id="txtProcesso" name="txtProcesso" ng-model="oBizflow.IdProcesso" ng-required="false" ng-disabled="true" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                        <label for="txtProcessoExecucao">Processo Execução</label>
                        <input class="form-control" type="text" id="txtProcessoExecucao" name="txtProcessoExecucao" ng-model="oBizflow.IdProcessoExecucao" ng-required="false" ng-disabled="true" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                        <label for="txtRequisicao">Requisição</label>
                        <input class="form-control" type="text" id="txtRequisicao" name="txtRequisicao" ng-model="oBizflow.IdRequisicao" ng-required="false" ng-disabled="true" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                        <label for="txtStatus">Status</label>
                        <input class="form-control" type="text" id="txtStatus" name="txtStatus" ng-model="oBizflow.BizflowStatus.Descricao" ng-required="false" ng-disabled="true" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                        <label for="txtChaveProcesso">Chave Processo</label>
                        <input class="form-control" type="text" id="txtChaveProcesso" name="txtChaveProcesso" ng-model="oBizflow.ChaveProcesso" ng-required="false" ng-disabled="true" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                        <label for="txtTentativas">Tentativas</label>
                        <input class="form-control" type="text" id="txtTentativas" name="txtTentativas" ng-model="oBizflow.Tentativas" ng-required="false" ng-disabled="true" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                        <label for="txtAutorCriacao">Autor Criação</label>
                        <input class="form-control" type="text" id="txtAutorCriacao" name="txtAutorCriacao" ng-model="oBizflow.AutorCriacao" ng-required="false" ng-disabled="true" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                        <label for="txtDataCriacao">Dt. Criação</label>
                        <input class="form-control" type="text" id="txtDataCriacao" name="txtDataCriacao" ng-required="false" ng-disabled="true" value="{{ oBizflow.DataCriacao ? oBizflow.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss' }}" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                        <label for="txtAutorAlteracao">Autor Alteração</label>
                        <input class="form-control" type="text" id="txtAutorAlteracao" name="txtAutorAlteracao" ng-model="oBizflow.AutorAlteracao" ng-required="false" ng-disabled="true" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                        <label for="txtDataAlteracao">Dt. Alteração</label>
                        <input class="form-control" type="text" id="txtDataAlteracao" name="txtDataAlteracao" ng-required="false" ng-disabled="true" value="{{ oBizflow.DataAlteracao ? oBizflow.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss' }}" />
                    </div>
                </div>
            </form>
        </div>

        <div uib-accordion-group class="panel-primary hoverable" heading="Dados Enviados para o Bizflow" is-open="true">
            <form role="form">
                <div class="form-row">
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                        <label for="txtTLC_PROCESSO">TLC_PROCESSO</label>
                        <input class="form-control" type="text" id="txtTLC_PROCESSO" name="txtTLC_PROCESSO" ng-model="oBizflow.PropriedadesAdicionais.TLC_PROCESSO" ng-required="false" ng-disabled="true" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                        <label for="txtTLC_PROTOCOLO">TLC_PROTOCOLO</label>
                        <input class="form-control" type="text" id="txtTLC_PROTOCOLO" name="txtTLC_PROTOCOLO" ng-model="oBizflow.PropriedadesAdicionais.TLC_PROTOCOLO" ng-required="false" ng-disabled="true" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                        <label for="txtTLC_NUMERO_DOSSIE">TLC_NUMERO_DOSSIE</label>
                        <input class="form-control" type="text" id="txtTLC_NUMERO_DOSSIE" name="txtTLC_NUMERO_DOSSIE" ng-model="oBizflow.PropriedadesAdicionais.TLC_NUMERO_DOSSIE" ng-required="false" ng-disabled="true" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                        <label for="txtTLC_USUARIO">TLC_USUARIO</label>
                        <input class="form-control" type="text" id="txtTLC_USUARIO" name="txtTLC_USUARIO" ng-model="oBizflow.PropriedadesAdicionais.TLC_USUARIO" ng-required="false" ng-disabled="true" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                        <label for="txtTLC_DATA_EVENTO">TLC_DATA_EVENTO</label>
                        <input class="form-control" type="text" id="txtTLC_DATA_EVENTO" name="txtTLC_DATA_EVENTO" ng-model="oBizflow.PropriedadesAdicionais.TLC_DATA_EVENTO" ng-required="false" ng-disabled="true" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                        <label for="txtTLC_ETAPA">TLC_ETAPA</label>
                        <input class="form-control" type="text" id="txtTLC_ETAPA" name="txtTLC_ETAPA" ng-model="oBizflow.PropriedadesAdicionais.TLC_ETAPA" ng-required="false" ng-disabled="true" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                        <label for="txtTLC_ID_PROCESSO_EXTERNO">TLC_ID_PROCESSO_EXTERNO</label>
                        <input class="form-control" type="text" id="txtTLC_ID_PROCESSO_EXTERNO" name="txtTLC_ID_PROCESSO_EXTERNO" ng-model="oBizflow.PropriedadesAdicionais.TLC_ID_PROCESSO_EXTERNO" ng-required="false" ng-disabled="true" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                        <label for="txtTLC_OBSERVACAO">TLC_OBSERVACAO</label>
                        <input class="form-control" type="text" id="txtTLC_OBSERVACAO" name="txtTLC_OBSERVACAO" ng-model="oBizflow.PropriedadesAdicionais.TLC_OBSERVACAO" ng-required="false" ng-disabled="true" />
                    </div>
                </div>
            </form>
        </div>

        <div uib-accordion-group class="panel-primary hoverable" heading="Mensagem de Retorno" is-open="true">
            <pre>{{oBizflow.MensagemRetorno}}</pre>
        </div>

    </uib-accordion>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="btnFechar()">Fechar</button>
</div>