﻿<uib-accordion close-others="false">
    <div uib-accordion-group class="panel-primary hoverable mrg15" heading="Filtros" is-open="true">
        <div class="col-sm-12">
            <form>
                <div class="form-group col-sm-12 col-md-2">
                    <label for="txtStatus">Status</label>
                    <select class="form-control" id="txtStatus" name="txtStatus" ng-model="oParametro.Status" ng-required="true">
                        <option value="0">Todos</option>
                        <option value="1">Enviando</option>
                        <option value="2">Sucesso</option>
                        <option value="3">Erro</option>
                        <option value="4">Reenviando</option>
                        <option value="5">Cancelado</option>
                    </select>
                </div>
                <div class="form-group col-sm-12 col-md-2">
                    <label for="txtChaveProcesso">Chave Processo</label>
                    <input type="text" class="form-control" id="txtChaveProcesso" name="txtChaveProcesso" placeholder="Chave Processo" ng-model="oParametro.ChaveProcesso" />
                </div>
                <div class="form-group col-sm-12 col-md-2">
                    <label for="txtDataCriacaoInicial">Dt. Criação Inicial</label>
                    <p class="input-group">
                        <input id="txtDataCriacaoInicial" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                               ng-model="oParametro.DataCriacaoInicial"
                               is-open="popup1.opened" 
                               datepicker-options="dateOptions" 
                               ng-required="true"
                               close-text="Fechar" 
                               current-text="Hoje"
                               alt-input-formats="altInputFormats" />
                               <!--ng-change="" />-->

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group col-sm-12 col-md-2">
                    <label for="txtDataCriacaoFinal">Dt. Criação Final</label>
                    <p class="input-group">
                        <input id="txtDataCriacaoFinal" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                               ng-model="oParametro.DataCriacaoFinal"
                               is-open="popup2.opened" 
                               datepicker-options="dateOptions" 
                               ng-required="true"
                               close-text="Fechar" 
                               current-text="Hoje"
                               alt-input-formats="altInputFormats" />
                                <!--ng-change="" />-->

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group col-auto my-1">
                    <button class="btn btn-primary" type="button" ng-click="btnPesquisar()">Pesquisar</button>
                </div>
            </form>
        </div>
    </div>
</uib-accordion>
<div class="row txtCenter" ng-if="!ListaBizflow.length > 0">
    <h3>Nenhum registro encontrado!</h3>
</div>
<div class="table-responsive fl_wd100 mrg10" ng-if="ListaBizflow.length > 0">
    <table st-table="BizflowDisplay" st-safe-src="ListaBizflow" class="table table-striped mrgBot0">
        <thead>
            <tr>
                <th></th>
                <th st-sort="Id">ID</th>
                <th st-sort="IdProcesso">Processo</th>
                <th st-sort="IdProcessoExecucao">Processo Execução</th>
                <th st-sort="IdRequisicao">Requisição</th>
                <th st-sort="BizflowStatus.Descricao">Status</th>
                <th st-sort="ChaveProcesso">Chave Processo</th>
                <th st-sort="MensagemRetorno">Mensagem</th>
                <th st-sort="Tentativas">Tentativas</th>
                <th st-sort="AutorCriacao">Autor Criação</th>
                <th st-sort="DataCriacao">Dt. Criação</th>
                <th st-sort="AutorAlteracao">Autor Alteração</th>
                <th st-sort="DataAlteracao">Dt. Alteração</th>
            </tr>
            <tr>
                <th colspan="10" style="display:none;">
                    <input id="stSearchCustom" st-search placeholder="Pesquisa Rápida" class="input-sm fr mrgRight2 col-md-3" type="search" style="display:none;" />

                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oBizflow in BizflowDisplay" on-end-repeat-st>
                <td>
                    <button type="button" ng-click="btnEditar(oBizflow)" class="btn btn-xs btn-info" title="Visualizar Dados">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </td>
                <td>{{oBizflow.Id}}</td>
                <td>{{oBizflow.IdProcesso}}</td>
                <td>{{oBizflow.IdProcessoExecucao}}</td>
                <td>{{oBizflow.IdRequisicao}}</td>
                <td><div title="{{oBizflow.BizflowStatus.Descricao}}">{{oBizflow.BizflowStatus.Descricao}}</div></td>
                <td>{{oBizflow.ChaveProcesso}}</td>
                <td><div title="{{oBizflow.MensagemRetorno}}">{{oBizflow.MensagemRetorno}}</div></td>
                <td>{{oBizflow.Tentativas}}</td>
                <td>{{oBizflow.AutorCriacao}}</td>
                <td>{{oBizflow.DataCriacao ? oBizflow.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oBizflow.AutorAlteracao}}</td>
                <td>{{oBizflow.DataAlteracao ? oBizflow.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="13" class="text-left">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="Templates/pagination_custom.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>