﻿<div class="row">
    <div class="col-md-12">
        <form name="frmServicoRobo" ng-submit="InsereServicoRobo()" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable" heading="Dados do ServicoRobo" is-open="true">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="ddlRobo" class="wd100">Robô</label>
                            <select class="form-control" id="ddlRobo" name="ddlRobo" ng-model="oServicoRobo.Id">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oRobo in ListaEstadoServicoRobo" ng-value="oRobo.Id">{{oRobo.NomeMaquina}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="ddlScriptEstado" class="wd100">Estado</label>
                            <select class="form-control" id="ddlServicoRobotEstado" name="ddlServicoRoboEstado" ng-model="oServicoRobo.IdServicoRoboEstado">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oServicoRoboEstado in ListaEstadoServicoRobo" ng-value="oServicoRoboEstado.Id">{{oServicoRoboEstado.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="ddlListaServicoRoboVersao" class="wd100">Versão do Watchdog</label>
                            <select class="form-control" id="ddlServicoRoboVersao" name="ddlServicoRoboVersao" ng-model="oServicoRobo.IdServicoRoboVersao">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oServicoRoboVersao in ListaServicoRoboVersao" ng-value="oServicoRoboVersao.Id">{{oServicoRoboVersao.Versao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="txtUrlApi" class="wd100">URL/API</label>
                            <input type="text" class="form-control" id="txtUrlApi" name="txtUrlApi" ng-model="oServicoRobo.ServiceUri" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="txtUrlApi" class="wd100">URL/API PING</label>
                            <input type="text" class="form-control" id="txtUrlApi" name="txtUrlApi" ng-model="oServicoRobo.ServiceUri" ng-required="true" />
                        </div>
                    </div>                    
                </div>
                <div class="form-actions mrg15">
                    <div class=" col-sm-10">
                        <button type="submit" ng-disabled="frmServicoRobo.$invalid" class="btn btn-primary">Inserir</button>
                        <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                    </div>
                </div>
            </uib-accordion>
        </form>
    </div>
</div>



