﻿<div class="fl_wd100 actionArea">
    <button type="button" class="btn btn-primary" ng-click="btnNovo()">
        <i class="glyphicon glyphicon-plus"></i> Novo
    </button>
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ações <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a ng-click="btnReiniciaServicoRobo()">Reinicia</a></li>
            <li><a ng-click="btnLigaServicoRobo()">Liga</a></li>
            <li><a ng-click="btnDesligaServicoRobo()">Desliga</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="btnIniciarMonitoramentoServicoRobo()">Inicia Monitoramento</a></li>
            <li><a ng-click="btnPararMonitoramentoServicoRobo()">Para Monitoramento</a></li>
        </ul>
    </div>
    <button type="button" class="btn btn-primary fr" ng-click="btnFiltroPesquisaAvancada('lg')">
        <i class="glyphicon glyphicon-filter"></i> Pesquisa Avançada
    </button>
</div>

<div class="table-responsive fl_wd100 mrg10">
    <table st-table="ServicoRobosDisplay" st-safe-src="ServicoRobos" class="table table-striped">
        <thead>
            <tr>
                <th><st-select-all all="ServicoRobosDisplay" ng-click="vm.selectAll(vm.data)"></st-select-all></th>
                <th></th>
                <th st-sort="DominioRede">Dominio de Rede</th>
                <th st-sort="NomeMaquina">Nome da Máquina</th>
                <th st-sort="IdServicoRoboEstado">Estado</th>
                <th st-sort="IdServicoRoboVersao">Versão</th>
                <th st-sort="ServiceUri">URL da API</th>
                <th st-sort="ServiceUriPing">URL da API PING</th>
                <th>Monitora Robô</th>       
                <th>Robô Estado</th>
                <th>Robô Status</th>
                <th>Monitora Watchdog</th>  
                <th st-sort="Ativo">Ativo</th>
                <th st-sort="AutorCriacao">Autor Criação</th>
                <th st-sort="DataCriacao">Data de Criação</th>
                <th st-sort="AutorAlteracao">Autor Alteração</th>
                <th st-sort="DataAlteracao">Data de Alteração</th>
            </tr>
            <tr>
                <th colspan="10" style="display:none;">
                    <input id="stSearchCustom" st-search placeholder="Pesquisa Rápida" class="input-sm fr mrgRight2 col-md-3" type="search" style="display:none;" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oServicoRobo in ServicoRobosDisplay" on-end-repeat-st>
                <td cs-select="oServicoRobo"></td>
                <td>
                    <button type="button" ng-click="btnEditar()" class="btn btn-xs btn-info">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </td>
                <td>
                    <div ng-repeat="oRobo in Robos track by $index" ng-if="oRobo.Id === oServicoRobo.Id">
                        <span>{{oRobo.DominioRede}}</span>
                    </div>
                </td>
                <td>
                    <div ng-repeat="oRobo in Robos track by $index" ng-if="oRobo.Id === oServicoRobo.Id">
                        <span>{{oRobo.NomeMaquina}}</span>
                    </div>
                </td>
                <td>
                    <div ng-repeat="oServicoRoboEstado in ListaEstadoServicoRobo track by $index" ng-if="oServicoRoboEstado.Id === oServicoRobo.IdServicoRoboEstado">
                        <span ng-style="{color: oServicoRoboEstado.Id === 1 ? 'red' : 'green'}">{{oServicoRoboEstado.Descricao}}</span>
                    </div>
                </td>
                <td>
                    <div ng-repeat="oServicoRoboVersao in ServicoRoboVersoes track by $index" ng-if="oServicoRoboVersao.Id === oServicoRobo.IdServicoRoboVersao">
                        {{oServicoRoboVersao.Versao}}
                    </div>
                </td>
                <td>{{oServicoRobo.ServiceUri}}</td>
                <td>{{oServicoRobo.ServiceUriPing}}</td>
                <td>{{oServicoRobo.MonitoraRobo === true ? 'Sim' : 'Não'}}</td>
                <td>
                    <div ng-repeat="oRobo in Robos track by $index" ng-if="oRobo.Id === oServicoRobo.Id">
                        <div ng-repeat="oRoboEstado in ListaEstadoRobo track by $index" ng-if="oRoboEstado.Id === oRobo.IdRoboEstado">
                            <span ng-style="{color: oRoboEstado.Id === 1 ? 'red' : 'green'}">{{oRoboEstado.Descricao}}</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div ng-repeat="oRobo in Robos track by $index" ng-if="oRobo.Id === oServicoRobo.Id">
                        <div ng-repeat="oRoboStatus in ListaStatusRobo track by $index" ng-if="oRoboStatus.Id === oRobo.IdRoboStatus">
                            <span ng-style="{color: oRoboStatus.Id === 1 ? 'green' : 'red'}">{{oRoboStatus.Descricao}}</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div ng-repeat="oRobo in Robos track by $index" ng-if="oRobo.Id === oServicoRobo.Id">
                        <span>{{oRobo.MonitoraWatchdog === true ? 'Sim' : 'Não'}}</span>
                    </div>
                </td>
                <td>{{oServicoRobo.Ativo === true ? 'Sim' : 'Não'}}</td>
                <td>{{oServicoRobo.AutorCriacao}}</td>
                <td>{{oServicoRobo.DataCriacao != '0001-01-01T00:00:00' ? oServicoRobo.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oServicoRobo.AutorAlteracao}}</td>
                <td>{{oServicoRobo.DataAlteracao != '0001-01-01T00:00:00' ? oServicoRobo.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
</div>
