﻿<div class="row">
    <div class="col-md-12 mrg10">
        <form name="frmAutomationConfiguracao" ng-submit="AtualizaAutomationConfiguracao()" role="form">
            <div class="form-group space">
                <uib-accordion close-others="false">
                    <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Configuração" is-open="true">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txtChave" class="col-sm-2 control-label">Chave:</label>
                                <div class="col-sm-10 space">
                                    <input type="text" class="form-control" id="txtChave" name="txtChave" ng-model="oAutomationConfiguracao.Chave" ng-required="true" ng-disabled="true" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mrg5">
                            <div class="form-group">
                                <label for="txtValor" class="col-sm-2 control-label">Parâmetro(s):</label>
                                <div class="col-sm-10 space">
                                    <textarea class="form-control" id="txtValor" name="txtValor" ng-model="oAutomationConfiguracao.Valor" ng-required="true" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-accordion>
            </div>
            <div class="form-actions">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmAutomationConfiguracao.$invalid" class="btn btn-primary">Atualizar</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>