﻿<div class="col-sm-12 mrg15">
    <button type="button" class="btn btn-sm btn-warning mrgBottom10" ng-click="btnCancelarVoltar()">
        <i class="glyphicon glyphicon-arrow-left"></i> Voltar
    </button>
    <button type="button" class="btn btn-sm btn-primary mrgBottom10" style="float:right;" ng-click="btnAbrirMaisInformacoes()">
        <i class="glyphicon glyphicon-plus"></i> Mais
    </button>
</div>
<div class="col-sm-12">    
    <div class="fl_wd100">
        <div class="divProcessoDadosGenericos hoverable mrgBottom20">
            <div class="divProcesso_Campo">
                <label style="width:100%;">Nº do Processo</label>
                <label style="width:100%;">{{oProcesso.Id}}</label>
            </div>
            <div class="divProcesso_Campo">
                <label class="control-label">Processo</label>
                <label class="control-label" style="width:100%;">{{oProcesso.Script.Descricao}}</label>
            </div>
            <div class="divProcesso_Campo">
                <label class="control-label">Status</label>
                <label class="control-label" style="width:100%;">{{oProcesso.ProcessoStatus.Descricao}}</label>
            </div>
            <div class="divProcesso_Campo">
                <label class="control-label">Retorno</label>
                <label class="control-label" style="width:100%;">{{oProcesso.ScriptCodigoRetorno.Descricao}}</label>
            </div>
            <div class="Amarra_btnMaisInformacoes">
                <div class="divMaisInformacoes">
                    <div class="divMaisInformacoes_header">
                        <label class="bold txtCenter fs_90 mrg5" style="width:90%;">Informações Adicionais</label>
                        <div class="divMaisInformacoes_close fs_140" title="Fechar" ng-click="btnFecharMaisInformacoes()">&times;</div>
                    </div>
                    <div class="divMaisInformacoes_Content">
                        <div class="col-sm-12 ">
                            <div class="col-sm-6 mrgBot0">
                                <label class="bold wd100 mrgBot0">Grupo</label>
                                <label style="width:100%;">{{oProcesso.Grupo.Descricao}}</label>
                            </div>
                            <div class="col-sm-6 mrgBot0">
                                <label class="bold wd100 mrgBot0">Prioridade</label>
                                <label style="width:100%;">{{oProcesso.ProcessoClassificacaoPrioridade.Descricao}}</label>
                            </div>
                        </div>
                        <div class="col-sm-12 ">
                            <div class="col-sm-6 mrgBot0">
                                <label class="bold wd100 mrgBot0">Tipo de Pessoa (Cliente)</label>
                                <label style="width:100%;">{{oProcesso.Cliente.Tipo == 'J' ? 'Jurídica' : 'Física'}}</label>
                            </div>
                            <div class="col-sm-6 mrgBot0">
                                <label class="bold wd100 mrgBot0">Cpf/Cnpj (Cliente)</label>
                                <label style="width:100%;">{{oProcesso.Cliente.CpfCnpj}}</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6 mrgBot0">
                                <label class="bold wd100 mrgBot0">Nome/Razão Social (Cliente)</label>
                                <label style="width:100%;">{{oProcesso.Cliente.NomeRazaoSocial}}</label>
                            </div>
                            <div class="col-sm-6 mrgBot0">
                                <label class="bold wd100 mrgBot0">Tentativa</label>
                                <label style="width:100%;">{{oProcesso.Tentativa}}</label>
                            </div>
                        </div>
                        <div class="col-sm-12 ">
                            <div class="col-sm-6 mrgBot0">
                                <label class="bold wd100 mrgBot0">Ativo</label>
                                <label style="width:100%;">{{oProcesso.Ativo == true ? 'Sim' : 'Não'}}</label>
                            </div>
                            <div class="col-sm-6 mrgBot0">
                                <label class="bold wd100 mrgBot0">Autor Criação</label>
                                <label style="width:100%;">{{oProcesso.AutorCriacao}}</label>
                            </div>
                        </div>
                        <div class="col-sm-12 ">
                            <div class="col-sm-6 mrgBot0">
                                <label class="bold wd100 mrgBot0">Data de Criação</label>
                                <label style="width:100%;">{{oProcesso.DataCriacao | date:"dd/MM/yyyy"}}</label>
                            </div>
                            <div class="col-sm-6 mrgBot0">
                                <label class="bold wd100 mrgBot0">Autor Alteração</label>
                                <label style="width:100%;">{{oProcesso.AutorAlteracao}}</label>
                            </div>
                        </div>
                        <div class="col-sm-12 mrgBot0">
                            <div class="col-sm-6 mrgBot0">
                                <label class="bold wd100 mrgBot0">Data de Alteração</label>
                                <label style="width:100%;">{{oProcesso.DataAlteracao | date:"dd/MM/yyyy"}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <uib-accordion close-others="false" style="float:left; width:100%;">
        <div uib-accordion-group class="panel-primary hoverable mrgBottom20" heading="Detalhe do Retorno" is-open="false">
            <div class="col-sm-6 col-md-4 col-lg-12">
                <div class="form-group">
                    <textarea class="form-control" id="txtDetalheRetorno" name="txtDetalheRetorno" ng-model="oProcesso.ConteudoAdicional" style="resize:none" ng-readonly="true" rows="4"></textarea>
                </div>
            </div>            
        </div>
        <div uib-accordion-group class="panel-primary hoverable mrgBottom20" heading="Dados do Processo" is-open="true">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label for="txtChaveProcesso">{{oProcesso.Script.LabelChaveProcesso}}</label>
                    <input type="text" class="form-control" id="txtChaveProcesso" name="txtChaveProcesso" ng-model="oProcesso.ChaveProcesso" ng-required="true" ng-readonly="true" />
                </div>
            </div>
            <div ng-repeat="oScriptInfoAdicional in oProcesso.Script.ScriptInfoAdicional | filter:{ TabelaRelacionada: 'tbl_processo', Ativo: true} : true" on-scriptinfoadicional-repeat-end>
                <div class="col-sm-6 col-md-4 col-lg-3" ng-if="oScriptInfoAdicional.Tipo !== 'TEMPLATE'">
                    <div class="form-group">
                        <label for="txt{{oScriptInfoAdicional.Chave}}">{{oScriptInfoAdicional.Nome}}</label>
                        <div ng-switch on="oScriptInfoAdicional.Tipo">
                            <div ng-switch-when="DOMINIO">
                                <select class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" ng-readonly="true">
                                    <option value="">---Selecione---</option>
                                    <option ng-repeat="oDominioValor in oScriptInfoAdicional.Dominio.DominioValor" ng-value="oDominioValor.Id">{{oDominioValor.DescricaoOpcao}}</option>
                                </select>
                            </div>
                            <div ng-switch-when="SIMNAO">
                                <select class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" ng-readonly="true">
                                    <option value="" ng-if="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave] === null">---Selecione---</option>
                                    <option value="True" ng-if="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]">Sim</option>
                                    <option value="False" ng-if="!oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave] && oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave] !== null" >Não</option>
                                </select>
                            </div>
                            <div ng-switch-when="EMAIL">
                                <input type="email" class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-readonly="true" />
                            </div>
                            <div ng-switch-when="NUMERO">
                                <input type="number" class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" onkeypress="isNum()" ng-readonly="true"/>
                            </div>
                            <div ng-switch-when="DATA">
                                <input type="text" class="form-control inputDate" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" ng-readonly="true"/>
                            </div>
                            <div ng-switch-when="CPF">
                                <input type="text" class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" maxlength="14" ui-mask="999.999.999-99" ui-mask-placeholder-char="_" ng-readonly="true"/>
                            </div>
                            <div ng-switch-when="DECIMAL">
                                <input type="text" class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" onkeypress="isNum()" onkeydown="FormataValor(this,'15','2',event);" ng-readonly="true" />
                            </div>
                            <div ng-switch-when="TEXTO">
                                <input type="text" class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" 
                                        ng-model="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]"
                                        ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required'] == null ? false : oScriptInfoAdicional.PropriedadesAdicionais['Required']}}"
                                        ng-maxlength="{{oScriptInfoAdicional.PropriedadesAdicionais['Maxlength'] == null ? 9999999999 : oScriptInfoAdicional.PropriedadesAdicionais['Maxlength']}}"
                                        ng-minlength="{{oScriptInfoAdicional.PropriedadesAdicionais['MinLength'] == null ? 0 : oScriptInfoAdicional.PropriedadesAdicionais['MinLength'] }}" ng-readonly="true"/>
                            </div>
                            <div ng-switch-default>
                                <input type="text" class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" ng-maxlength="{{oScriptInfoAdicional.PropriedadesAdicionais['Maxlength']}}" ng-minlength="{{oScriptInfoAdicional.PropriedadesAdicionais['MinLength']}}" ui-mask="{{oScriptInfoAdicional.PropriedadesAdicionais['Mask']}}" ng-readonly="true"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div uib-accordion-group class="panel-primary hoverable mrgBottom20" ng-repeat="oScriptInfoAdicional in oProcesso.Script.ScriptInfoAdicional | filter:{Tipo:'TEMPLATE', TabelaRelacionada: 'tbl_processo'} : true" heading="{{oScriptInfoAdicional.Nome}}" is-open="true">
            <div ng-include="oScriptInfoAdicional.Template"></div>
        </div>
        <div uib-accordion-group class="panel-primary hoverable mrgBottom20" heading="Arquivos Digitais" is-open="true" ng-if="oProcesso.Arquivo">
            <div ng-include="'Views/Sistema/Arquivo.html'" ng-controller="ArquivoController"></div>
        </div>
        <div uib-accordion-group class="panel-primary hoverable mrgBottom20" heading="Auditoria das Execuções" is-open="true">
            <uib-tabset active="0">
                <uib-tab index="0" heading="Execuções Geradas" ng-if="oProcesso.ProcessoExecucao.length > 0">
                    <div class="col-sm-12">
                        <div class="table-responsive fl_wd100 mrg10">
                            <table st-table="ProcessoExecucaoDisplay" st-safe-src="oProcesso.ProcessoExecucao" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th st-sort="Id">Nº da Execução</th>
                                        <th st-sort="DataInicio">Data de Inicio</th>
                                        <th st-sort="DataFim">Data de Fim</th>
                                        <th st-sort="IdProcessoStatus">Status</th>
                                        <th st-sort="CodigoRetorno">Retorno RPA</th>
                                        <th st-sort="AutorCriacao">Autor Criação</th>
                                        <th st-sort="DataCriacao">Data de Criação</th>
                                        <th st-sort="AutorAlteracao">Autor Alteração</th>
                                        <th st-sort="DataAlteracao">Data de Alteração</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="oProcessoExecucao in ProcessoExecucaoDisplay">
                                        <td>
                                            <button type="button" ng-click="showModalProcessoExecucao('lg', oProcessoExecucao)" class="btn btn-xs btn-info">
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </button>
                                        </td>
                                        <td>{{oProcessoExecucao.Id}}</td>
                                        <td>{{oProcessoExecucao.DataInicio != '0001-01-01T00:00:00' ? oProcessoExecucao.DataInicio : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                        <td>{{oProcessoExecucao.DataFim != '0001-01-01T00:00:00' ? oProcessoExecucao.DataFim : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                        <td>
                                            <div ng-repeat="oProcessoStatus in ListaStatusProcesso track by $index" ng-if="oProcessoStatus.Id === oProcessoExecucao.IdProcessoStatus">
                                                {{oProcessoStatus.Descricao}}
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-repeat="oScriptCodigoRetorno in CodigosRetornos track by $index" ng-if="oScriptCodigoRetorno.Codigo === oProcesso.CodigoRetorno">
                                                {{oScriptCodigoRetorno.Descricao}}
                                            </div>
                                        </td>
                                        <td>{{oProcessoExecucao.AutorCriacao}}</td>
                                        <td>{{oProcessoExecucao.DataCriacao != '0001-01-01T00:00:00' ? oProcessoExecucao.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                        <td>{{oProcessoExecucao.AutorAlteracao}}</td>
                                        <td>{{oProcessoExecucao.DataAlteracao != '0001-01-01T00:00:00' ? oProcessoExecucao.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="9" class="text-left">
                                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="Templates/pagination_custom.html"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Log Analítico do Processo" ng-click="ListaLogAplicacao(0,0,0,0,oProcesso.Id,0,0)">
                    <div class="table-responsive" style="max-height:400px; overflow:auto;">
                        <table st-table="LogAplicacaoProcessoDisplay" st-safe-src="LogAplicacaoProcesso" class="CustomTableSize table table-striped" ng-if="oLogAplicacaoExecucao">
                            <thead>
                                <tr>
                                    <th st-sort="Id">Nº</th>
                                    <th st-sort="Data">Data</th>
                                    <th st-sort="Maquina">Máquina</th>
                                    <th width="500px" st-sort="Mensagem">Mensagem</th>
                                    <th st-sort="Excecao">Exceção</th>
                                    <th st-sort="Diferenca">Tempo</th>
                                    <th st-sort="Origem">Origem</th>
                                    <th st-sort="Autor">Autor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="oLogAplicacao in LogAplicacaoProcessoDisplay" ng-if="oLogAplicacao.IdProcessoExecucao === 0">
                                    <td>{{oLogAplicacao.Id}}</td>
                                    <td>{{oLogAplicacao.Data != '0001-01-01T00:00:00' ? oLogAplicacao.Data : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                    <td>{{oLogAplicacao.Maquina}}</td>
                                    <td width="500px"><pre>{{oLogAplicacao.Mensagem}}</pre></td>
                                    <td>{{oLogAplicacao.Excecao}}</td>
                                    <td>{{oLogAplicacao.Diferenca}}s</td>
                                    <td>{{oLogAplicacao.Origem}}</td>
                                    <td>{{oLogAplicacao.Autor}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
        <div uib-accordion-group class="panel-primary hoverable mrgBottom20" heading="Relacionados" is-open="true" ng-if="oProcesso.ProcessoRelacionado.length > 0">
            <uib-tabset active="0">
                <uib-tab index="1" heading="Processos Relacionados" ng-if="oProcesso.ProcessoRelacionado.length > 0">
                    <div class="col-sm-12">
                        <div class="table-responsive fl_wd100 mrg10">
                            <table st-table="ProcessoRelacionadoDisplay" st-safe-src="oProcesso.ProcessoRelacionado" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th st-sort="oProcessoRelacionado.ProcessoAssociado.Id">Nº do Processo</th>
                                        <th st-sort="oProcessoRelacionado.ProcessoAssociado.ChaveProcesso">{{oProcesso.Script.LabelChaveProcesso}}</th>
                                        <th st-sort="oProcessoRelacionado.ProcessoAssociado.IdScript">Script</th>
                                        <th st-sort="oProcessoRelacionado.ProcessoAssociado.IdGrupo">Grupo</th>
                                        <th st-sort="oProcessoRelacionado.ProcessoAssociado.IdCliente">Cliente</th>
                                        <th st-sort="oProcessoRelacionado.ProcessoAssociado.IdProcessoStatus">Status</th>
                                        <th st-sort="oProcessoRelacionado.ProcessoAssociado.CodigoRetorno">Retorno RPA</th>
                                        <th st-sort="oProcessoRelacionado.ProcessoAssociado.IdProcessoClassificacaoPrioridade">Classificação</th>
                                        <th st-sort="oProcessoRelacionado.ProcessoAssociado.Tentativa">Qtde de Tentativas</th>
                                        <th st-sort="AutorCriacao">Autor Criação</th>
                                        <th st-sort="DataCriacao">Data de Criação</th>
                                        <th st-sort="Motivo">Motivo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="oProcessoRelacionado in ProcessoRelacionadoDisplay">
                                        <td cs-select="oProcessoRelacionado"></td>
                                        <td>
                                            <button type="button" ng-click="btnEditar()" class="btn btn-xs btn-info">
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </button>
                                        </td>
                                        <td>{{oProcessoRelacionado.ProcessoAssociado.Id}}</td>
                                        <td>{{oProcessoRelacionado.ProcessoAssociado.ChaveProcesso}}</td>
                                        <td>
                                            <div ng-repeat="oScript in Scripts track by $index" ng-if="oScript.Id === oProcessoRelacionado.ProcessoAssociado.IdScript">
                                                {{oScript.Descricao}}
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-repeat="oGrupo in Grupos track by $index" ng-if="oGrupo.Id === oProcessoRelacionado.ProcessoAssociado.IdGrupo">
                                                {{oGrupo.Descricao}}
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-repeat="oCliente in Clientes track by $index" ng-if="oCliente.Id === oProcessoRelacionado.ProcessoAssociado.IdCliente">
                                                {{oCliente.NomeRazaoSocial}}
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-repeat="oProcessoStatus in ListaStatusProcesso track by $index" ng-if="oProcessoStatus.Id === oProcessoRelacionado.ProcessoAssociado.IdProcessoStatus">
                                                {{oProcessoStatus.Descricao}}
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-repeat="oScriptCodigoRetorno in CodigosRetornos track by $index" ng-if="oScriptCodigoRetorno.Codigo === oProcessoRelacionado.ProcessoAssociado.CodigoRetorno">
                                                {{oScriptCodigoRetorno.Descricao}}
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-repeat="oClassificacaoPrioridadeProcesso in ListaClassificacaoPrioridadeProcesso track by $index" ng-if="oProcessoRelacionado.ProcessoAssociado.IdProcessoClassificacaoPrioridade">
                                                {{oClassificacaoPrioridadeProcesso.Descricao}}
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-repeat="oClassificacaoPrioridadeProcesso in ClassificacoesPrioridade track by $index" ng-if="oClassificacaoPrioridadeProcesso.Id === oProcessoRelacionado.ProcessoAssociado.IdProcessoClassificacaoPrioridade">
                                                {{oClassificacaoPrioridadeProcesso.Descricao}}
                                            </div>
                                        </td>
                                        <td>{{oProcessoRelacionado.ProcessoAssociado.Tentativa}}</td>
                                        <td>{{oProcessoRelacionado.AutorCriacao}}</td>
                                        <td>{{oProcessoRelacionado.DataCriacao != '0001-01-01T00:00:00' ? oProcessoRelacionado.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                        <td>{{oProcessoRelacionado.Motivo}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="15" class="text-left">
                                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="Templates/pagination_custom.html"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </uib-tab>               
            </uib-tabset>
        </div>
        <div uib-accordion-group class="panel-primary hoverable mrgBottom20" heading="Tomada de Decisão" is-open="true">
            <uib-tabset active="0">
                <uib-tab index="0" heading="Ocorrências/Anotações">
                    <div class="col-sm-12">
                        <div class="table-responsive fl_wd100 mrg10">
                            <table st-table="HistoricoOcorrenciaDisplay" st-safe-src="oProcesso.HistoricoOcorrencia" class="table table-striped">
                                <thead>
                                    <tr>
                                        <!--<th></th>-->
                                        <th st-sort="Id">Nº da Ocorrência</th>
                                        <th st-sort="IdHistoricoClassificacao">Classificação</th>
                                        <th st-sort="IdStatusDe">Status Origem</th>
                                        <th st-sort="IdStatusPara">Status Destino</th>
                                        <th st-sort="Conteudo">Anotação</th>
                                        <th st-sort="AutorCriacao">Autor Criação</th>
                                        <th st-sort="DataCriacao">Data de Criação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="oHistoricoOcorrencia in HistoricoOcorrenciaDisplay">
                                        <!--<td cs-select="oHistoricoOcorrencia"></td>-->
                                        <td>{{oHistoricoOcorrencia.Id}}</td>
                                        <td>
                                            <div ng-repeat="oHistoricoClassificacao in ListaClassificacoesHistorico track by $index" ng-if="oHistoricoClassificacao.Id === oHistoricoOcorrencia.IdHistoricoClassificacao">
                                                {{oHistoricoClassificacao.Descricao}}
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-repeat="oProcessoStatus in ListaStatusProcesso track by $index" ng-if="oProcessoStatus.Id === oHistoricoOcorrencia.IdStatusDe">
                                                {{oProcessoStatus.Descricao}}
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-repeat="oProcessoStatus in ListaStatusProcesso track by $index" ng-if="oProcessoStatus.Id === oHistoricoOcorrencia.IdStatusPara">
                                                {{oProcessoStatus.Descricao}}
                                            </div>
                                        </td>
                                        <td>{{oHistoricoOcorrencia.Conteudo}}</td>
                                        <td>{{oHistoricoOcorrencia.AutorCriacao}}</td>
                                        <td>{{oHistoricoOcorrencia.DataCriacao != '0001-01-01T00:00:00' ? oHistoricoOcorrencia.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="8" class="text-left">
                                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="Templates/pagination_custom.html"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Controle de Acesso/Interações">
                    <div class="col-sm-12">
                        <div class="table-responsive fl_wd100 mrg10">
                            <table st-table="InteracaoDisplay" st-safe-src="oProcesso.Interacao " class="table table-striped">
                                <thead>
                                    <tr>
                                        <!--<th></th>-->
                                        <th st-sort="Id">Nº da Interação</th>
                                        <th st-sort="IdInteracaoTipo">Tipo</th>
                                        <th st-sort="DataInicio">Data Inicio</th>
                                        <th st-sort="DataFim">Data Fim</th>
                                        <th st-sort="Observacao">Observação</th>
                                        <th st-sort="AutorCriacao">Autor Criação</th>
                                        <th st-sort="DataCriacao">Data de Criação</th>
                                        <th st-sort="AutorAlteracao">Autor Alteração</th>
                                        <th st-sort="DataAlteracao">Data de Alteração</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="oInteracao in InteracaoDisplay ">
                                        <!--<td cs-select="oInteracao"></td>-->
                                        <td>{{oInteracao.Id}}</td>
                                        <td>
                                            <div ng-repeat="oInteracaoTipo in ListaInteracoesTipo | filter:{Id:oInteracao.IdInteracaoTipo}">
                                                {{oInteracaoTipo.Descricao}}
                                            </div>
                                        </td>
                                        <td>{{oInteracao.DataInicio != '0001-01-01T00:00:00' ? oInteracao.DataInicio : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                        <td>{{oInteracao.DataFim != '0001-01-01T00:00:00' ? oInteracao.DataFim : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                        <td>{{oInteracao.Observacao}}</td>
                                        <td>{{oInteracao.AutorCriacao}}</td>
                                        <td>{{oInteracao.DataCriacao != '0001-01-01T00:00:00' ? oInteracao.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                        <td>{{oInteracao.AutorAlteracao}}</td>
                                        <td>{{oInteracao.DataAlteracao != '0001-01-01T00:00:00' ? oInteracao.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="10" class="text-left">
                                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="Templates/pagination_custom.html"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Troca de Status">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="ddlProcessoStatus">Status:</label>
                            <select class="form-control" id="ddlProcessoStatus" name="ddlProcessoStatus" ng-model="oProcesso.IdProcessoStatus">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oProcessoStatus in ListaStatusProcesso" ng-value="oProcessoStatus.Id">{{oProcessoStatus.Descricao}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="txtTrocaStatusObservacao">Observação:</label>
                            <textarea class="form-control" id="txtTrocaStatusObservacao" name="txtTrocaStatusObservacao" ng-model="oHistoricoOcorrencia.Conteudo" style="resize:none" ng-required="true" rows="3"></textarea>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </uib-accordion>    
</div>
