﻿<style>
    .RPAInforma_Titulo {
        font-size: 270%;
    }

    .RPAInforma_Texto {
        font-size: 130%;
    }
</style>
<div class="col-sm-12 mrg15">
    <button type="button" class="btn btn-sm btn-warning mrgBottom10" ng-click="btnCancelarVoltar()">
        <i class="glyphicon glyphicon-arrow-left"></i> Voltar
    </button>
</div>
<div class="row">
    <div class="col-md-12">
        <form ng-init="oProcesso.ScriptInfosAdicionais = {};" name="frmProcesso" ng-submit="InsereProcesso()" role="form">
            <div class="form-group space">
                <div id="divProcessoParametrizacao">
                    <div class="col-xs-12 col-md-12 txtCenter" ng-show="EtapaInsereProcesso.Etapa > 0">
                        <div class="chip" ng-show="EtapaInsereProcesso.Etapa > 0" ng-if="Clientes.length > 1">
                            <span class="fl col-form-label"><strong>Cliente:</strong></span>
                            <span class="fl mrgLeft5px" ng-repeat="oCliente in Clientes" ng-if="oCliente.Id == oProcesso.IdCliente" ng-bind="oCliente.NomeRazaoSocial"></span>
                            <span class="closebtn" ng-click="ItemRetorno_Click(0, 0, 0, 0, null);">&times;</span>
                        </div>
                        <div class="chip" ng-show="EtapaInsereProcesso.Etapa > 1">
                            <span class="fl col-form-label"><strong>Grupo:</strong></span>
                            <span class="fl mrgLeft5px" ng-repeat="oGrupo in Grupos" ng-if="oGrupo.Id == oProcesso.IdGrupo" ng-bind="oGrupo.Descricao"></span>
                            <span class="closebtn" ng-click="ItemRetorno_Click(0, 0, 0, 1, null);">&times;</span>
                        </div>
                        <div class="chip" ng-show="EtapaInsereProcesso.Etapa > 2">
                            <span class="fl col-form-label"><strong>Tipo de Processo:</strong></span>
                            <span class="fl mrgLeft5px" ng-repeat="oScript in Scripts" ng-if="oScript.Id == oProcesso.IdScript" ng-bind="oScript.Descricao"></span>
                            <span class="closebtn" ng-click="ItemRetorno_Click(0, null, 0, 2, null);">&times;</span>
                        </div>
                        <hr class="hr_WDForm fl_wd100" />
                    </div>

                    <h3 class="col-xs-12 col-md-12 text-center" style="margin:1% 0 1.3%;" ng-bind="EtapaInsereProcesso.Titulo" ng-if="EtapaInsereProcesso.Visivel"></h3>

                    <!-- REPEATER CLIENTE -->
                    <div class="row" ng-model="oProcesso.IdCliente" ng-show="EtapaInsereProcesso.Etapa == 0" ng-if="Clientes.length > 1">
                        <div class="cPointer itemHover hoverable  col-xs-6 col-md-3" style="margin-bottom:10px;" ng-if="oCliente.Ativo"
                             ng-repeat="oCliente in Clientes track by $index"
                             ng-click="ListaGrupoCliente(oCliente.Id)">
                            <div class="EtapaInsereProcesso card card-inverse card-info text-center">
                                <div class="card-block">
                                    <h4>{{oCliente.NomeRazaoSocial}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- REPEATER GRUPO -->
                    <div class="row" ng-model="oProcesso.IdGrupo" ng-show="EtapaInsereProcesso.Etapa == 1">
                        <div class="cPointer itemHover hoverable  col-xs-6 col-md-3" style="margin-bottom:10px;" ng-if="oGrupo.Ativo && ControlaExibicaoPermissao(oGrupo.Id, 0, 'Grupo', 'Incluir')"
                             ng-repeat="oGrupo in GruposCliente track by $index"
                             ng-click="ListaScriptGrupo(oGrupo.Id)">
                            <div class="EtapaInsereProcesso card card-inverse card-primary text-center">
                                <div class="card-block">
                                    <h4>{{oGrupo.Descricao}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- REPEATER TIPO DE PROCESSO -->
                    <div class="row" ng-model="oProcesso.IdScript" id="divProcesso" ng-show="EtapaInsereProcesso.Etapa == 2">
                        <div class="cPointer itemHover hoverable col-xs-6 col-md-3" style="margin-bottom:10px;" ng-if="oScript.Ativo && ControlaExibicaoPermissao(oProcesso.IdGrupo, oScript.Id, 'Script', 'Incluir')"
                             ng-repeat="oScript in ScriptsGrupo track by $index"
                             ng-click="RetornaScript(oScript.Id)">
                            <div class="EtapaInsereProcesso card card-inverse card-warning text-center">
                                <div class="card-block">
                                    <h4>{{oScript.Descricao}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <uib-accordion close-others="false" ng-if="oProcesso.IdScript > 0 && oProcesso.Script.IdScriptStatus == 5 && !$('#divProcesso').is(':visible')">
                    <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Processo" is-open="true">
                        <div ng-hide="oProcesso.Script.IdProcessoClassificacaoPrioridade > 0">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="ddlProcessoClassificacaoPrioridade">Prioridade:</label>
                                    <select class="form-control" id="ddlProcessoClassificacaoPrioridade" name="ddlProcessoClassificacaoPrioridade" ng-model="oProcesso.IdProcessoClassificacaoPrioridade" ng-required="true">
                                        <option value="">---Selecione---</option>
                                        <option ng-repeat="oProcessoClassificacaoPrioridade in ListaClassificacaoPrioridadeProcesso" ng-value="oProcessoClassificacaoPrioridade.Id">{{oProcessoClassificacaoPrioridade.Descricao}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <label for="txtChaveProcesso">{{oProcesso.Script.LabelChaveProcesso}}</label>
                                    <div ng-switch="oProcesso.Script.MascaraChaveProcesso">
                                        <div ng-switch-when="null">
                                            <input class="form-control" id="txtChaveProcesso" name="txtChaveProcesso" ng-model="oProcesso.ChaveProcesso" ng-required="true" />
                                        </div>
                                        <div ng-switch-default>
                                            <input class="form-control" id="txtChaveProcessoMascara" name="txtChaveProcessoMascara" ng-model="oProcesso.ChaveProcesso" ng-required="true" ui-mask="{{oProcesso.Script.MascaraChaveProcesso['Mask']}}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="oScriptInfoAdicional in oProcesso.Script.ScriptInfoAdicional | filter:{ TabelaRelacionada: 'tbl_processo', Ativo: true} : true" on-scriptinfoadicional-repeat-end>
                                <div class="col-sm-6 col-md-4 col-lg-3" ng-if="oScriptInfoAdicional.Tipo !== 'TEMPLATE'">
                                    <div class="form-group">
                                        <label for="txt{{oScriptInfoAdicional.Chave}}">{{oScriptInfoAdicional.Nome}}</label>
                                        <div ng-switch on="oScriptInfoAdicional.Tipo">
                                            <div ng-switch-when="DOMINIO">
                                                <select class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}">
                                                    <option value="">---Selecione---</option>
                                                    <option ng-repeat="oDominioValor in oScriptInfoAdicional.Dominio.DominioValor" ng-value="oDominioValor.Id">{{oDominioValor.DescricaoOpcao}}</option>
                                                </select>
                                            </div>
                                            <div ng-switch-when="SIMNAO">
                                                <select class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}">
                                                    <option value="">---Selecione---</option>
                                                    <option value="True">Sim</option>
                                                    <option value="False">Não</option>
                                                </select>
                                            </div>
                                            <div ng-switch-when="EMAIL">
                                                <input type="email" class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" />
                                            </div>
                                            <div ng-switch-when="NUMERO">
                                                <input type="number" class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" onkeypress="isNum()" min="{{oScriptInfoAdicional.PropriedadesAdicionais['MinValue']}}" max="{{oScriptInfoAdicional.PropriedadesAdicionais['MaxValue']}}" />
                                            </div>
                                            <div ng-switch-when="DATA">
                                                <input type="text" class="form-control inputDate" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" />
                                            </div>
                                            <div ng-switch-when="CPF">
                                                <input type="text" class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" maxlength="14" ui-mask="999.999.999-99" ui-mask-placeholder-char="_" />
                                            </div>
                                            <div ng-switch-when="DECIMAL">
                                                <input type="text" class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" onkeypress="isNum()" onkeydown="FormataValor(this,'15','2',event);" />
                                            </div>
                                            <div ng-switch-when="TEXTO">
                                                <input type="text" class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}"
                                                       ng-model="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]"
                                                       ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required'] == null ? false : oScriptInfoAdicional.PropriedadesAdicionais['Required']}}"
                                                       ng-maxlength="{{oScriptInfoAdicional.PropriedadesAdicionais['Maxlength'] == null ? 9999999999 : oScriptInfoAdicional.PropriedadesAdicionais['Maxlength']}}"
                                                       ng-minlength="{{oScriptInfoAdicional.PropriedadesAdicionais['MinLength'] == null ? 0 : oScriptInfoAdicional.PropriedadesAdicionais['MinLength'] }}" />
                                            </div>
                                            <div ng-switch-when="UPLOAD">
                                                <input type="file" id="file" name="file" multiple base-sixty-four-input onchange="angular.element(this).scope().SetFilesUpload(this)" class="btn btn-warning" ng-required="true" />
                                            </div>
                                            <div ng-switch-default>
                                                <input type="text" class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcesso.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" ng-maxlength="{{oScriptInfoAdicional.PropriedadesAdicionais['Maxlength']}}" ng-minlength="{{oScriptInfoAdicional.PropriedadesAdicionais['MinLength']}}" ui-mask="{{oScriptInfoAdicional.PropriedadesAdicionais['Mask']}}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div uib-accordion-group class="panel-primary hoverable" ng-repeat="oScriptInfoAdicional in oProcesso.Script.ScriptInfoAdicional | filter:{Tipo:'TEMPLATE', TabelaRelacionada: 'tbl_processo', Ativo: true} : true" heading="{{oScriptInfoAdicional.Nome}}" is-open="true">
                        <div ng-include="oScriptInfoAdicional.Template"></div>
                    </div>
                    <div uib-accordion-group class="panel-primary hoverable" heading="Arquivos Digitais" is-open="true" ng-if="oProcesso.Script.HabilitaUploadArquivos === true">
                        <div ng-include="'Views/Sistema/Arquivo.html'" ng-controller="ArquivoController"></div>
                    </div>
                </uib-accordion>
                <div ng-if="oProcesso.Script.IdScriptStatus == 9">
                    <span class="RPAInforma_Titulo">RPA informa!</span>
                    <p class="RPAInforma_Texto">{{oProcesso.Script.Motivo}}</p>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-primary" />
                </div>
            </div>
            <div class="form-actions" ng-show="EtapaInsereProcesso.Etapa == 3 && oProcesso.Script.IdScriptStatus == 5">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmProcesso.$invalid" class="btn btn-primary">Inserir</button>
                </div>
            </div>
        </form>
    </div>
</div>



