﻿<div class="fl_wd100 actionArea">
    <button type="button" class="btn btn-primary fl" ng-click="btnNovo()">
        <i class="glyphicon glyphicon-plus"></i> Novo
    </button>
    <button type="button" class="btn btn-primary fr" ng-click="btnFiltroPesquisaAvancada('lg')">
        <i class="glyphicon glyphicon-filter"></i> Pesquisa Avançada
    </button>
</div>

<div class="table-responsive fl_wd100 mrg10" >
    <table st-table="ProcessosDisplay" st-safe-src="Processos" class="table table-striped mrgBot0" >
        <thead>
            <tr>
                <th></th>
                <th st-sort="Id">Nº do Processo</th>
                <th st-sort="ChaveProcesso">{{sLabelChaveProcesso}}</th>
                <th st-sort="IdScript">Script</th>
                <th st-sort="IdGrupo">Grupo</th>
                <th st-sort="IdCliente">Cliente</th>
                <th st-sort="IdProcessoStatus">Status</th>
                <th st-sort="CodigoRetorno">Retorno RPA</th>
                <th st-sort="AutorCriacao">Autor Criação</th>
                <th st-sort="DataCriacao">Data Criação</th>
                <th st-sort="AutorAlteracao">Autor Alteração</th>
                <th st-sort="DataAlteracao">Data Alteração</th>
            </tr>
            <tr>
                <th colspan="10">
                    <input id="stSearchCustom" st-search placeholder="Pesquisa Rápida" class="input-sm fr mrgRight2 col-md-3" type="search" style="display:none;" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oProcesso in ProcessosDisplay" on-end-repeat-st>
                <td>
                    <button type="button" ng-click="btnEditar()" class="btn btn-xs btn-info" title="Abrir Processo">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </td>
                <td>{{oProcesso.Id}}</td>
                <td title="{{oScript.ChaveProcesso}}">{{oProcesso.ChaveProcesso}}</td>
                <td>
                    <div ng-repeat="oScript in Scripts track by $index" ng-if="oScript.Id === oProcesso.IdScript" title="{{oScript.Descricao}}">
                        {{oScript.Descricao}}
                    </div>
                </td>
                <td>
                    <div ng-repeat="oGrupo in Grupos track by $index" ng-if="oGrupo.Id === oProcesso.IdGrupo" title="{{oGrupo.Descricao}}">
                        {{oGrupo.Descricao}}
                    </div>
                </td>
                <td>
                    <div ng-repeat="oCliente in Clientes track by $index" ng-if="oCliente.Id === oProcesso.IdCliente" title="{{oCliente.Descricao}}">
                        {{oCliente.NomeRazaoSocial}}
                    </div>
                </td>
                <td>
                    <div ng-repeat="oProcessoStatus in ListaStatusProcesso track by $index" ng-if="oProcessoStatus.Id === oProcesso.IdProcessoStatus" title="{{oProcessoStatus.Descricao}}">
                        {{oProcessoStatus.Descricao}}
                    </div>
                </td>
                <td>
                    <div ng-repeat="oScriptCodigoRetorno in CodigosRetornos track by $index" ng-if="oScriptCodigoRetorno.Codigo === oProcesso.CodigoRetorno" title="{{oScriptCodigoRetorno.Descricao}}">
                        {{oScriptCodigoRetorno.Descricao}}
                    </div>
                </td>
                <td>{{oProcesso.AutorCriacao}}</td>
                <td>{{oProcesso.DataCriacao != '0001-01-01T00:00:00' ? oProcesso.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oProcesso.AutorAlteracao}}</td>
                <td>{{oProcesso.DataAlteracao != '0001-01-01T00:00:00' ? oProcesso.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="13" class="text-left">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="2" st-template="Templates/pagination_custom.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
