﻿<div class="modal-content">
    <div class="modal-header {{CssClass}}">
        <h3 class="modal-title">{{Titulo}}</h3>
    </div>
    <div class="modal-body">
        <div class="col-sm-6 col-md-4 col-lg-12">
            <div class="form-group text-center">
                <p class="text-danger">{{Observacao}}</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-12">
            <div class="form-group">
                <label class="control-label">Retorno</label>
                <textarea class="form-control" style="resize:none" ng-readonly="true" rows="1">{{oProcesso.ScriptCodigoRetorno.Descricao}}</textarea>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-12">
            <div class="form-group">
                <label class="control-label">Mensagem</label>
                <textarea class="form-control" style="resize:none" ng-readonly="true" rows="4">{{Mensagem}}</textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="fechar()">Fechar</button>
    </div>
</div>
