﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Nova Anotação!</h3>
</div>
<div class="modal-body" id="modal-body">   
    <textarea class="form-control" id="txtAnotacaoObservacao" name="txtAnotacaoObservacao" ng-model="oHistoricoOcorrencia.Conteudo" style="resize:none" ng-required="true" rows="10"></textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="SalvarAnotacao()">Salvar</button>
    <button class="btn btn-warning" type="button" ng-click="CancalerAnotacao()">Cancelar</button>
</div>




