﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Critérios da Pesquisa Avançada!</h3>  
</div>
<div class="modal-body" id="modal-body">
    <form role="form">        
        <div class="form-row">
            <div class="form-group col-sm-6 col-md-4 col-lg-3" ng-if="Clientes.length > 1">
                <label for="ddlCliente">Cliente:</label>
                <select class="form-control" id="ddlCliente" name="ddlCliente" ng-model="oFiltroPesquisaAvancada.IdCliente" ng-change="ListaGrupo(oFiltroPesquisaAvancada.IdCliente)" ng-required="false">
                    <option value="">---Todos---</option>
                    <option ng-repeat="oCliente in Clientes track by $index" ng-value="oCliente.Id">{{oCliente.NomeRazaoSocial}}</option>
                </select>
            </div>
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
                <label for="ddlGrupo">Grupo:</label>
                <select class="form-control" id="ddlGrupo" name="ddlGrupo" ng-model="oFiltroPesquisaAvancada.IdGrupo" ng-change="ListaScript(oFiltroPesquisaAvancada.IdGrupo)" ng-required="false">
                    <option value="">---Todos---</option>
                    <option ng-repeat="oGrupo in Grupos track by $index" ng-value="oGrupo.Id" ng-if="ControlaExibicaoPermissao(oGrupo.Id, 0, 'Grupo', '')">{{oGrupo.Descricao}}</option>
                </select>
            </div>
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
                <label for="ddlScript">Tipo de Processo:</label>
                <select class="form-control" id="ddlScript" name="ddlScript" ng-model="oFiltroPesquisaAvancada.IdScript" ng-required="false">
                    <option value="">---Todos---</option>
                    <option ng-repeat="oScript in Scripts track by $index" ng-value="oScript.Id" ng-if="ControlaExibicaoPermissao(oFiltroPesquisaAvancada.IdGrupo, oScript.Id, 'Script', '')">{{oScript.Descricao}}</option>
                </select>
            </div>
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
                <label for="txtChaveProcesso">{{sLabelChaveProcesso}}</label>
                <input class="form-control" type="text" id="txtChaveProcesso" name="txtChaveProcesso" ng-model="oFiltroPesquisaAvancada.ChaveProcesso" ng-required="false" />
            </div>
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
                <label for="ddlProcessoClassificacaoPrioridade">Prioridade:</label>
                <select class="form-control" id="ddlProcessoClassificacaoPrioridade" name="ddlProcessoClassificacaoPrioridade" ng-model="oFiltroPesquisaAvancada.IdProcessoClassificacaoPrioridade" ng-required="false">
                    <option value="">---Todos---</option>
                    <option ng-repeat="oProcessoClassificacaoPrioridade in ClassificacoesPrioridade" ng-value="oProcessoClassificacaoPrioridade.Id">{{oProcessoClassificacaoPrioridade.Descricao}}</option>
                </select>
            </div>
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
                <label for="ddlProcessoStatus">Status:</label>
                <select class="form-control" id="ddlProcessoStatus" name="ddlProcessoStatus" ng-model="oFiltroPesquisaAvancada.IdProcessoStatus" ng-required="false">
                    <option value="">---Todos---</option>
                    <option ng-repeat="oProcessoStatus in StatusProcessos" ng-value="oProcessoStatus.Id">{{oProcessoStatus.Descricao}}</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="btnPesquisar()">Pesquisar/Atualizar</button>
    <button class="btn btn-warning" type="button" ng-click="btnFechar()">Fechar</button>
</div>


