﻿<div class="col-sm-12 loginArea">
    <h2>Intervalor</h2><a class="cWhite" href="http://intervalor.com.br">Intervalor.com.br</a><br /><br /><br />
    <address>
        São Paulo - Matriz<br />

        Rua Werner Siemens, 111 • Prédio 25<br />
        Lapa de Baixo • CEP: 05069-010<br />
        São Paulo • SP<br />
        <abbr title="Telefone">
            Tel: (11) 3304-7000
        </abbr><br /><br />

    </address>
    <address>
        São Paulo - Osasco<br />

        Rua Padre Damaso, 150 • 1º - 5º andares<br />
        Centro • CEP: 06016-010 • Osasco • SP<br />
        <abbr title="Telefone">
            Tel: (11) 2504-6900
        </abbr><br /><br />
    </address>

    <address>
        <strong>SAC:</strong>   <a class="cWhite" href="mailto:sac@intervalor.com.br">sac@intervalor.com.br</a><br />
        <strong>Ouvidoria:</strong> <a class="cWhite" href="mailto: ouvidoria@intervalor.com.br">ouvidoria@intervalor.com.br</a>
    </address>
</div>