﻿<div class="col-sm-12 col-md-6 col-lg-4 cWhite loginArea">
    <h2>{{ 'LOGIN' | translate }}</h2>
    <form name="frmUsuarioLogin" ng-submit="frmUsuarioLoginSubmit(frmUsuarioLoginModel)" role="form">
        <div class="form-group col-sm-12" ng-class="{'has-error': frmUsuarioLogin.txtLogin.$dirty && frmUsuarioLogin.txtLogin.$error.required}">
            <label for="txtLogin">{{ 'USER' | translate }}</label>
            <input type="text" name="txtLogin" id="txtLogin" auto-focus=true class="form-control" ng-model="frmUsuarioLoginModel.txtLogin" required />
        </div>
        <div class="form-group col-sm-12" ng-if="!b_esqueceu_senha" ng-class="{'has-error': frmUsuarioLogin.txtSenha.$dirty && frmUsuarioLogin.txtSenha.$error.required}">
            <label for="txtSenha">{{ 'PASSWORD' | translate }}</label>
            <input type="password" name="txtSenha" id="txtSenha" class="form-control" ng-model="frmUsuarioLoginModel.txtSenha" required />
        </div>
        
        <!--TROCA SENHA-->
        <div class="form-group col-sm-12" ng-if="b_troca_senha" ng-class="{'has-error': frmUsuarioLogin.txtSenha.$dirty && frmUsuarioLogin.txtSenha.$error.required}">
            <label for="txtNovaSenha">Nova Senha</label>
            <input type="password" name="txtNovaSenha" id="txtNovaSenha" class="form-control" onkeyup="verificaForcaSenha(this.value);" ng-minlength="6" ng-model="frmUsuarioLoginModel.txtNovaSenha" ng-pattern="/^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{6,}$/" required />
            <span ng-show="frmUsuarioLogin.txtNovaSenha.$dirty && frmUsuarioLogin.txtNovaSenha.$error.required" class="help-block cWhite">
               Preenchimento Obrigatório.
            </span>
            <span ng-show="frmUsuarioLogin.txtNovaSenha.$error.pattern" class="help-block cWhite">
                Senha deve conter letras maiúsculas, minúsculas, números e caracteres especiais. Tamanho mínimo: 6 caracteres.
            </span>
        </div>
        <div class="form-group col-sm-12" ng-if="b_troca_senha" ng-class="{'has-error': frmUsuarioLogin.txtConfirmacaoNovaSenha.$dirty && frmUsuarioLogin.txtConfirmacaoNovaSenha.$error.required}">
            <label for="txtConfirmacaoNovaSenha">Confirme a Senha</label>
            <input type="password" name="txtConfirmacaoNovaSenha" id="txtConfirmacaoNovaSenha" class="form-control" ng-model="frmUsuarioLoginModel.txtConfirmacaoNovaSenha" ng-keyup="ValidaConfirmacaoSenha()" required />
            <span ng-show="frmUsuarioLogin.txtConfirmacaoNovaSenha.$dirty && frmUsuarioLogin.txtConfirmacaoNovaSenha.$error.required" class="help-block cWhite">
                Preenchimento Obrigatório.
            </span>
            <span ng-show="frmUsuarioLogin.txtConfirmacaoNovaSenha.$error.txtConfirmacaoNovaSenha" class="help-block cWhite">
                A confirmação tem que ser idêntica a 'Nova Senha'.
            </span>
        </div>

        <div class="fl_wd100 mrgBottom10" id="ForcaPsw" ng-if="b_troca_senha">
            <label class="fl" style="margin: 4px;">Força da sua senha:</label>
            <span ID="lblForcaSenha" class="lbl_descricao_Campo bold fl mrgLeft1" value="" />
            <div class="BarraForcaSenha fl_wd100" style="border:1px solid #c3c3c3; overflow:hidden;"></div>
        </div>

        <!--BOTÕES-->
        <div class="form-actions col-sm-12">
            <button type="submit" ng-disabled="frmUsuarioLogin.$invalid" ng-show="!loading" class="btn btn-primary col-sm-12 col-md-5 mrgRight0 btnLogin" ng-if="btn_login">{{ 'LOGIN' | translate }}</button>
            <button type="button" ng-show="!loading" class="btn btn-primary col-sm-12 col-md-5 mrgRight0 btnLogin" ng-if="b_troca_senha" ng-click="frmCancelaTrocaSenhaUsuarioSubmit(frmUsuarioLoginModel)">Cancelar</button>
            <button type="button" ng-disabled="frmUsuarioLogin.$invalid" ng-show="!loading" class="btn btn-primary col-sm-12 col-md-6 col-md-offset-1 mrgRight0 btnLogin" ng-if="btn_login || b_troca_senha" ng-click="frmTrocaSenhaUsuarioSubmit(frmUsuarioLoginModel)">{{ 'CHANGE_PASSWORD' | translate }}</button>
        </div>

        <div class="form-group col-sm-12 mrg10">
            <span class="text-danger cWhite mrgBottom10 bold" ng-show="error_login != null && error_login != ''">{{error_login}}</span>
            <div class="text-left fl_wd100 " ng-show="loading">
                <h4>Aguarde...</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="form-actions text-center col-sm-12 mrg10 ">
            <a ng-click="frmEsqueciMinhaSenhaSubmit(frmUsuarioLoginModel)" class="cWhite"><div>{{ 'FORGOT_PASSWORD' | translate }}</div></a>
        </div>-->
    </form>
</div>
<div class="col-sm-12 col-md-6 col-lg-7 col-lg-offset-1 txtCenter cWhite" style="text-shadow: 2px 2px 10px #000; ">
    <div class="col-sm-12">
        <h1 class="txtCenter">
            {{ 'TITLE' | translate }}
        </h1>
    </div>
    <div class="col-md-12 " >
        <p>{{ 'SUBTITLE' | translate }}</p> 
    </div>
    <div class="col-md-12">
        <h2>{{ 'SUBTITLE_QUALITY' | translate }}</h2>     
    </div>
</div>