﻿<style>
body {background-image: url('images/Backgrounds/bg_automation.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
html {height: 100%;}
a {cursor: pointer;}
a:hover {color: #e6e6e6 !important;}
</style>

<nav class="navbar navbar-custom " style="border-radius:0; background-color:rgba(51, 122, 183, 0.65); box-shadow: 0px 0px 11px #403f3f;" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="fl_wd100" style="max-width:160px; margin:10px 10px 10px 0;">
                <img src="Images/Logotipos/180405_LogoAutomationRPA-02.png" width="100%" />
            </a>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse fr">
            <ul class="nav navbar-nav">
                <li><a href="#Home"><div>Home</div></a></li>
                <li><a href="#SobreNos"><div>Sobre Nós</div></a></li>
                <li><a href="#Contato"><div>Contato</div></a></li>
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">
                <li><a href="#Login"><div> <i class="glyphicon glyphicon-log-in"></i> Login</div></a></li>
            </ul>-->
        </div>
    </div>
</nav>
<div class="container body-layout-content">
    <div id="viewContent" class="cWhite" style="padding: 3% 0 0;" ng-view></div>
    <hr />
    <footer class="footer navbar-fixed-bottom Login_Footer cWhite">
        <a href="#" class="a_footer">Automation - Intervalor Arvato - 2017-{{DataAtual| date:'yyyy'}}</a>
    </footer>
</div>
