﻿<h2>Login.</h2>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Utilize seu login e senha para acessar o sistema.</h4>
        <form name="frmUsuarioLogin" ng-submit="frmUsuarioLoginSubmit(frmUsuarioLoginModel)" role="form">
            <div class="form-group" ng-class="{'has-error': frmUsuarioLogin.txtLogin.$dirty && frmUsuarioLogin.txtLogin.$error.required}">
                <label for="txtLogin">Login</label>
                <input type="text" name="txtLogin" id="txtLogin" class="form-control" ng-model="frmUsuarioLoginModel.txtLogin" required />
                <span ng-show="frmUsuarioLogin.txtLogin.$dirty && frmUsuarioLogin.txtLogin.$error.required" class="help-block">Username is required</span>
            </div>
            <div class="form-group" ng-if="!b_esqueceu_senha" ng-class="{'has-error': frmUsuarioLogin.txtSenha.$dirty && frmUsuarioLogin.txtSenha.$error.required}">
                <label for="txtSenha">Senha</label>
                <input type="password" name="txtSenha" id="txtSenha" class="form-control" ng-model="frmUsuarioLoginModel.txtSenha" required />
                <span ng-show="frmUsuarioLogin.txtSenha.$dirty && frmUsuarioLogin.txtSenha.$error.required" class="help-block">Password is required</span>
            </div>
            <div class="form-group" ng-if="b_troca_senha" ng-class="{'has-error': frmUsuarioLogin.txtSenha.$dirty && frmUsuarioLogin.txtSenha.$error.required}">
                <label for="txtNovaSenha">Nova Senha</label>
                <input type="password" name="txtNovaSenha" id="txtNovaSenha" class="form-control" ng-model="frmUsuarioLoginModel.txtNovaSenha" required />
                <span ng-show="frmUsuarioLogin.txtNovaSenha.$dirty && frmUsuarioLogin.txtNovaSenha.$error.required" class="help-block">New password is required</span>
            </div>
            <div class="form-group" ng-if="b_troca_senha" ng-class="{'has-error': frmUsuarioLogin.txtSenha.$dirty && frmUsuarioLogin.txtSenha.$error.required}">
                <label for="txtConfirmacaoNovaSenha">Confirme</label>
                <input type="password" name="txtConfirmacaoNovaSenha" id="txtConfirmacaoNovaSenha" class="form-control" ng-model="frmUsuarioLoginModel.txtConfirmacaoNovaSenha" required />
                <span ng-show="frmUsuarioLogin.txtConfirmacaoNovaSenha.$dirty && txtConfirmacaoNovaSenha.txtSenha.$error.required" class="help-block">Confirm new password is required</span>
            </div>
            <div class="form-actions" style="float: right">
                <button type="button" ng-show="!loading" class="btn btn-primary" ng-if="b_troca_senha" ng-click="frmCancelaTrocaSenhaUsuarioSubmit(frmUsuarioLoginModel)">Cancelar</button>
                <button type="button" ng-disabled="frmUsuarioLogin.$invalid" ng-show="!loading" class="btn btn-primary" ng-if="btn_login || b_troca_senha" ng-click="frmTrocaSenhaUsuarioSubmit(frmUsuarioLoginModel)">Trocar Senha</button>
                <button type="submit" ng-disabled="frmUsuarioLogin.$invalid" ng-show="!loading" class="btn btn-primary" ng-if="btn_login">Login</button> 
            </div>   
            <div class="form-group">
                <span class="text-danger">{{error}}</span>
                <div class="text-left" ng-show="loading" style="width:30%">
                    <h4>Aguarde...</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>   
            <div class="form-actions text-center">
                <a ng-click="frmEsqueciMinhaSenhaSubmit(frmUsuarioLoginModel)"><div>Esqueci minha senha</div></a>
            </div>
        </form>   
    </div>
</div>
