﻿
<div class="col-sm-12 loginArea">
    <p>
        Em 1999, a Intervalor foi fundada com o princípio de que a tecnologia e a inovação seriam as melhores aliadas
        para proporcionar grandes resultados a seus clientes. Desde então, tornou-se uma das empresas líderes brasileiras,
        especializada em soluções para crédito, cobrança, backoffice e relacionamento com o consumidor.
    </p>
    <p>
        De tanto orientar as atividades para oferecer soluções inovadoras com suporte de tecnologia de ponta,
        a Intervalor percebeu que as soluções desenvolvidas internamente poderiam ser utilizadas em outras áreas,
        dando origem assim à Novigo, empresa de tecnologia do Grupo Intervalor.
    </p>
    <p>
        A partir de 2015, tendo como integrante do seu quadro societário a arvato Financial Solutions,
        a Intervalor tem como diretrizes o fortalecimento de seu core business, expansão de sua atuação para
        novas regiões e entrada em novos segmentos.
    </p>
    <p>
        Atualmente, o Grupo Intervalor conta com um time de 3.000 pessoas contratadas em regime CLT,
        mais de 2.000 posições de atendimento plenamente adequadas às normas da NR17 e três unidades
        (duas em São Paulo e uma em Osasco ), que concentram a prestação de serviços,  disponível para todo o território nacional.
    </p>
</div>
