﻿
<div class="row">

    <!--<div class="row">
        <div id="hs-view"></div>
    </div>-->

    <div class="container-fluid">
        <div class="row">
            <iframe id="term" src="http://note-ejbenedict:8023/Panamericano_Vision/" frameborder=0 
                    style="min-width: 80%; max-width: 100%; min-height: 300px; min-height:100%;" width="100%"></iframe>
        </div>
    </div>

</div>