﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Alteração Cadastral</h3>
</div>
<div ng-switch="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['AlteracaoSolicitada']">
    <div class="pdg10_2">
        <div ng-switch-when="Nome">
            <label>Nome:</label>&nbsp;<label>{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['Nome']}}</label>
        </div>
        <div ng-switch-default>
            <label>Data de Nascimento:</label>&nbsp;<label>{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['DataNascimento'] | date:'dd/MM/yyyy'}}</label>
        </div>

        Atualizar os dados?
        <div class="radio">
            <label>
                <input ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['EfetuarAlteracao']" type="radio" name="rdoResult" value="True">
                Sim
            </label>
        </div>
        <div class="radio">
            <label>
                <input ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['EfetuarAlteracao']" type="radio" name="rdoResult" value="False">
                Não
            </label>
        </div>
    </div>
</div>
<div>
    <span class="text-danger">{{MsgRetorno}}</span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Continuar Execução</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar Execução</button>
</div>