﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Baixa de Pagamento</h3>
    <div class="checkbox pull-right">
        <label>
            <input type="checkbox" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']" />
            Envio para o segundo nível
        </label>
    </div>
    <br />
</div>

<div class="modal-body" id="modal-body" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais)">
    <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Pagamento" is-open="true">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label for="txtProtocolo">Protocolo</label>
                        <input type="text" class="form-control" id="txtChaveProcesso" name="txtProtocolo" ng-model="oProcesso.ChaveProcesso" ng-required="true" ng-readonly="true" />
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label for="txtNumeroDossie">Número Dossiê</label>
                        <input type="text" class="form-control" id="txtNumeroDossie" name="txtNumeroDossie" ng-model="oProcesso.ScriptInfosAdicionais.NumeroDossie" ng-required="true" ng-readonly="true" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="txtCodigoBarras" class="wd100">Código de Barras</label>
                        <input type="text" class="form-control" id="txtCodigoBarras" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.CodigoBarras" ng-required="true" min="3" onkeypress="isNum()" onkeyup="validaCodigoBarras(this)" />
                    </div>
                </div>
                <div id="dvCodigoInvalido" class="col-sm-12 col-md-12 col-lg-12 text-danger">
                    <label id="lblValidaCodigoBarras"></label>
                </div>
            </div>
            <div id="dvAcaoProtocolo" uib-accordion-group class="panel-primary hoverable" heading="Ação" is-open="true" style="display:none;">
                <div class="radio col-sm-12 col-md-12 col-lg-12">
                    <label>
                        <input ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SolicitarComprovante']" type="radio" name="rdoAcao" value="True">
                        Solicitar Comprovante
                    </label>
                </div>
                <div class="radio col-sm-12 col-md-12 col-lg-12">
                    <label>
                        <input ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SolicitarComprovante']" type="radio" name="rdoAcao" value="False">
                        Encerrar Protocolo
                    </label>
                </div>
            </div>
            <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
                <div>
                    <span class="text-danger">{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Observacao}}</span>
                </div>
            </div>
        </uib-accordion>
    </div>

    <div ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-primary hoverable" heading="Dados Envio Segundo Nível" is-open="true">
                <textarea class="form-control" id="txtAnotacaoBaixaPagamento" name="txtAnotacaoBaixaPagamento" placeholder="Anotação:" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['Observacao']" style="resize:none" ng-required="true" rows="3"></textarea>
            </div>
        </uib-accordion>
    </div>
    <div>
        <span class="text-danger">{{MsgRetorno}}</span>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Continuar Execução</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>