﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Cancelamento de Parcelamento de Fatura</h3>    
</div>
<div class="modal-body" id="modal-body" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.CancelamentoPFRA = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.CancelamentoPFRA)">
    <div>
        <div>
            <div class="table-responsive" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.CancelamentoPFRA.ExibirProdutos">
                <table st-table="ListaProdutos" st-safe-src="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.CancelamentoPFRA.Cartao.ListaProduto" class="table table-striped" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.CancelamentoPFRA.Cartao.ListaProduto">
                    <thead>
                        <tr>
                            <th></th>                            
                            <th>Produto</th>
                            <th>Valor(R$)</th>
                            <th>Observação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="oProduto in ListaProdutos">
                            <td>
                                <input type="checkbox" ng-disabled="!oProduto.PermiteCancelar" ng-model="oProduto.isSelected" />
                            </td>
                            <td>{{oProduto.Produto}}</td>
                            <td>{{oProduto.ValorParcela | currency}}</td>
                            <td title="{{oProduto.Observacao}}" style="white-space: normal;">{{oProduto.Observacao}}</td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>        
    </div>
    <div>
        <div ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.CancelamentoPFRA.ExibirMensagem">
            <span class="text-danger">{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.CancelamentoPFRA.MensagemRetorno}}</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!--<div class="btn" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.CancelamentoPFRA.ExibirProdutos">-->
    <div>
        <button class="btn btn-primary" type="button" ng-click="ok()">Continuar Execução</button>
        <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar Execução/Fechar Protocolo</button>-->
    </div>
 </div>