﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Carta - {{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.TipoCarta }}</h3>
    <div class="checkbox">
        <div class="pull-right" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ProtocoloValido">
            <label>
                <input type="checkbox" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']" />
                Envio para o Segundo Nível
            </label>
        </div>
    </div>
    <br />
</div>

<div class="modal-body" id="modal-body" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais)">
    <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-primary hoverable" heading="Dados Protocolo" is-open="true" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ProtocoloValido">
                <div class="table-responsive txtCenter">
                    <table class="table">
                        <thead>
                            <tr>
                                <th ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.IdTipoCarta != 6">Número Dossiê</th>
                                <th ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.IdTipoCarta == 6">CPF</th>
                                <th>Agente Solução</th>
                                <th>Evento Padrão</th>
                                <th>Assunto</th>
                                <th>Tipo Carta</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.IdTipoCarta != 6">{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.NumeroDossie }}</td>
                                <td ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.IdTipoCarta == 6">{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.CPF }}</td>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.AgenteSolucao }}</td>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EventoPadrao }}</td>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Assunto }}</td>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.TipoCarta }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div uib-accordion-group class="panel-primary hoverable" heading="Dados Carta" is-open="true" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ProtocoloValido">
                <div class="col-sm-12">
                    <form>
                        <div class="form-group col-md-2" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.IdTipoCarta != 6">
                            <label for="txtNumeroDossie">Número Dossiê</label>
                            <input type="text" class="form-control" id="txtNumeroDossie" name="txtNumeroDossie" placeholder="Dossiê" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.NumeroDossie" ng-required="true" />
                        </div>
                        <div class="form-group col-md-2" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.IdTipoCarta == 6">
                            <label for="txtCPF">CPF</label>
                            <input type="text" class="form-control" id="txtCPF" name="txtCPF" placeholder="Cpf" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.CPF" ng-required="true" />
                        </div>
                        <div class="form-group col-sm-12 col-md-3">
                            <label for="txtTipoConta">Tipo de Carta</label>
                            <select class="form-control" id="txtTipoCarta" name="txtTipoCarta" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.IdTipoCarta" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.IdTipoCarta=oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.IdTipoCarta" ng-required="true">
                                <option value="0">---Selecione---</option>
                                <!--<option value="1">Anuência</option>-->
                                <option value="2">Cancelamento Cartão</option>
                                <option value="3">Quitação</option>
                                <!--<option value="4">Informe Rendimento</option>-->
                                <option value="5">Cancelamento Seguro</option>
                                <option value="6">Carta de Recusa/Proposta Recusada</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
                <div>
                    <span class="text-danger">{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Observacao}}</span>
                </div>
            </div>
        </uib-accordion>
    </div>

    <div ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-primary hoverable" heading="Dados Segundo Nível" is-open="true">
                <textarea class="form-control" id="txtAnotacaoCarta" name="txtAnotacaoCarta" placeholder="Anotação:" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['Observacao']" style="resize:none" ng-required="true" rows="3"></textarea>
            </div>
        </uib-accordion>
    </div>
    <div>
        <span class="text-danger">{{MsgRetorno}}</span>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Continuar Execução</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ProtocoloValido">Cancelar</button>
</div>