﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Carta - Formalização ({{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.TipoCarta }})</h3>
    <div class="checkbox">
        <div class="pull-right" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ProtocoloValido">
            <label>
                <input type="checkbox" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']" />
                Envio para o Segundo Nível
            </label>
        </div>
    </div>
    <br />
</div>
<div class="modal-body" id="modal-body" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais)">
    <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-danger mrg15" heading="Mensagem para o operador" is-open="true" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Observacao && oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EnviarCarta">
                <div class="col-sm-12">
                    <p style="color: red;"><b>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Observacao }}</b></p>
                </div>
            </div>
            <div uib-accordion-group class="panel-primary hoverable" heading="Dados de envio" is-open="true" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
                <div class="table-responsive">
                    <div class="alert alert-success" role="alert" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EnviarCarta">
                        <p style="color: black;">Carta será enviada para o cliente</p>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EnviarCarta">
                        <p style="color: black;">{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Observacao}}</p>
                    </div>
                </div>
                <div class="table-responsive txtCenter">
                    <table class="table">
                        <thead>
                            <tr>
                                <th ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.IdTipoCarta != 6">Número Dossiê</th>
                                <th ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.IdTipoCarta == 6">CPF</th>
                                <th ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.NomeCliente">Cliente</th>
                                <th>Tipo Carta</th>
                                <th ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Email">E-mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.IdTipoCarta != 6">{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.NumeroDossie }}</td>
                                <td ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.IdTipoCarta == 6">{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.CPF }}</td>
                                <td ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.NomeCliente">{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.NomeCliente }}</td>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.TipoCarta }}</td>
                                <td ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Email">{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Email }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div uib-accordion-group class="panel-primary hoverable" heading="Dados de envio da Carta" is-open="true" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EnviarCarta">
                <div class="col-sm-12">
                    <form>
                        <div class="form-group col-md-6">
                            <label for="txtEmail">E-mail</label>
                            <input type="text" class="form-control" id="txtEmail" name="txtEmail" placeholder="E-mail" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Email" ng-required="true" />
                        </div>
                    </form>
                </div>
            </div>
        </uib-accordion>
    </div>

    <div ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-primary hoverable" heading="Dados Segundo Nível" is-open="true">
                <textarea class="form-control" id="txtAnotacaoCarta" name="txtAnotacaoCarta" placeholder="Anotação:" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['Observacao']" style="resize:none" ng-required="true" rows="3"></textarea>
            </div>
        </uib-accordion>
    </div>

    <div>
        <span class="text-danger">{{MsgRetorno}}</span>
    </div>

</div>
<div class="modal-footer" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EnviarCarta">Enviar Carta</button>
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EnviarCarta">Fechar Protocolo</button>
</div>
<div class="modal-footer" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
    <button class="btn btn-primary" type="button" ng-click="ok()">Encaminhar</button>
</div>