﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Compras Mastercard/Visa</h3>
</div>
<div class="modal-body" id="modal-body">
    <div ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PermiteContestar" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras)">
        <div class="table-responsive" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras.length > 0">
            <table st-table="ComprasCartaoDisplay" st-safe-src="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras" class="table table-striped" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras">
                <thead>
                    <tr>
                        <th></th>
                        <th>Data Lançamento</th>
                        <th>Data Compra</th>
                        <th>Origem</th>
                        <th>Operação</th>
                        <th>Valor(R$)</th>
                        <th>Análise</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="oCompra in ComprasCartaoDisplay">
                        <td rowspan="{{oCompra.Parcelas.length}}">
                            <input type="checkbox" ng-disabled="!oCompra.Selecionavel" ng-model="oCompra.isSelected" />
                        </td>
                        <td>
                            {{oCompra.Parcelas[0].Data != '0001-01-01T00:00:00' ? oCompra.Parcelas[0].Data : ''| date:'dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{oCompra.Parcelas[0].DataReferencia != '0001-01-01T00:00:00' ? oCompra.Parcelas[0].DataReferencia : ''| date:'dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{oCompra.Parcelas[0].Origem}}
                        </td>
                        <td>
                            {{oCompra.Parcelas[0].Operacao}}
                        </td>
                        <td>
                            {{oCompra.Parcelas[0].Debito | currency:"R$"}}
                        </td>
                        <td title="{{oCompra.Parcelas[0].Analise}}">
                            {{oCompra.Parcelas[0].Analise}}
                        </td>
                        <td title="{{oCompra.Parcelas[0].Observacao}}">
                            {{oCompra.Parcelas[0].Observacao}}
                        </td>
                    </tr>
                    <tr ng-repeat="parcela in oCompra.Parcelas" ng-if="!$first" ng-repeat-end>
                        <td>
                            {{parcela.Data != '0001-01-01T00:00:00' ? parcela.Data : ''| date:'dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{parcela.DataReferencia != '0001-01-01T00:00:00' ? parcela.DataReferencia : ''| date:'dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{parcela.Origem}}
                        </td>
                        <td>
                            {{parcela.Operacao}}
                        </td>
                        <td>
                            {{parcela.Debito | currency:"R$"}}
                        </td>
                        <td title="{{parcela.Analise}}">
                            {{parcela.Analise}}
                        </td>
                        <td title="{{parcela.Observacao}}">
                            {{parcela.Observacao}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <span class="text-warning">Compras com datas anteriores a 90 dias não poderão ser tratadas neste processo</span>
            </div>
        </div>
        <div>
            <span class="text-danger">{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MensagemRetorno}}</span>
        </div>
        <div ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MensagemRetorno === '' ">
            <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras.length > 0">
                <div>
                    <h3><span class="text-danger">{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MensagemRetorno}}</span> Nenhum cartão encontrado</h3>
                </div>
            </div>
        </div>
    </div>
    <uib-accordion close-others="false" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PermiteContestar" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Endereco = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Endereco)">
        <div uib-accordion-group class="panel-primary hoverable mrg15" heading="Dados do Cartão" is-open="true">
            <div class="container-fluid">
                <div class="form-group col-sm-12 col-md-6">
                    <label for="txtPagamento">Houve Pagamento?</label>
                    <input type="text" class="form-control" id="txtPagamento" name="txtPagamento" placeholder="Houve Pagamento" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.HouvePagamento" ng-readonly="true" />
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="txtDataAbertura">Data de Abertura do Cartão</label>
                    <input type="text" class="form-control" id="txtDataAbertura" name="txtDataAbertura" placeholder="Data de Abertura do Cartão" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.DataAbertura | date:'dd/MM/yyyy'" ng-readonly="true" />
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="txtEndereco">Endereço</label>
                    <input type="text" class="form-control" id="txtEndereco" name="txtEndereco" placeholder="Endereço Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Endereco.Logradouro" ng-readonly="true" />
                </div>
                <div class="form-group col-sm-12 col-md-2">
                    <label for="txtEnderecoNumero">Número</label>
                    <input type="text" class="form-control" id="txtEnderecoNumero" name="txtEnderecoNumero" placeholder="Número Endereço Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Endereco.NumeroLogradouro" ng-readonly="true" />
                </div>
                <div class="form-group col-sm-12 col-md-2">
                    <label for="txtEnderecoComplemento">Complemento</label>
                    <input type="text" class="form-control" id="txtEnderecoComplemento" name="txtEnderecoComplemento" placeholder="Complemento Endereço Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Endereco.Complemento" ng-readonly="true" />
                </div>
                <div class="form-group col-sm-12 col-md-2">
                    <label for="txtCep">CEP</label>
                    <input type="text" class="form-control" id="txtCep" name="txtCep" placeholder="Cep Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Endereco.Cep" ng-readonly="true" />
                </div>
                <div class="form-group col-md-4">
                    <label for="txtBairro">Bairro</label>
                    <input type="text" class="form-control" id="txtBairro" name="txtBairro" placeholder="Bairro Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Endereco.Bairro" ng-readonly="true" />
                </div>
                <div class="form-group col-md-4">
                    <label for="txtCidade">Cidade</label>
                    <input type="text" class="form-control" id="txtCidade" name="txtCidade" placeholder="Cidade Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Endereco.Cidade" ng-readonly="true" />
                </div>
                <div class="form-group col-md-2">
                    <label for="txtUF">UF</label>
                    <input type="text" class="form-control" id="txtUF" name="txtUF" placeholder="UF Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Endereco.UF" ng-readonly="true" />
                </div>
                <hr class="fl_wd100" style="padding: 0 !important;margin: 5px 0 15px !important;" />
                <div class="col-sm-12">
                    <form name="frmCompras">
                        <div class="form-group col-sm-12 col-md-3 mrg10">
                            <label for="rdoDesconheceCartao">Cliente continua desconhecendo o cartão?</label>
                        </div>
                        <div class="form-group col-sm-12 col-md-1 mrg10">
                            <label>
                                <input ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.DesconheceCartao" type="radio" name="rdoDesconheceCartao" value="true">
                                Sim
                            </label>
                        </div>
                        <div class="form-group col-sm-12 col-md-1 mrg10">
                            <label>
                                <input ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.DesconheceCartao" type="radio" name="rdoDesconheceCartao" value="false">
                                Não
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </uib-accordion>
    <div>
        <span class="text-danger">{{MsgRetorno}}</span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Continuar Execução</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar Execução</button>
</div>