﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{oProcesso.Script.Descricao}}</h3>
</div>
<div class="modal-body" id="modal-body" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras)">
    <div ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras)">
        <div class="table-responsive" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras.length > 0">
            <table st-table="ComprasAuraB2WDisplay" st-safe-src="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras" class="table table-striped" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras">
                <thead>
                    <tr>
                        <th></th>
                        <th>Data Lançamento</th>
                        <th>Data Compra</th>
                        <th>Origem</th>
                        <th>Operação</th>
                        <th>Valor(R$)</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="oCompra in ComprasAuraB2WDisplay">
                        <td><input type="checkbox" ng-disabled="!oCompra.Selecionavel" ng-model="oCompra.isSelected" /></td>
                        <td>{{oCompra.Data != '0001-01-01T00:00:00' ? oCompra.Data : ''| date:'dd/MM/yyyy'}}</td>
                        <td>{{oCompra.DataReferencia != '0001-01-01T00:00:00' ? oCompra.DataReferencia : ''| date:'dd/MM/yyyy'}}</td>
                        <td>{{oCompra.Origem}}</td>
                        <td>{{oCompra.Operacao}}</td>
                        <td>{{oCompra.Debito | currency:"R$"}}</td>
                        <td title="{{oCompra.Observacao}}">{{oCompra.Observacao}}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <span class="text-warning">Compras com datas anteriores a 90 dias não poderão ser tratadas neste processo</span>
            </div>
        </div>
        <div>
            <span class="text-danger">{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MensagemRetorno}}</span>
        </div>
        <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras.length > 0">
            <div>
                <h3><span class="text-danger">Nenhuma compra encontrada</span></h3>
            </div>
        </div>
    </div>
    <div>
        <span class="text-danger">{{MsgRetorno}}</span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Continuar Execução</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar Execução</button>
</div>