﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Detalhes da Contestação de Compra</h3>
    <br />
</div>
<div class="modal-body" id="modal-body" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaComprasSelecionadas = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaComprasSelecionadas)">
    <div ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaComprasSelecionadas = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaComprasSelecionadas)">
        <div>
            <div class="table-responsive" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaComprasSelecionadas.length > 0">
                <uib-accordion close-others="false">
                    <div uib-accordion-group class="panel-primary hoverable" heading="Compras Contestadas" is-open="true">
                        <div class="container-fluid">
                            <table st-table="ComprasCartaoDisplay" st-safe-src="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaComprasSelecionadas" class="table table-striped" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaComprasSelecionadas">
                                <thead>
                                    <tr>
                                        <th>Data de Lançamento</th>
                                        <th>Data da Compra</th>
                                        <th>Operação</th>
                                        <th>Valor Total (R$)</th>
                                        <th>Análise</th>
                                        <th>Observação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="oCompra in ComprasCartaoDisplay">
                                        <td>
                                            {{oCompra.DataLancamentoExtrato != '0001-01-01T00:00:00' ? oCompra.DataLancamentoExtrato : ''| date:'dd/MM/yyyy'}}
                                        </td>
                                        <td>
                                            {{oCompra.DataTransacao != '0001-01-01T00:00:00' ? oCompra.DataTransacao : ''| date:'dd/MM/yyyy'}}
                                        </td>
                                        <td>
                                            {{oCompra.DescricaoOperacao}}
                                        </td>
                                        <td>
                                            {{oCompra.ValorTotal | currency:"R$"}}
                                        </td>
                                        <td title="{{oCompra.Analise}}" style="white-space: normal;">
                                            {{oCompra.Analise}}
                                        </td>
                                        <td title="{{oCompra.Observacao}}" style="white-space: normal;" class="text-danger">
                                            {{oCompra.Observacao}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </uib-accordion>
            </div>
        </div>
        <div class="table-responsive" >
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable" heading="Informações de Contato" is-open="true">
                    <div class="container-fluid">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="txtEmail">E-mail</label>
                                    <input type="email" class="form-control" id="txtEmail" ng-pattern="Email.isValid" name="txtEmail" placeholder="exemplo@novigo.com.br" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EmailComentario" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="txtEmailConfirmacao">E-mail Confirmação</label>
                                    <input type="email" class="form-control" id="txtEmailConfirmacao" ng-pattern="Email.isValid" name="txtEmailConfirmacao" placeholder="exemplo@novigo.com.br" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EmailComentarioConfirmacao" ng-required="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EmailComentario === ''" ng-paste="$event.preventDefault()" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="txtTelefoneComentario">Telefone</label>
                                    <input type="text" class="form-control" id="txtTelefoneComentario" name="txtTelefoneComentario" ui-mask="(99)999999999" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.TelefoneComentario" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="txtTelefoneComentarioConfirmacao">Telefone Confirmação</label>
                                    <input type="text" class="form-control" id="txtTelefoneComentarioConfirmacao" name="txtTelefoneComentarioConfirmacao" ui-mask="(99)999999999" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.TelefoneComentarioConfirmacao" ng-required="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.TelefoneComentarioConfirmacao === ''" ng-paste="$event.preventDefault()" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </uib-accordion>
        </div>
    </div>
    <div>
        <span class="text-danger">{{MsgRetorno}}</span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Continuar Execução</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar Execução</button>
</div>