﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Checklist da Contestação</h3>
    <br />
</div>
<div class="modal-body" id="modal-body" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais = {}">
    <form name="frmChecklist">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="ddlReconheceCartao">Cliente Reconhece o Cartão?</label>
                <select class="form-control" id="ddlReconheceCartao" name="ddlReconheceCartao" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].ReconheceCartao" ng-required="true">
                    <option value="">---Selecione---</option>
                    <option value="Sim">Sim</option>
                    <option value="Não">Não</option>
                </select>
            </div>
        </div>
        <div class="row" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].ReconheceCartao === 'Sim'">
            <div class="form-group col-sm-12">
                <label for="ddlRecebeuCartao">Cliente Recebeu o Cartão?</label>
                <select class="form-control" id="ddlRecebeuCartao" name="ddlRecebeuCartao" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].RecebeuCartao" ng-required="true">
                    <option value="">---Selecione---</option>
                    <option value="Sim">Sim</option>
                    <option value="Não - sem alteração de endereço">Não - sem alteração de endereço</option>
                    <option value="Não - houve alteração de endereço antes do envio">Não - houve alteração de endereço antes do envio</option>
                </select>
            </div>
        </div>
        <div class="row" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].ReconheceCartao === 'Sim' &&
                        oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].RecebeuCartao === 'Sim'">
            <div class="form-group col-sm-12">
                <label for="ddlPerdaRoubo">Cartão Perdido, Roubado ou Sofreu Coação?</label>
                <select class="form-control" id="ddlPerdaRoubo" name="ddlPerdaRoubo" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].CartaoPerdidoRoubado" ng-required="true">
                    <option value="">---Selecione---</option>
                    <option value="Perda">Perda</option>
                    <option value="Roubo">Roubo</option>
                    <option value="Não">Não</option>
                </select>
            </div>
        </div>
    </form>
    <div>
        <span class="text-danger">{{MsgRetorno}}</span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="frmChecklist.$invalid">Continuar Execução</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar Execução</button>
</div>