﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Checklist da Contestação</h3>
    <br />
</div>
<div class="modal-body" id="modal-body" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais = {}">
    <form name="frmChecklist">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="ddlSolicitouCartao">Cliente solicitou o cartão?</label>
                <select class="form-control" id="ddlSolicitouCartao" name="ddlSolicitouCartao" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].SolicitouCartao" ng-required="true">
                    <option value="">---Selecione---</option>
                    <option value="Sim">Sim</option>
                    <option value="Não">Não</option>
                </select>
            </div>
        </div>
        <div class="row" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].SolicitouCartao === 'Sim'">
            <div class="form-group col-sm-12">
                <label for="ddlRecebeuCartao">Cliente recebeu o cartão?</label>
                <select class="form-control" id="ddlRecebeuCartao" name="ddlRecebeuCartao" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].RecebeuCartao" ng-required="true">
                    <option value="">---Selecione---</option>
                    <option value="Sim">Sim</option>
                    <option value="Não">Não</option>
                </select>
            </div>
        </div>
        <div class="row" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].SolicitouCartao === 'Sim' &&
                        oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].RecebeuCartao === 'Sim'">
            <div class="form-group col-sm-12">
                <label for="ddlPerdaRoubo">Cartão perdido ou roubado?</label>
                <select class="form-control" id="ddlPerdaRoubo" name="ddlPerdaRoubo" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].CartaoPerdidoRoubado" ng-required="true">
                    <option value="">---Selecione---</option>
                    <option value="Perda">Perda</option>
                    <option value="Roubo">Roubo</option>
                    <option value="Não">Não</option>
                </select>
            </div>
        </div>
        <div class="row" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].SolicitouCartao === 'Sim' &&
                        oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].RecebeuCartao === 'Sim' &&
                        oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].CartaoPerdidoRoubado === 'Roubo'">
            <div class="form-group col-sm-12">
                <label for="ddlCoacao">Cliente sofreu coação?</label>
                <select class="form-control" id="ddlCoacao" name="ddlCoacao" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].SofreuCoacao" ng-required="true">
                    <option value="">---Selecione---</option>
                    <option value="Sim">Sim</option>
                    <option value="Não">Não</option>
                </select>
            </div>
        </div>
        <div class="row" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].SolicitouCartao === 'Sim' &&
                        oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].RecebeuCartao === 'Sim' &&
                        oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].CartaoPerdidoRoubado === 'Roubo' &&
                        oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].SofreuCoacao === 'Sim'">
            <div class="form-group col-sm-12">
                <label for="ddlBoletim">Cliente possui Boletim de Ocorrência?</label>
                <select class="form-control" id="ddlBoletim" name="ddlBoletim" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ChecklistContestacao'].PossuiBoletim" ng-required="true">
                    <option value="">---Selecione---</option>
                    <option value="Sim">Sim</option>
                    <option value="Não">Não</option>
                </select>
            </div>
        </div>
    </form>
    <div>
        <span class="text-danger">{{MsgRetorno}}</span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="frmChecklist.$invalid">Continuar Execução</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar Execução</button>
</div>