﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Estorno/Cancelamento de Seguros</h3>
    <div class="checkbox" style="float:right">
        <label><input type="checkbox" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">Envio para o segundo nível</label>
    </div>
</div>
<div class="modal-body" id="modal-body">
    <div ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.SegurosEstorno = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.SegurosEstorno)"></div>
    <div>
        <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
            <div class="table-responsive" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.SegurosEstorno.length > 0">
                <table st-table="SegurosEstornosDisplay" st-safe-src="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.SegurosEstorno" class="table table-striped" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.SegurosEstorno">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Produto</th>
                            <th>Descrição</th>
                            <th>Prêmio</th>
                            <th>Data de Pagamento</th>
                            <th>Posição</th>
                            <th>Observação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="oTransacao in SegurosEstornosDisplay">
                            <td><input type="checkbox" ng-disabled="!oTransacao.PermiteEstornar" ng-model="oTransacao.isSelected" /></td>
                            <td>{{oTransacao.Produto}}</td>
                            <td>{{oTransacao.Descricao}}</td>
                            <td>{{oTransacao.Premio | currency:"R$"}}</td>
                            <td>{{oTransacao.DataPagamento != '0001-01-01T00:00:00' ? oTransacao.DataPagamento : ''| date:'dd/MM/yyyy'}}</td>
                            <td>{{oTransacao.Posicao}}</td>                                                
                            <td>{{oTransacao.Observacao}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>            
            <div>
                <span class="text-danger">{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Observacao}}</span>
            </div>
            <div>
                <span class="text-danger">Caso os valores já estejam regularizados clique em <strong>Continuar Execução</strong> para finalizar o protocolo.</span>
            </div>
        </div>
        <div ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
            <textarea class="form-control" id="txtAnotacaoSeguros" name="txtAnotacaoSeguros" placeholder="Anotação:" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['Observacao']" style="resize:none" ng-required="true" rows="10"></textarea>
        </div>
    </div>
    <div>
        <span class="text-danger">{{MsgRetorno}}</span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Continuar Execução</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>

