﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Estorno de Encargos</h3>
    <div class="checkbox" style="float:right">
        <label><input type="checkbox" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">Enviar para o Segundo Nível</label>
    </div>
</div>
<div class="modal-body" id="modal-body" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoBancario = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoBancario)">
    <div ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EncargosEstorno = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EncargosEstorno)">
        <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
            <div class="table-responsive" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EncargosEstorno.length > 0">
                <table st-table="EncargosEstornoDisplay" st-safe-src="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EncargosEstorno" class="table table-striped" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EncargosEstorno">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Data</th>
                            <th>Data Ref.</th>
                            <th>Origem</th>
                            <th>Operação</th>
                            <th>Valor do Estorno</th>
                            <th>Observação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="oTransacao in EncargosEstornoDisplay">
                            <td><input type="checkbox" ng-disabled="!oTransacao.PermiteEstornar" ng-model="oTransacao.isSelected" /></td>
                            <td>{{oTransacao.Data != '0001-01-01T00:00:00' ? oTransacao.Data : ''| date:'dd/MM/yyyy'}}</td>
                            <td>{{oTransacao.DataReferencia != '0001-01-01T00:00:00' ? oTransacao.DataReferencia : ''| date:'dd/MM/yyyy'}}</td>
                            <td>{{oTransacao.Origem}}</td>
                            <td>{{oTransacao.Operacao}}</td>
                            <td>{{oTransacao.Debito | currency:"R$"}}</td>
                            <td title="{{oTransacao.Observacao}}">{{oTransacao.Observacao}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EncargosEstorno.length > 0">
                <div>
                    <h3>Nenhum encargo encontrado</h3>
                </div>
            </div>
        </div>
        <div ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
            <textarea class="form-control" id="txtAnotacaoEncargos" name="txtAnotacaoEncargos" placeholder="Anotação:" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['Observacao']" style="resize:none" ng-required="true" rows="10"></textarea>
        </div>
    </div>
    <div>
        <span class="text-danger">{{MsgRetorno}}</span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Continuar Execução</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar/Fechar Protocolo</button>
</div>


