﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Estorno/Cancelamento de Seguros</h3>
</div>
<div class="modal-body" id="modal-body">
    <div>
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-primary hoverable" heading="Mensagem" is-open="true">
                <div class="container-fluid">
                    <span class="text-danger">{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Observacao}}</span>
                </div>
            </div>
            <div uib-accordion-group class="panel-primary hoverable" heading="Dados dos Estornos" is-open="true">
                <div class="container-fluid">
                    <pre>{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Comentario}}</pre>
                </div>
            </div>
        </uib-accordion>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Finalizar</button>
</div>