﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Estorno de Encargos!</h3>
    <div class="checkbox" style="float:right">
        <label><input type="checkbox" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">Envio para o segundo nível</label>
    </div>
</div>
<div class="modal-body" id="modal-body" >
    <div ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoBancario = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoBancario)"></div>
    <div ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.AnuidadeEstornos = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.AnuidadeEstornos)"></div>
    <div ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EncargosEstorno = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EncargosEstorno)"></div>
    <div>
        <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
            <uib-accordion close-others="false" style="float:left; width:100%;">
                <div uib-accordion-group class="panel-primary hoverable mrgBottom20" heading="Dados do Cartão" is-open="true">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label for="txtDataAbertura">Data Abertura/Conta</label>
                            <input type="text" class="form-control" id="txtDataAbertura" name="txtDataAbertura" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['DataAbertura'] | date:'dd/MM/yyyy HH:mm:ss'" ng-required="false" ng-readonly="true" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label for="txtNumeroCartao">Cartão</label>
                            <input type="text" class="form-control" id="txtNumeroCartao" name="txtNumeroCartao" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['NumeroCartao']" ng-required="false" ng-readonly="true"/>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label for="txtNumeroCartao">Cartão Adicional</label>
                            <input type="text" class="form-control" id="txtNumeroCartaoAdic" name="txtNumeroCartaoAdic" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['NumeroCartaoAdic']" ng-required="false" ng-readonly="true" />
                        </div>
                    </div>                   
                </div>
                <div uib-accordion-group class="panel-primary hoverable mrgBottom20" heading="Anuidades/Encargos" is-open="true">
                    <uib-tabset active="active">
                        <uib-tab index="0" heading="Anuidades">
                            <div class="table-responsive" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.AnuidadeEstornos.length > 0">
                                <table st-table="AnuidadeEstornosDisplay" st-safe-src="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.AnuidadeEstornos" class="table table-striped" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.AnuidadeEstornos">
                                    <thead>
                                        <tr>
                                            <th>Data</th>
                                            <th>Data Ref.</th>
                                            <th>Origem</th>
                                            <th>Operação</th>
                                            <th>Valor do Estorno</th>
                                            <th>Observação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="oTransacao in AnuidadeEstornosDisplay">
                                            <td>{{oTransacao.Data != '0001-01-01T00:00:00' ? oTransacao.Data : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                            <td>{{oTransacao.DataReferencia != '0001-01-01T00:00:00' ? oTransacao.DataReferencia : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                            <td>{{oTransacao.Origem}}</td>
                                            <td>{{oTransacao.Operacao}}</td>
                                            <td>{{oTransacao.Debito | currency:"R$"}}</td>
                                            <td>{{oTransacao.Observacao}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.AnuidadeEstornos.length > 0">
                                <div>
                                    <h3>Nenhuma anuidade a ser estornada!</h3>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="1" heading="Outros Encargos">
                            <div class="table-responsive" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EncargosEstorno.length > 0">
                                <table st-table="EncargosEstornoDisplay" st-safe-src="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EncargosEstorno" class="table table-striped" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EncargosEstorno">
                                    <thead>
                                        <tr>
                                            <th>Data</th>
                                            <th>Data Ref.</th>
                                            <th>Origem</th>
                                            <th>Operação</th>
                                            <th>Valor do Estorno</th>
                                            <th>Observação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="oTransacao in EncargosEstornoDisplay">
                                            <td>{{oTransacao.Data != '0001-01-01T00:00:00' ? oTransacao.Data : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                            <td>{{oTransacao.DataReferencia != '0001-01-01T00:00:00' ? oTransacao.DataReferencia : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                            <td>{{oTransacao.Origem}}</td>
                                            <td>{{oTransacao.Operacao}}</td>
                                            <td>{{oTransacao.Debito | currency:"R$"}}</td>
                                            <td>{{oTransacao.Observacao}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.EncargosEstorno.length > 0">
                                <div>
                                    <h3>Nenhum encargo a ser estornado!</h3>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </uib-accordion>
        </div>
        <div ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
            <textarea class="form-control" id="txtAnotacaoEncargos" name="txtAnotacaoEncargos" placeholder="Anotação:" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['Observacao']" style="resize:none" ng-required="true" rows="10"></textarea>
        </div>        
    </div>
    <div>
        <span class="text-danger">{{MsgRetorno}}</span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Continuar Execução</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar/Fechar Protocolo</button>
</div>


