﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Mensagem Retorno:</h3>
    <label>{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['MensagemRetorno']}}</label>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Ok</button>
</div>