﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Compras no Cartão:</h3>
    <div class="checkbox" style="float:right">
        <div>
            <label><input type="checkbox" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['EnviarIntercambio']">Enviar para Intercâmbio</label>
        </div>
    </div>
</div>
<div class="modal-body" id="modal-body" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras)">
    <div ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras)">
        <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['EnviarIntercambio']">
            <div class="table-responsive" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras.length > 0">
                <table st-table="ComprasCartaoDisplay" st-safe-src="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras" class="table table-striped" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Data</th>
                            <th>Data Ref.</th>
                            <th>Cartão</th>
                            <th>Operação</th>
                            <th>Valor(R$)</th>
                            <th>Observação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="oCompra in ComprasCartaoDisplay">
                            <td rowspan="{{oCompra.Compras.length}}" valign="middle">
                                <input type="checkbox" ng-disabled="!oCompra.Selecionavel" ng-model="oCompra.isSelected" />
                            </td>
                            <td>{{oCompra.Compras[0].Data != '0001-01-01T00:00:00' ? oCompra.Compras[0].Data : ''| date:'dd/MM/yyyy'}}</td>
                            <td>{{oCompra.Compras[0].DataReferencia != '0001-01-01T00:00:00' ? oCompra.Compras[0].DataReferencia : ''| date:'dd/MM/yyyy'}}</td>
                            <td>{{oCompra.Compras[0].NomeCartao}}</td>
                            <td>{{oCompra.Compras[0].Operacao}}</td>
                            <td>{{oCompra.Compras[0].Debito | currency}}</td>
                            <td>{{oCompra.Compras[0].Observacao}}</td>
                        </tr>
                        <tr ng-repeat="compra in oCompra.Compras" ng-if="!$first" ng-repeat-end>
                            <td>
                                {{compra.Data != '0001-01-01T00:00:00' ? compra.Data : ''| date:'dd/MM/yyyy'}}
                            </td>
                            <td>
                                {{compra.DataReferencia != '0001-01-01T00:00:00' ? compra.DataReferencia : ''| date:'dd/MM/yyyy'}}
                            </td>
                            <td>
                                {{compra.NomeCartao}}
                            </td>
                            <td>
                                {{compra.Operacao}}
                            </td>
                            <td>
                                {{compra.Debito | currency}}
                            </td>
                            <td>
                                {{compra.Observacao}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <h5>Compras realizadas há mais de 150 dias não poderão ser tratadas neste processo.</h5>
                </div>
            </div>
            <div>
                <span class="text-danger">{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MensagemRetorno}}</span>
            </div>
            <div ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MensagemRetorno === '' ">
                <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaCompras.length > 0">
                    <div>
                        <h3><span class="text-danger">{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MensagemRetorno}}</span>Nenhum cartão encontrado</h3>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['EnviarIntercambio']">
            <textarea class="form-control" id="txtAnotacaoSegProd" name="txtAnotacaoSegProd" placeholder="Anotação:" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['Comentarios']" style="resize:none" ng-required="true" rows="10"></textarea>
        </div>
    </div>
    <div>
        <span class="text-danger">{{MsgRetorno}}</span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Continuar Execução</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar Execução</button>
</div>