﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Quitação - Boleto</h3>
</div>
<div class="modal-body" id="modal-body" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais)">
    <div ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao)">
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Boleto Gerado" is-open="true">
                <div class="container-fluid">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Linha Digitavel</th>
                                    <td>{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.CodigoBarras}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Data Vencimento</th>
                                    <td>{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.DataVencimentoBoleto | date: 'dd/MM/yyyy' }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Valor Boleto</th>
                                    <td>{{oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ValorQuitacao | currency:"R$" }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <span class="text-danger">
                            Informar ao cliente que ele tem até 24 horas para efetuar o pagamento do boleto.
                        </span>
                    </div>
                </div>
            </div>
        </uib-accordion>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Finalizar</button>
</div>