﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        <span class="fl">Quitação</span>
    </h3>
</div>
<div class="modal-body" id="modal-body" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao)">
    <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
        <uib-accordion close-others="false" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirConfirmacao">
            <div uib-accordion-group class="panel-primary hoverable" heading="Dados da Cartão" is-open="true">
                <div class="table-responsive txtCenter">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>PRO</th>
                                <th>Dossiê</th>
                                <th>Situação</th>
                                <th>TODU</th>
                                <th>Vencimento Fatura</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.Produto }}</td>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.Cadeia }}</td>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.Dossie }}</td>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.Situacao }}</td>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ValorParcialFatura | currency:"R$" }}</td>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.DataVencimentoFatura | date: 'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div uib-accordion-group class="panel-danger mrg15" heading="Mensagem Produto" is-open="true" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirMensagemQuitacao">
                <div class="col-sm-12">
                    <p>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.Observacao }}</p>
                </div>
            </div>
            <div uib-accordion-group class="panel-primary mrg15 hoverable" heading="Opções de Quitação" is-open="true" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirOpcoesQuitacao">
                <div class="col-sm-12">
                    <div class="radio col-sm-12 col-md-1" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirOpcaoTotal">
                        <label>
                            <input ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.TipoQuitacao" type="radio" name="rdoTipoQuitacao" value="Total" ng-change="exibeParcial(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.TipoQuitacao)">
                            Total
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-11">
                        <div class="form-group row col-md-12" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirDataVencimento">
                            <div class="form-group col-md-3">
                                <label for="txtDataVencimento">Data Vencimento</label>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                                           ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.DataVencimentoSelecionado"
                                           is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
                                           close-text="Fechar" current-text="Hoje"
                                           alt-input-formats="altInputFormats"
                                           ng-change="recalculaCrediario(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.DataVencimentoSelecionado)" />

                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirOpcaoTotalDetalhe">
                            <div class="table-responsive txtCenter">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Valor Total</th>
                                            <th ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirValorTotalAmortizado">
                                                Valor Total Amortizado
                                            </th>
                                            <th>Juros por Atraso</th>
                                            <th ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirSeguroDIMCU">
                                                Seguro (DIMC\DIMCU)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ValorTotalSemAmortizado | currency:"R$" }}</td>
                                            <td ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirValorTotalAmortizado">
                                                {{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ValorTotalAmortizado | currency:"R$" }}
                                            </td>
                                            <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ValorTotalJurosPorAtraso | currency:"R$" }}</td>
                                            <td ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirSeguroDIMCU">
                                                {{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ValorSeguro | currency:"R$" }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirOpcaoTotalDetalhe">
                        <uib-tabset active="activeForm">
                            <uib-tab index="1" heading="Compras à vista parceladas" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirComprasAVista">
                                <div class="table-responsive">
                                    <table st-table="ListaComprasAVistaDisplay" st-safe-src="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ListaComprasAVista" class="table table-striped" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ListaComprasAVista">
                                        <thead>
                                            <tr>
                                                <th>Data</th>
                                                <th>Origem</th>
                                                <th>Descrição</th>
                                                <th>Débito</th>
                                                <th>Observação</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3">Total compras</td>
                                                <td><b>{{ somaComprasAVista() }}</b></td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr ng-repeat="oCompra in ListaComprasAVistaDisplay">
                                                <td>{{oCompra.Data | date: 'dd/MM/yyyy'}}</td>
                                                <td>{{oCompra.Origem}}</td>
                                                <td><div title="{{oCompra.Operacao}}">{{oCompra.Operacao}}</div></td>
                                                <td>{{oCompra.Debito | currency:"R$"}}</td>
                                                <td><div title="{{oCompra.Observacao}}">{{oCompra.Observacao}}</div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        <span class="text-danger">
                                            As parcelas da(s) compra(s) não serão inclusas na quitação e serão cobradas mês a mês.
                                        </span>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>

                    </div>
                </div>
                <hr class="fl_wd100" style="padding: 0 !important;margin: 5px 0 15px !important;" />
                <div class="col-sm-12" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirOpcaoParcial">
                    <div class="radio col-sm-12 col-md-1">
                        <label>
                            <input ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.TipoQuitacao" type="radio" name="rdoTipoQuitacao" value="Parcial" ng-change="exibeParcial(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.TipoQuitacao)" />
                            Parcial
                        </label>
                    </div>
                    <uib-tabset active="activeForm" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirOpcaoParcialDetalhe">
                        <uib-tab index="0" heading="Compras parceladas">
                            <div class="table-responsive" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ListaProduto.length > 0">
                                <table st-table="ListaProdutoClienteDisplay" st-safe-src="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ListaProduto" class="table table-striped" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ListaProduto">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="table-responsive txtCenter">
                                                    <input type="checkbox" ng-model="selectAll" ng-click="selectAllItens()">
                                                </div>
                                            </th>
                                            <th>Produto</th>
                                            <th>Valor Parcela</th>
                                            <th>Vlr. Amortizado</th>
                                            <th>Juros Amortizado</th>
                                            <th>Vlr. s\ Amortização</th>
                                            <th>Observação</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3">Total dos produtos selecionados</td>
                                            <td ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.TipoQuitacao == 'Total'"><b>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ValorTotalSemAmortizado | currency:"R$" }}</b></td>
                                            <td ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.TipoQuitacao == 'Parcial'"><b>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ValorTotalSelecionado | currency:"R$" }}</b></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr classe="text-center" ng-repeat="oProdutoCliente in ListaProdutoClienteDisplay">
                                            <td>
                                                <div class="table-responsive txtCenter">
                                                    <input type="checkbox" ng-disabled="!oProdutoCliente.PermiteQuitar" ng-model="oProdutoCliente.isSelected" ng-change="somaProdutosSelecionados()" />
                                                </div>
                                            </td>
                                            <td classe="text-center">{{oProdutoCliente.Produto}}</td>
                                            <td classe="text-right">{{oProdutoCliente.ValorParcela | currency:"R$"}}</td>
                                            <td classe="text-right">{{oProdutoCliente.ValorAmortizado | currency:"R$"}}</td>
                                            <td classe="text-right">{{oProdutoCliente.Juros | currency:"R$"}}</td>
                                            <td classe="text-right">{{oProdutoCliente.ValorSemAmortizacao | currency:"R$"}}</td>
                                            <td classe="text-center">{{oProdutoCliente.Observacao}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ListaProduto.length > 0">
                                <table st-table="ListaProdutoClienteDisplay">
                                    <thead>
                                        <tr>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Nenhum produto encontrado
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-tab>
                        <uib-tab index="1" heading="Compras à vista parceladas" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirComprasAVista">
                            <div class="table-responsive">
                                <table st-table="ListaComprasAVistaDisplay" st-safe-src="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ListaComprasAVista" class="table table-striped" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ProdutoQuitacao.ListaComprasAVista">
                                    <thead>
                                        <tr>
                                            <th>Data</th>
                                            <th>Origem</th>
                                            <th>Descrição</th>
                                            <th>Débito</th>
                                            <th>Observação</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3">Total compras</td>
                                            <td><b>{{ somaComprasAVista() }}</b></td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr ng-repeat="oCompra in ListaComprasAVistaDisplay">
                                            <td>{{oCompra.Data | date: 'dd/MM/yyyy'}}</td>
                                            <td>{{oCompra.Origem}}</td>
                                            <td><div title="{{oCompra.Operacao}}">{{oCompra.Operacao}}</div></td>
                                            <td>{{oCompra.Debito | currency:"R$"}}</td>
                                            <td><div title="{{oCompra.Observacao}}">{{oCompra.Observacao}}</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <span class="text-danger">
                                        As Compras não serão inclusas na quitação e serão cobradas mês a mês.
                                    </span>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
            <div uib-accordion-group class="panel-primary hoverable mrg15" heading="Dados do Cliente" is-open="true" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirDadosDoCliente">
                <div class="col-sm-12">
                    <form>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="txtNome">Nome</label>
                            <input type="text" class="form-control" id="txtNome" name="txtNome" placeholder="Nome Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.Cliente.Nome" ng-required="true" />
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="txtEndereco">Endereço</label>
                            <input type="text" class="form-control" id="txtEndereco" name="txtEndereco" placeholder="Endereço Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.Cliente.Logradouro" ng-required="true" />
                        </div>
                        <div class="form-group col-sm-12 col-md-2">
                            <label for="txtEnderecoNumero">Número</label>
                            <input type="text" class="form-control" id="txtEnderecoNumero" name="txtEnderecoNumero" placeholder="Número Endereço Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.Cliente.LogradouroNumero" ng-required="true" />
                        </div>
                        <div class="form-group col-sm-12 col-md-2">
                            <label for="txtEnderecoComplemento">Complemento</label>
                            <input type="text" class="form-control" id="txtEnderecoComplemento" name="txtEnderecoComplemento" placeholder="Complemento Endereço Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.Cliente.LogradouroComplemento" ng-required="true" />
                        </div>
                        <div class="form-group col-sm-12 col-md-2">
                            <label for="txtCep">CEP</label>
                            <input type="text" class="form-control" id="txtCep" name="txtCep" placeholder="Cep Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.Cliente.Cep" ng-required="true" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtCidade">Cidade</label>
                            <input type="text" class="form-control" id="txtCidade" name="txtCidade" placeholder="Cidade Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.Cliente.Cidade" ng-required="true" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txtBairro">Bairro</label>
                            <input type="text" class="form-control" id="txtBairro" name="txtBairro" placeholder="Bairro Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.Cliente.Bairro" ng-required="true" />
                        </div>
                        <div class="form-group col-md-1">
                            <label for="txtUF">UF</label>
                            <input type="text" class="form-control" id="txtUF" name="txtUF" placeholder="UF Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.Cliente.UF" ng-required="true" />
                        </div>
                    </form>
                </div>
            </div>
            <div uib-accordion-group class="panel-primary hoverable mrg15" heading="Opções de Envio do Boleto" is-open="true" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirOpcoesDeEnvioBoleto">
                <div class="container-fluid">
                    <form>
                        <div class="col-sm-12">
                            <div class="form-group col-sm-12 col-md-1 mrg10 txtRight">
                                <label>
                                    <input ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.OpcaoEnvioBoleto" type="radio" name="rdoOpcaoEnvioBoleto" value="Email">
                                    E-mail
                                </label>
                            </div>
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" id="txtEmail" name="txtEmail" placeholder="E-mail Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.Cliente.Email" ng-required="true" ng-disabled="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.OpcaoEnvioBoleto == 'SMS'" />
                            </div>
                            <div class="form-group col-sm-12 col-md-1 mrg10 txtRight">
                                <label>
                                    <input ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.OpcaoEnvioBoleto" type="radio" name="rdoOpcaoEnvioBoleto" value="SMS">
                                    SMS
                                </label>
                            </div>
                            <div class="form-group  col-sm-12 col-md-5">
                                <input type="text" class="form-control" id="txtTelefone" name="txtTelefone" placeholder="Telefone Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.Cliente.Telefone" ng-required="true" ng-disabled="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.OpcaoEnvioBoleto == 'Email'" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion close-others="false" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirConfirmacao">
            <div uib-accordion-group class="panel-danger mrg15" heading="Confirmação da Quitação" is-open="true">
                <div class="col-sm-12">
                    <p>Tem certeza que deseja continuar a Quitação?</p>
                    <p>Caso diga "Sim", lembre-se de informar ao cliente que esse processo é irreversível, uma vez aceita, não pode ser desfeita.</p>
                </div>
                <div class="container-fluid">
                    <form>
                        <div class="col-md-1">
                            <button class="btn btn-warning col-xs-offset-1" type="button" ng-click="desconfirmar()">Não</button>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-primary" type="button" ng-click="ok()">Sim</button>
                        </div>
                    </form>
                </div>
            </div>
        </uib-accordion>
    </div>

    <div ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
        <textarea class="form-control" id="txtAnotacaoQuitacao" name="txtAnotacaoQuitacao" placeholder="Anotação:" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['Observacao']" style="resize:none" ng-required="true" rows="3"></textarea>
    </div>
    <div>
        <span class="text-danger">{{MsgRetorno}}</span>
    </div>
</div>
<div class="modal-footer" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.ExibirConfirmacao">
    <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
        <button class="btn btn-primary" type="button" ng-click="ok()" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.GerarBoleto">Finalizar Atendimento</button>
        <button class="btn btn-primary" type="button" ng-click="confirmar()" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.GerarBoleto">Continuar a Quitação</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.PlanoQuitacao.GerarBoleto">Apenas Simulação</button>
    </div>
    <div ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
        <button class="btn btn-primary" type="button" ng-click="ok()">Enviar para o Segundo Nível</button>
    </div>
</div>