﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Quitação - Produtos do Cliente!</h3>
    <div class="checkbox" style="float:right">
        <label><input type="checkbox" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">Envio para o Segundo Nível</label>
    </div>
</div>
<div class="modal-body" id="modal-body" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaProdutoCliente = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaProdutoCliente)">
    <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">

        <div class="table-responsive" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaProdutoCliente.length > 0">
            <table st-table="ListaProdutoClienteDisplay" st-safe-src="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaProdutoCliente" class="table table-striped" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaProdutoCliente">
                <thead>
                    <tr>
                        <th></th>
                        <th>Produto</th>
                        <th>Código</th>
                        <th>Dossiê</th>
                        <th>Nº do Cartão/Cadeia</th>
                        <th>Data Ref./Parcela</th>
                        <th>Valor Ref./Parcela</th>
                        <th>Situação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="oProdutoCliente in ListaProdutoClienteDisplay">
                        <td cs-select-radio="oProdutoCliente"></td>
                        <td>{{oProdutoCliente.Produto}}</td>
                        <td>{{oProdutoCliente.Codigo}}</td>
                        <td>{{oProdutoCliente.Dossie}}</td>
                        <td>{{oProdutoCliente.NumeroCartaoCadeia}}</td>
                        <td>{{oProdutoCliente.DataReferencia != '0001-01-01T00:00:00' ? oProdutoCliente.DataReferencia : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{oProdutoCliente.ValorRelacionado}}</td>
                        <td>{{oProdutoCliente.Situacao}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ListaProdutoCliente.length > 0">
            <div>
                <h3>Nenhum produto/cartão disponível para quitação.</h3>
            </div>
        </div>
    </div>
    <div ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
        <textarea class="form-control" id="txtAnotacaoQuitacao" name="txtAnotacaoQuitacao" placeholder="Anotação:" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['Observacao']" style="resize:none" ng-required="true" rows="10"></textarea>
    </div>
    <div>
        <span class="text-danger">{{MsgRetorno}}</span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Continuar Execução</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar/Fechar Protocolo</button>
</div>


