﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Reembolso</h3>
    <div class="checkbox" style="float:right">
        <label><input type="checkbox" ng-disabled="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.HabilitaBizflow" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">Enviar para o Segundo Nível</label>
    </div>
</div>
<div class="modal-body" id="modal-body" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoBancario = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoBancarioAssistente)">
    <div class="alert alert-danger" role="alert" ng-if="MsgRetorno">
        <p style="color: black;">{{MsgRetorno}}</p>
    </div>
    <div ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoBancarioAssistente = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoBancarioAssistente)">
        <uib-accordion close-others="false" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
            <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Reembolso" is-open="true" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoBancarioAssistente.length > 0">
                <div ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoBancarioAssistente.length > 0">
                    <div class="alert alert-danger" role="alert" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ReembolsarCliente">
                        <p style="color: black;">Não há crédito para Reembolso!</p>
                    </div>
                    <div class="alert alert-success" role="alert" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ReembolsarCliente">
                        <p style="color: black;">Cliente tem direito a Reembolso!</p>
                    </div>
                    <div class="table-responsive txtCenter">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Dossiê</th>
                                    <th>Produto</th>
                                    <th>Total Extrato (R$)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.NomeCliente }}</td>
                                    <td>{{ oProcesso.ScriptInfosAdicionais.NumeroDossie }}</td>
                                    <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Produto }}</td>
                                    <td>
                                        <span ng-class="{'text-danger': oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ValorReembolso >= 0, 'text-success': oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ValorReembolso < 0}">
                                            <b>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ValorReembolso | currency:"R$" }}</b>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div uib-accordion-group class="panel-primary hoverable" heading="Extrato do Cliente" is-open="true" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoBancarioAssistente.length > 0">
                <div class="table-responsive" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoBancarioAssistente.length > 0">
                    <table st-table="ExtratoBancarioAssistenteDisplay" st-safe-src="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoBancarioAssistente" class="table table-striped" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoBancarioAssistente">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Data</th>
                                <th>Data Ref.</th>
                                <th>Origem</th>
                                <th>Operação</th>
                                <th>Valor (R$)</th>
                                <th>Saldo (R$)</th>
                                <th>Observação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="oTransacao in ExtratoBancarioAssistenteDisplay">
                                <td>
                                    <div class="table-responsive txtCenter" ng-if="!oTransacao.IsTODU">
                                        <input type="checkbox" ng-disabled="!oTransacao.PermiteSelecionar" ng-model="oTransacao.isSelected" ng-change="somaExtratoSelecionados()" />
                                    </div>
                                </td>
                                <td class="txtCenter">
                                    <b ng-if="oTransacao.IsTODU">{{oTransacao.Data != '0001-01-01T00:00:00' ? oTransacao.Data : ''| date:'dd/MM/yyyy'}}</b>
                                    <p ng-if="!oTransacao.IsTODU">{{oTransacao.Data != '0001-01-01T00:00:00' ? oTransacao.Data : ''| date:'dd/MM/yyyy'}}</p>
                                </td>
                                <td class="txtCenter">
                                    <b ng-if="oTransacao.IsTODU">{{oTransacao.DataReferencia != '0001-01-01T00:00:00' ? oTransacao.DataReferencia : ''| date:'dd/MM/yyyy'}}</b>
                                    <p ng-if="!oTransacao.IsTODU">{{oTransacao.DataReferencia != '0001-01-01T00:00:00' ? oTransacao.DataReferencia : ''| date:'dd/MM/yyyy'}}</p>
                                </td>
                                <td class="txtCenter">
                                    <b ng-if="oTransacao.IsTODU">{{oTransacao.Origem}}</b>
                                    <p ng-if="!oTransacao.IsTODU">{{oTransacao.Origem}}</p>
                                </td>
                                <td class="txtCenter">
                                    <div ng-if="oTransacao.IsTODU" title="{{oTransacao.Operacao}}">
                                        <b>{{oTransacao.Operacao}}</b>
                                    </div>
                                    <div ng-if="!oTransacao.IsTODU" title="{{oTransacao.Operacao}}">
                                        {{oTransacao.Operacao}}
                                    </div>
                                </td>
                                <td class="txtCenter">
                                    <span ng-class="{'text-danger': oTransacao.Valor >= 0, 'text-success': oTransacao.Valor < 0}">
                                        <b ng-if="oTransacao.IsTODU">{{oTransacao.Valor | currency:"R$"}}</b>
                                        <span ng-if="!oTransacao.IsTODU">{{oTransacao.Valor | currency:"R$"}}</span>
                                    </span>
                                </td>
                                <td class="txtCenter">
                                    <span ng-class="{'text-danger': oTransacao.Saldo >= 0, 'text-success': oTransacao.Saldo < 0}">
                                        <b ng-if="oTransacao.IsTODU">{{oTransacao.Saldo | currency:"R$"}}</b>
                                        <span ng-if="!oTransacao.IsTODU">{{oTransacao.Saldo | currency:"R$"}}</span>
                                    </span>
                                </td>
                                <td class="txtCenter">
                                    <div title="{{oTransacao.Observacao}}">
                                        <b ng-if="oTransacao.IsTODU">{{oTransacao.Observacao}}</b>
                                        <p ng-if="!oTransacao.IsTODU">{{oTransacao.Observacao}}</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div uib-accordion-group class="panel-primary hoverable" heading="Mensagem" is-open="true" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoBancarioAssistente.length > 0">
                <div>
                    <h3>Nenhum registro encontrado período de 3 meses, encaminhar para o Segundo Nível.</h3>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion close-others="false" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel'] && oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['ReembolsarCliente']">
            <div uib-accordion-group class="panel-primary hoverable mrg15" heading="Dados do Cliente" is-open="true" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoBancarioAssistente.length > 0">
                <div class="col-sm-12">
                    <form>
                        <div class="form-group col-md-4">
                            <label for="txtNomeCliente">Nome do Titular da Conta</label>
                            <input type="text" class="form-control" id="txtNomeCliente" name="txtNomeCliente" placeholder="Titular da Conta" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.NomeTitularConta" ng-required="true" />
                        </div>
                        <div class="form-group col-md-2">
                            <label for="txtCPF">CPF do Titular da Conta</label>
                            <input type="text" class="form-control" id="txtCPF" name="txtCPF" placeholder="CPF da Conta" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.CpfConta" ng-required="true" />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtEmail">E-mail</label>
                            <input type="text" class="form-control" id="txtEmail" name="txtEmail" placeholder="E-mail do Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Email" ng-required="true" />
                        </div>
                        <div class="form-group  col-sm-12 col-md-2">
                            <label for="txtTelefone">Telefone (SMS)</label>
                            <input type="text" class="form-control" id="txtTelefone" name="txtTelefone" placeholder="Telefone do Cliente" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.Telefone" ng-required="true" />
                        </div>
                        <div class="form-group col-sm-12 col-md-2">
                            <label for="txtNomeBanco">Nome do Banco</label>
                            <input type="text" class="form-control" id="txtNome" name="txtNomeBanco" placeholder="Nome do Banco" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.NomeBanco" ng-required="true" />
                        </div>
                        <div class="form-group col-sm-12 col-md-2">
                            <label for="txtCodigoAgencia">Código da Agência</label>
                            <input type="text" class="form-control" id="txtCodigoAgencia" name="txtCodigoAgencia" placeholder="Código da Agência" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.CodigoAgencia" ng-required="true" />
                        </div>
                        <div class="form-group col-sm-12 col-md-2">
                            <label for="txtNumeroConta">Número da Conta</label>
                            <input type="text" class="form-control" id="txtNumeroConta" name="txtNumeroConta" placeholder="Número da Conta" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.NumeroConta" ng-required="true" />
                        </div>
                        <div class="form-group col-sm-12 col-md-2">
                            <label for="ddlTipoConta">Tipo de Conta</label>
                            <select class="form-control" id="ddlTipoConta" name="ddlTipoConta" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.TipoConta" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option value="Conta Corrente">Conta Corrente</option>
                                <option value="Poupança">Poupança</option>
                                <option value="Não Possui">Não possui</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-2">
                            <label for="ddlModoPagamento">Modo Pagamento</label>
                            <select class="form-control" id="ddlModoPagamento" name="ddlModoPagamento" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ModoPagamento" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option value="DOC / TED">DOC / TED</option>
                                <option value="OP">OP</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-2">
                            <label for="ddlContaPagamento">Conta pagamento</label>
                            <select class="form-control" id="ddlContaPagamento" name="ddlContaPagamento" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ContaPagamento" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option value="Titular">Titular</option>
                                <option value="Terceiro">Terceiro</option>
                                <option value="OP">OP</option>
                            </select>
                        </div>                                           
                    </form>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-primary hoverable mrg15" heading="Dados para Envio para o Segundo Nível" is-open="true" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
                <textarea class="form-control" id="txtObservacao" name="txtObservacao" placeholder="Comentário:" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['Observacao']" style="resize:none" ng-required="true" rows="10"></textarea>
            </div>
        </uib-accordion>
    </div>
</div>
<div class="modal-footer" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoBancarioAssistente.length > 0">
    <button class="btn btn-primary" type="button" ng-click="ok()">Solicitar Reembolso</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Finalizar Atendimento</button>
</div>
<div class="modal-footer" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.ExtratoBancarioAssistente.length > 0 && oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
    <button class="btn btn-primary" type="button" ng-click="ok()">Enviar para o Segundo Nível</button>
</div>