﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Reenvio de Cartão</h3>
    <div class="checkbox" style="float:right">
        <label><input type="checkbox" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">Envio para o segundo nível</label>
    </div>
</div>
<div class="modal-body" id="modal-body" ng-init="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao = ParseJson(oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao)">
    <div ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.ContemCartoes">
        <uib-accordion close-others="false" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
            <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Cliente" is-open="true">

                <div class="table-responsive txtCenter">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Tipo</th>
                                <th>Nº do Cartão</th>
                                <th>Cadeia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.DadosGerais.CartaoNesteAr.NomeTitular }}</td>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.DadosGerais.CartaoNesteAr.Tipo }}</td>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.DadosGerais.CartaoNesteAr.Numero }}</td>
                                <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.DadosGerais.Cadeia }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title txtCenter"><b>Dados Gerais</b></h5>
                                <p class="card-text">

                                    <div class="table-responsive txtCenter">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Dados do cliente</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><b>Tipo Emissão</b></td>
                                                    <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.DadosGerais.TipoEmissao }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Prazo de Entrega</b></td>
                                                    <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.DadosGerais.PrazoDeEntrega | date:'dd/MM/yyyy' }} - {{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.DadosGerais.PrazoDeEntregaDescricao }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Logradouro</b></td>
                                                    <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.DadosGerais.Endereco.Logradouro }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Bairro</b></td>
                                                    <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.DadosGerais.Endereco.Bairro }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Cidade</b></td>
                                                    <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.DadosGerais.Endereco.CidadeEstado }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>UF</b></td>
                                                    <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.DadosGerais.Endereco.UF }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>CEP</b></td>
                                                    <td>{{ oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.DadosGerais.Endereco.CEP }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title txtCenter"><b>Linha do tempo</b></h5>
                                <p class="card-text">

                                <p ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.LinhaDoTempo.length > 0"><b>Nenhuma linha do tempo do cartão.</b></p>
                                <div class="table-responsive txtCenter" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.LinhaDoTempo.length > 0">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Data</th>
                                                <th>Descricao</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="oTempo in oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.LinhaDoTempo">
                                                <td><b>{{ oTempo.Data | date:'dd/MM/yyyy' }}</b></td>
                                                <td><div title="{{  oTempo.Descricao}}">{{ oTempo.Descricao }}</div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div uib-accordion-group class="panel-primary hoverable" heading="Mensagens Trocadas" is-open="true">

                <p ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.MensagensTrocadas.length > 0"><b>Nenhuma mensagem trocada com o cliente.</b></p>
                <div class="card mb-3" ng-repeat="oMensagem in oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.MensagensTrocadas">
                    <div class="row row-eq-height no-gutters">
                        <div class="col-md-1">
                            <img src="{{ oMensagem.TipoMensagem != 'Cetelem' ? 'Images/Cetelem/user.png' : 'Images/Cetelem/cetelem_user.jpeg'}}" class="card-img" style="border-radius: 50%;border: 1px solid #c3c3c3;box-shadow: 3px 3px 8px 0px #848080;width: 50%;margin: 25% 25% 0;" alt="{{ oMensagem.TipoMensagem }}">
                        </div>
                        <div class="col-md-11">
                            <div class="card-body">
                                <h5 class="card-title"><b>Mensagem {{ oMensagem.TipoMensagem }}</b></h5>
                                <p class="card-text">{{ oMensagem.Mensagem }}</p>
                                <p class="card-text"><small class="text-muted">{{ oMensagem.Data | date:'dd/MM/yyyy' }}</small></p>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>

            </div>

        </uib-accordion>
    </div>
    <div ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.ContemCartoes">
        <uib-accordion close-others="false" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
            <div uib-accordion-group class="panel-primary hoverable" heading="Selecione o cartão do cliente" is-open="true">

                <div class="form-check" ng-repeat="oCartao in oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.Cartoes">
                    <input class="form-check-input" type="radio" name="GrupoCartao" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.CartaoSelecionado" ng-value="oCartao.Bandeira" id="cmbCartao">
                    <label class="form-check-label" for="cmbCartao">{{ oCartao.Bandeira }}</label>
                </div>

            </div>
        </uib-accordion>
    </div>
    <uib-accordion close-others="false">
        <div uib-accordion-group class="panel-primary hoverable mrg15" heading="Dados para Segundo Nível" is-open="true" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
            <textarea class="form-control" id="txtAnotacaoEncargos" name="txtAnotacaoEncargos" placeholder="Comentário:" ng-model="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['Observacao']" style="resize:none" ng-required="true" rows="10"></textarea>
        </div>
    </uib-accordion>
</div>
<div class="modal-footer" ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">

    <button ng-repeat="oBotao in oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.Acoes"
            class="{{ oBotao.ClassBotao }}"
            ng-click="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.AcaoSelecionada = oBotao; ok()">
        {{ oBotao.Acao }}
    </button>

    <button class="btn btn-primary" type="button" ng-click="ok()"
        ng-if="!oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.Acoes.length > 0 && oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais.MesaDecisao.ContemCartoes">
        Continuar Execução
    </button>

</div>
<div class="modal-footer" ng-if="oProcesso.ProcessoExecucao[oProcesso.ProcessoExecucao.length - 1].ScriptInfosAdicionais['SegundoNivel']">
    <button class="btn btn-primary" type="button" ng-click="ok()">Enviar para o Segundo Nível</button>
</div>