﻿<div class="row">
    <div class="col-sm-12">
        <form name="frmUsuario" ng-submit="AtualizaUsuario()" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Usuário" is-open="true">
                    <div class="col-sm-12 col-md-3 col-lg-3" ng-if="Clientes.length > 1">
                        <div class="form-group">
                            <label for="ddlCliente" class="wd100">Cliente</label>
                            <select class="form-control" id="ddlCliente" name="ddlCliente" ng-model="oUsuario.IdCliente" ng-change="ListaPerfilAcesso(oUsuario.IdCliente, 0)">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oCliente in Clientes" ng-value="oCliente.Id">{{oCliente.NomeRazaoSocial}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlPerfilAcesso" class="wd100">Perfil de Acesso</label>
                            <select class="form-control" id="ddlPerfilAcesso" name="ddlPerfilAcesso" ng-model="oUsuario.IdPerfilAcesso" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oPerfilAcesso in Perfis" ng-value="oPerfilAcesso.Id">{{oPerfilAcesso.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlOrigem" class="wd100">Origem</label>
                            <select class="form-control" id="ddlOrigem" name="ddlOrigem" ng-model="oUsuario.Origem" ng-change="ControlaVisibilidadeOrigem(oUsuario.Origem)">
                                <option value="">---Selecione---</option>
                                <option value="I">Interno</option>
                                <option value="E">Externo</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtNomeApelido" class="wd100">Nome\Apelido</label>
                            <input type="text" class="form-control" id="txtNomeApelido" name="txtNomeApelido" ng-model="oUsuario.NomeApelido" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3" ng-if="oUsuario.Origem == 'I'">
                        <div class="form-group">
                            <label for="txtDominio" class="wd100">Dominio</label>
                            <input type="text" class="form-control" id="txtDominio" name="txtDominio" ng-model="oUsuario.Dominio" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtLogin" class="wd100">Login</label>
                            <input type="text" class="form-control" id="txtLogin" name="txtLogin" ng-model="oUsuario.Login" ng-required="true" ng-readonly="true"/>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtEmail" class="wd100">E-mail</label>
                            <input type="email" class="form-control" id="txtEmail" name="txtEmail" ng-model="oUsuario.Email" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtCelular" class="wd100">Celular</label>
                            <input type="text" class="form-control" id="txtCelular" name="txtCelular" ng-model="oUsuario.Celular" ng-minlength="10" ng-maxlength="15" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="dllReiniciaSenhaInicial" class="wd100">Reinicia Senha Inicial (123ABC)</label>
                            <select class="form-control" id="dllReiniciaSenhaInicial" name="dllReiniciaSenhaInicial" ng-model="oUsuario.ReiniciaSenhaInicial" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>
                    <!--<div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtDataBloqueio" class="wd100">Date de Bloqueio</label>
                            <input type="text" class="form-control" id="txtDataBloqueio" name="txtDataBloqueio" ng-model="oUsuario.DataBloqueio" maxlength="19" ui-mask="99/99/9999 99:99:99" ui-mask-placeholder-char="_"/>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtDataExclusao" class="wd100">Data de Exclusão</label>
                            <input type="text" class="form-control" id="txtDataExclusao" name="txtDataExclusao" ng-model="oUsuario.DataExclusao" maxlength="19" ui-mask="99/99/9999 99:99:99" ui-mask-placeholder-char="_"/>
                        </div>
                    </div>-->
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="dllForcaTrocaSenha" class="wd100">Força Troca de Senha</label>
                            <select class="form-control" id="dllForcaTrocaSenha" name="dllForcaTrocaSenha" ng-model="oUsuario.ForcaTrocaSenha" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="dllAtivo" class="wd100">Ativo</label>
                            <select class="form-control" id="dllAtivo" name="dllAtivo" ng-model="oUsuario.Ativo" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>                    
                </div>
            </uib-accordion>
            
            <div class="form-actions">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmUsuario.$invalid" class="btn btn-primary">Atualizar</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>



