﻿<div class="fl_wd100 actionArea">
    <button type="button" class="btn btn-primary fl" ng-click="btnNovo()">
        <i class="glyphicon glyphicon-plus"></i> Novo
    </button>
    <button type="button" class="btn btn-primary fr" ng-click="btnFiltroPesquisaAvancada('lg')">
        <i class="glyphicon glyphicon-filter"></i> Pesquisa Avançada
    </button>
</div>

<div class="table-responsive fl_wd100 mrg10">
    <table st-table="UsuariosDisplay" st-safe-src="Usuarios" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th st-sort="NomeApelido">Nome/Apelido</th>
                <th st-sort="IdCliente">Cliente</th>
                <th st-sort="IdPerfilAcesso">Perfil de Acesso</th>
                <th st-sort="Dominio">Dominio</th>
                <th st-sort="Login">Login</th>
                <th st-sort="DataBloqueio">Data de Bloqueio</th>
                <th st-sort="DataExclusao">Data de Exclusão</th>
                <th st-sort="Ativo">Ativo</th>
                <th st-sort="AutorCriacao">Autor Criação</th>
                <th st-sort="DataCriacao">Data de Criação</th>
                <th st-sort="AutorAlteracao">Autor Alteração</th>
                <th st-sort="DataAlteracao">Data de Alteração</th>
            </tr>
            <tr>
                <th colspan="12" style="display:none;">
                    <input id="stSearchCustom" st-search placeholder="Pesquisa Rápida" class="input-sm fr mrgRight2 col-md-3" type="search" style="display:none;" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oUsuario in UsuariosDisplay" on-end-repeat-st>
                <td>
                    <button type="button" ng-click="btnEditar()" class="btn btn-xs btn-info">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </td>
                <td>{{oUsuario.NomeApelido}}</td>
                <td>
                    <div ng-repeat="oCliente in Clientes track by $index" ng-if="oCliente.Id === oUsuario.IdCliente">
                        {{oCliente.NomeRazaoSocial}}
                    </div>
                </td>
                <td>
                    <div ng-repeat="oPerfilAcesso in Perfis track by $index" ng-if="oPerfilAcesso.Id === oUsuario.IdPerfilAcesso">
                        {{oPerfilAcesso.Descricao}}
                    </div>
                </td>
                <td>{{oUsuario.Dominio}}</td>
                <td>{{oUsuario.Login}}</td>
                <td>{{oUsuario.DataBloqueio != '0001-01-01T00:00:00' ? oUsuario.DataBloqueio : '' | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oUsuario.DataExclusao != '0001-01-01T00:00:00' ? oUsuario.DataExclusao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oUsuario.Ativo === true ? 'Sim' : 'Não'}}</td>
                <td>{{oUsuario.AutorCriacao}}</td>
                <td>{{oUsuario.DataCriacao != '0001-01-01T00:00:00' ? oUsuario.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oUsuario.AutorAlteracao}}</td>
                <td>{{oUsuario.DataAlteracao != '0001-01-01T00:00:00' ? oUsuario.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="14" class="text-left">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="Templates/pagination_custom.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

