﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Critérios da Pesquisa Avançada!</h3>
</div>
<div class="modal-body" id="modal-body">
    <form role="form">
        <div class="form-row">
            <div class="form-group col-sm-6 col-md-4 col-lg-3" ng-if="Clientes.length > 1">
                <div class="form-group">
                    <label for="ddlCliente" class="wd100">Cliente</label>
                    <select class="form-control" id="ddlCliente" name="ddlCliente" ng-model="oFiltroPesquisaAvancada.IdCliente" ng-change="ListaPerfilAcesso(oFiltroPesquisaAvancada.IdCliente, 0)" ng-required="false">
                        <option value="">---Todos---</option>
                        <option ng-repeat="oCliente in Clientes" ng-value="oCliente.Id">{{oCliente.NomeRazaoSocial}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label for="ddlPerfilAcesso" class="wd100">Perfil de Acesso</label>
                    <select class="form-control" id="ddlPerfilAcesso" name="ddlPerfilAcesso" ng-model="oFiltroPesquisaAvancada.IdPerfilAcesso" ng-required="false">
                        <option value="">---Todos---</option>
                        <option ng-repeat="oPerfilAcesso in Perfis" ng-value="oPerfilAcesso.Id">{{oPerfilAcesso.Descricao}}</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="btnPesquisar()">Pesquisar/Atualizar</button>
    <button class="btn btn-warning" type="button" ng-click="btnFechar()">Fechar</button>
</div>


