﻿<div class="row">
    <div class="col-md-12">
        <form name="frmRobo" class="form-horizontal" ng-submit="AtualizaRobo()" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Robo" is-open="true">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="ddlScriptEstado" class="wd100">Estado do Robo</label>
                            <select class="form-control" id="ddlRobotEstado" name="ddlRoboEstado" ng-model="oRobo.IdRoboEstado">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oRoboEstado in ListaEstadoRobo" ng-value="oRoboEstado.Id">{{oRoboEstado.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="ddlScriptStatus" class="wd100">Status do Robo</label>
                            <select class="form-control" id="ddlRoboStatus" name="ddlRoboStatus" ng-model="oRobo.IdRoboStatus">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oRoboStatus in ListaStatusRobo" ng-value="oRoboStatus.Id">{{oRoboStatus.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="ddlListaRoboVersao" class="wd100">Versao do Robo</label>
                            <select class="form-control" id="ddlRoboVersao" name="ddlRoboVersao" ng-model="oRobo.IdRoboVersao">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oRoboVersao in ListaRoboVersao" ng-value="oRoboVersao.Id">{{oRoboVersao.Versao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="txtDominioRede" class="wd100">Dominio de Rede</label>
                            <input type="text" class="form-control" id="txtDominioRede" name="txtDominioRede" ng-model="oRobo.DominioRede" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="txtNomeMaquina" class="wd100">Nome Maquina</label>
                            <input type="text" class="form-control" id="txtNomeMaquina" name="txtNomeMaquina" ng-model="oRobo.NomeMaquina" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="txtUrlApi" class="wd100">URL/API</label>
                            <input type="text" class="form-control" id="txtUrlApi" name="txtUrlApi" ng-model="oRobo.ServiceUri" ng-required="true" />
                        </div>
                    </div>     
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="txtUrlApi" class="wd100">URL/API PING</label>
                            <input type="text" class="form-control" id="txtUrlApiPing" name="txtUrlApiPing" ng-model="oRobo.ServiceUriPing" ng-required="true" />
                        </div>
                    </div>               
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="dllAtivo" class="wd100">Ativo</label>
                            <select class="form-control" id="dllAtivo" name="dllAtivo" ng-model="oRobo.Ativo" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>     
                </div>
                
                <div class="form-actions">
                    <div class=" col-sm-10">
                        <button type="submit" ng-disabled="frmRobo.$invalid" class="btn btn-primary">Atualizar</button>
                        <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                    </div>
                </div>
            </uib-accordion>
        </form>
    </div>
</div>



