﻿<div class="fl_wd100 actionArea">
    <button type="button" class="btn btn-primary" ng-click="btnNovo()">
        <i class="glyphicon glyphicon-plus"></i> Novo
    </button>
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ações <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a ng-click="btnReiniciaRobo()">Reinicia</a></li>
            <li><a ng-click="btnLigaRobo()">Liga</a></li>
            <li><a ng-click="btnDesligaRobo()">Desliga</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="btnIniciarMonitoramentoRobo()">Inicia Monitoramento</a></li>
            <li><a ng-click="btnPararMonitoramentoRobo()">Para Monitoramento</a></li>
            <li><a ng-click="btnAtualizaVersaoBot()">Atualizar Robôs</a></li>
        </ul>
    </div>

    <button type="button" class="btn btn-primary fr" ng-click="btnFiltroPesquisaAvancada('lg')">
        <i class="glyphicon glyphicon-filter"></i> Pesquisa Avançada
    </button>
    
</div>

<div class="table-responsive fl_wd100 mrg10">
    <table st-table="RobosDisplay" st-safe-src="Robos" class="table table-striped">
        <thead>
            <tr>
                <th><st-select-all all="RobosDisplay" ng-click="vm.selectAll(vm.data)"></st-select-all></th>
                <th></th>
                <!--<th st-sort="DominioRede">Dominio de Rede</th>-->
                <th st-sort="NomeMaquina">Nome da Máquina</th>
                <th st-sort="IdRoboEstado">Estado</th>
                <th st-sort="IdRoboStatus">Status</th>
                <!--<th st-sort="IdRoboVersao">Versão</th>-->
                <th st-sort="ServiceUri">URL da API</th>
                <th st-sort="ServiceUriPing">URL da API PING</th>
                <!--<th st-sort="MonitoraWatchdog">Monitora Watchdog</th>  
                <th>Watchdog Estado</th>
                <th>Monitora Robô</th>-->              
                <th st-sort="Ativo">Ativo</th>
                <th st-sort="AutorCriacao">Autor Criação</th>
                <th st-sort="DataCriacao">Data de Criação</th>
                <th st-sort="AutorAlteracao">Autor Alteração</th>
                <th st-sort="DataAlteracao">Data de Alteração</th>
            </tr>
            <tr>
                <th colspan="10"  style="display:none;">
                    <input id="stSearchCustom" st-search placeholder="Pesquisa Rápida" class="input-sm fr mrgRight2 col-md-3" type="search" style="display:none;" />

                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oRobo in RobosDisplay" on-end-repeat-st ng-if="oRobo.Ativo === true">
                <td cs-select="oRobo"></td>
                <td>
                    <button type="button" ng-click="btnEditar()" class="btn btn-xs btn-info">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </td>
                <!--<td>{{oRobo.DominioRede}}</td>-->
                <td>{{oRobo.NomeMaquina}}</td>
                <td>
                    <span ng-style="{color: oRobo.RoboEstado.Id === 1 ? 'red' : 'green'}">{{oRobo.RoboEstado.Descricao}}</span>
                </td>
                <td>
                    <span ng-style="{color: oRobo.RoboStatus.Id === 1 ? 'green' : 'red'}">{{oRobo.RoboStatus.Descricao}}</span>
                </td>
                <!--<td>
                    <div ng-repeat="oRoboVersao in RoboVersoes track by $index" ng-if="oRoboVersao.Id === oRobo.IdRoboVersao">
                        {{oRoboVersao.Versao}}
                    </div>
                </td>-->
                <td>{{oRobo.ServiceUri}}</td>
                <td>{{oRobo.ServiceUriPing}}</td>
                <!--<td>{{oRobo.MonitoraWatchdog === true ? 'Sim' : 'Não'}}</td>
                <td>
                    <div ng-repeat="oServicoRobo in ServicosRobo track by $index" ng-if="oServicoRobo.Id === oRobo.Id">
                        <div ng-repeat="oServicoRoboEstado in ListaEstadoServicoRobo track by $index" ng-if="oServicoRoboEstado.Id === oServicoRobo.IdServicoRoboEstado">
                            <span ng-style="{color: oServicoRoboEstado.Id === 2 ? 'green' : 'red'}">{{oServicoRoboEstado.Descricao}}</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div ng-repeat="oServicoRobo in ServicosRobo track by $index" ng-if="oServicoRobo.Id === oRobo.Id">
                        <span>{{oServicoRobo.MonitoraRobo === true ? 'Sim' : 'Não'}}</span>
                    </div>
                </td>-->
                <td>{{oRobo.Ativo === true ? 'Sim' : 'Não'}}</td>
                <td>{{oRobo.AutorCriacao}}</td>
                <td>{{oRobo.DataCriacao != '0001-01-01T00:00:00' ? oRobo.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oRobo.AutorAlteracao}}</td>
                <td>{{oRobo.DataAlteracao != '0001-01-01T00:00:00' ? oRobo.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>        
    </table>
</div>
