﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Critérios da Pesquisa Avançada!</h3>
</div>
<div class="modal-body" id="modal-body">
    <form role="form">
        <div class="form-row">

            <div class="form-group col-sm-6 col-md-4 col-lg-3">
                <label for="ddlScriptEstado" class="wd100">Estado do Robo</label>
                <select class="form-control" id="ddlRobotEstado" name="ddlRoboEstado" ng-model="oFiltroPesquisaAvancada.IdRoboEstado">
                    <option value="">---Todos---</option>
                    <option ng-repeat="oRoboEstado in ListaEstadoRobo" ng-value="oRoboEstado.Id">{{oRoboEstado.Descricao}}</option>
                </select>
            </div>

            <div class="form-group col-sm-6 col-md-4 col-lg-3">
                <label for="ddlScriptStatus" class="wd100">Status do Robo</label>
                <select class="form-control" id="ddlRoboStatus" name="ddlRoboStatus" ng-model="oFiltroPesquisaAvancada.IdRoboStatus">
                    <option value="">---Todos---</option>
                    <option ng-repeat="oRoboStatus in ListaStatusRobo" ng-value="oRoboStatus.Id">{{oRoboStatus.Descricao}}</option>
                </select>
            </div>

        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="btnPesquisar()">Pesquisar/Atualizar</button>
    <button class="btn btn-warning" type="button" ng-click="btnFechar()">Fechar</button>
</div>
