﻿<div class="row">
    <div class="col-md-12">
        <form name="frmImportacaoDetalhe" role="form">
            <uib-accordion close-others="false">
                
                    <div class="table-responsive fl_wd100 mrg10">
                        <table st-table="ImportacaoLotesDisplay" st-safe-src="ImportacaoLotes" class="table table-striped mrgBot0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th st-sort="oImportacaoLote.Id">Lote</th>
                                    <th st-sort="oImportacaoLote.ImportacaoStatus.Descricao">Status</th>
                                    <th>Qtde. Demandas</th>
                                    <th st-sort="oImportacaoLote.DataFechamento">Dt. Fechamento</th>
                                    <th st-sort="oImportacaoLote.DataInicioProcessamento">Dt. Inicio Processamento</th>
                                    <th st-sort="oImportacaoLote.DataTerminoProcessamento">Dt. Término Processamento</th>
                                    <th st-sort="oImportacaoLote.Mensagem">Mensagem</th>
                                    <th>Autor Criação</th>
                                    <th>Dt. Criação</th>
                                    <th>Autor Alteração</th>
                                    <th>Dt. Alteração</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="oImportacaoLote in ImportacaoLotesDisplay" on-end-repeat-st>
                                    <td>
                                        <button type="button" ng-click="btnDetalheImportacaoLoteDemanda()" class="btn btn-xs btn-info">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </button>
                                    </td>
                                    <td>{{oImportacaoLote.Id}}</td>
                                    <td>
                                        <div title="{{oImportacaoLote.ImportacaoStatus.Descricao}}">
                                            {{oImportacaoLote.ImportacaoStatus.Descricao}}
                                        </div>
                                    </td>
                                    <td>{{oImportacaoLote.QtdeDemandasRecebidas}}</td>
                                    <td>{{oImportacaoLote.DataFechamento != '0001-01-01T00:00:00' ? oImportacaoLote.DataFechamento : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                    <td>{{oImportacaoLote.DataInicioProcessamento != '0001-01-01T00:00:00' ? oImportacaoLote.DataInicioProcessamento : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                    <td>{{oImportacaoLote.DataTerminoProcessamento != '0001-01-01T00:00:00' ? oImportacaoLote.DataTerminoProcessamento : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                    <td>
                                        <div title="{{oImportacaoLote.Mensagem}}">
                                            {{oImportacaoLote.Mensagem}}
                                        </div>
                                    </td>
                                    <td>{{oImportacaoLote.AutorCriacao}}</td>
                                    <td>{{oImportacaoLote.DataCriacao != '0001-01-01T00:00:00' ? oImportacaoLote.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                    <td>{{oImportacaoLote.AutorAlteracao}}</td>
                                    <td>{{oImportacaoLote.DataAlteracao != '0001-01-01T00:00:00' ? oImportacaoLote.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-left">
                                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="2" st-template="Templates/pagination_custom.html"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                
            </uib-accordion>
            <div class="form-actions">
                <div class="col-sm-10">
                    <input type="button" value="Voltar" ng-click="btnVoltarListaImportacaoDetalhe()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>