﻿<div class="row">
    <div class="col-sm-12">
        <form name="frmScriptStep" ng-submit="InsereScriptStep()" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable mrg15" heading="Dados da Configuração do Step" is-open="true">
                    <div class="col-sm-12 col-md-3 col-lg-3" ng-if="Clientes.length > 1">
                        <div class="form-group">
                            <label for="ddlCliente" class="wd100">Cliente</label>
                            <select class="form-control" id="ddlCliente" name="ddlCliente" ng-model="oScriptStep.IdCliente" ng-change="ListaScript(oScriptStep.IdCliente, 0, 0)" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oCliente in Clientes" ng-value="oCliente.Id">{{oCliente.NomeRazaoSocial}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlScript" class="wd100">Script</label>
                            <select class="form-control" id="ddlScript" name="ddlScript" ng-model="oScriptStep.IdScript" ng-change="ListaScriptStep(oScriptStep.IdCliente, 0, 0, 0, oScriptStep.IdScript, 0)" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oScript in Scripts" ng-value="oScript.Id">{{oScript.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlScriptStepTipo" class="wd100">Tipo de Step</label>
                            <select class="form-control" id="ddlScriptStepTipo" name="ddlScriptStepTipo" ng-model="oScriptStep.IdScriptStepTipo" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oScriptStepTipo in TipoStepScript" ng-value="oScriptStepTipo.Id">{{oScriptStepTipo.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlScriptStepPai" class="wd100">Step Pai</label>
                            <select class="form-control" id="ddlScriptStepPai" name="ddlScriptStepPai" ng-model="oScriptStep.IdScriptStepPai" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oScriptStepPai in Steps" ng-value="oScriptStepPai.Id">{{oScriptStepPai.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlScriptStepReinicioErro" class="wd100">Step Pai Reinicio</label>
                            <select class="form-control" id="ddlScriptStepReinicioErro" name="ddlScriptStepReinicioErro" ng-model="oScriptStep.IdScriptStepReinicioErro" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oScriptStepReinicioErro in Steps" ng-value="oScriptStepReinicioErro.Id">{{oScriptStepReinicioErro.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtNumero" class="wd100">Número</label>
                            <input type="number" class="form-control" id="txtNumero" name="txtNumero" ng-model="oScriptStep.Numero" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="txtDescricao" class="wd100">Descrição</label>
                            <input type="text" class="form-control" id="txtDescricao" name="txtDescricao" ng-model="oScriptStep.Descricao" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtLabel" class="wd100">Label</label>
                            <input type="text" class="form-control" id="txtLabel" name="txtLabel" ng-model="oScriptStep.Label" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtQuantidadeTentativas" class="wd100">Qtde de Tentativas</label>
                            <input type="number" class="form-control" id="txtQuantidadeTentativas" name="txtQuantidadeTentativas" ng-model="oScriptStep.QuantidadeTentativas" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtTemplateUrl" class="wd100">Template Url</label>
                            <input type="text" class="form-control" id="txtTemplateUrl" name="txtTemplateUrl" ng-model="oScriptStep.TemplateUrl" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtController" class="wd100">Controller</label>
                            <input type="text" class="form-control" id="txtController" name="txtController" ng-model="oScriptStep.Controller" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="dllAtivo" class="wd100">Ativo</label>
                            <select class="form-control" id="dllAtivo" name="dllAtivo" ng-model="oScriptStep.Ativo" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>
                </div>
            </uib-accordion>
            <div class="form-actions">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmScriptStep.$invalid" class="btn btn-primary">Inserir</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>



