﻿<div class="fl_wd100 actionArea">
    <button type="button" class="btn btn-primary" ng-click="btnNovo()">
        <i class="glyphicon glyphicon-plus"></i> Novo
    </button>
</div>

<div class="table-responsive fl_wd100 mrg10">
    <table st-table="StepsDisplay" st-safe-src="Steps" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th st-sort="IdScriptStepTipo">Tipo de Step</th>
                <th st-sort="IdScript">Script</th>
                <th st-sort="Numero">Número</th>
                <th st-sort="Descricao">Descrição</th>
                <th st-sort="IdScriptStepPai">Step Relacionado</th>
                <th st-sort="QuantidadeTentativas">Tentativas</th>
                <th st-sort="Ativo">Ativo</th>
                <th st-sort="AutorCriacao">Autor Criação</th>
                <th st-sort="DataCriacao">Data de Criação</th>
                <th st-sort="AutorAlteracao">Autor Alteração</th>
                <th st-sort="DataAlteracao">Data de Alteração</th>
            </tr>
            <tr>
                <th colspan="12" style="display:none;">
                    <input id="stSearchCustom" st-search placeholder="Pesquisa Rápida" class="input-sm fr col-md-3" type="search" style="display:none;" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oScriptStep in StepsDisplay"  on-end-repeat-st>
                <td>
                    <button type="button" ng-click="btnEditar()" class="btn btn-xs btn-info">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </td>
                <td>
                    <div ng-repeat="oScriptStepTipo in TipoStepScript track by $index" ng-if="oScriptStepTipo.Id === oScriptStep.IdScriptStepTipo">
                        {{oScriptStepTipo.Descricao}}
                    </div>
                </td>
                <td>
                    <div ng-repeat="oScript in Scripts track by $index" ng-if="oScript.Id === oScriptStep.IdScript">
                        {{oScript.Descricao}}
                    </div>
                </td>
                <td>{{oScriptStep.Numero}}</td>
                <td>{{oScriptStep.Descricao}}</td>
                <td>
                    <div ng-repeat="oScriptStepRelacionado in Steps track by $index" ng-if="oScriptStepRelacionado.Id === oScriptStep.IdScriptStepPai">
                        {{oScriptStepRelacionado.Descricao}}
                    </div>
                </td>
                <td>{{oScriptStep.QuantidadeTentativas}}</td>
                <td>{{oScriptStep.Ativo === true ? 'Sim' : 'Não'}}</td>
                <td>{{oScriptStep.AutorCriacao}}</td>
                <td>{{oScriptStep.DataCriacao != '0001-01-01T00:00:00' ? oScriptStep.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oScriptStep.AutorAlteracao}}</td>
                <td>{{oScriptStep.DataAlteracao != '0001-01-01T00:00:00' ? oScriptStep.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="14" class="text-left">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="Templates/pagination_custom.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

