﻿.Amarra_dropzone_HoverFile{ z-index:2; position:absolute; width:100%; height:100%; background-color: #b8b8b8; display:none; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7; }
.Amarra_dropzone_animacao{ z-index:3; position:absolute; width:100%; height:100%; display:none;}
.dropzone_textoHoverFile{ z-index:2; width: 240px; height: 125px; padding-top: 95px; margin: 22px auto 0 auto; position: relative; border-radius: 50%; box-shadow: 0px 0px 30px #888888; -webkit-border-radius: 30%; -moz-border-radius: 30%; background-color:#fff; font-size:25px; color:#626262; background-image: url('../Images/Icons/drag.png'); background-repeat:no-repeat; background-position: center center; background-size: 60%;}
.dropzone_textoHoverFile{ animation: animationFrames ease 2s; animation-iteration-count: infinite; transform-origin: 50% 50%; -webkit-animation: animationFrames ease 2s; -webkit-animation-iteration-count: infinite; -webkit-transform-origin: 50% 50%; -moz-animation: animationFrames ease 2s; -moz-animation-iteration-count: infinite; -moz-transform-origin: 50% 50%; -o-animation: animationFrames ease 2s; -o-animation-iteration-count: infinite; -o-transform-origin: 50% 50%; -ms-animation: animationFrames ease 2s; -ms-animation-iteration-count: infinite; -ms-transform-origin: 50% 50%;} 

@keyframes animationFrames  {
    0% { transform:  translate(0px,0px)  rotate(0deg) ;}
    15% { transform:  translate(-25px,0px)  rotate(-5deg);}
    30% { transform:  translate(20px,0px)  rotate(3deg) ;}
    45% { transform:  translate(-15px,0px)  rotate(-3deg) ;}
    60% { transform:  translate(10px,0px)  rotate(2deg) ;}
    75% { transform:  translate(-5px,0px)  rotate(-1deg) ;}
    100% { transform:  translate(0px,0px)  rotate(0deg) ;}
}

@-moz-keyframes animationFrames{
    0% {-moz-transform:  translate(0px,0px)  rotate(0deg) ; }
    15% {-moz-transform:  translate(-25px,0px)  rotate(-5deg) ;}
    30% {-moz-transform:  translate(20px,0px)  rotate(3deg) ;}
    45% {-moz-transform:  translate(-15px,0px)  rotate(-3deg) ;}
    60% {-moz-transform:  translate(10px,0px)  rotate(2deg) ;}
    75% {-moz-transform:  translate(-5px,0px)  rotate(-1deg) ;}
    100% {-moz-transform:  translate(0px,0px)  rotate(0deg) ;}
}

@-webkit-keyframes animationFrames {
    0% {-webkit-transform:  translate(0px,0px)  rotate(0deg) ;}
    15% {-webkit-transform:  translate(-25px,0px)  rotate(-5deg) ;}
    30% {-webkit-transform:  translate(20px,0px)  rotate(3deg) ;}
    45% {-webkit-transform:  translate(-15px,0px)  rotate(-3deg) ;}
    60% {-webkit-transform:  translate(10px,0px)  rotate(2deg) ;}
    75% {-webkit-transform:  translate(-5px,0px)  rotate(-1deg) ;}
    100% {-webkit-transform:  translate(0px,0px)  rotate(0deg) ;}
}

@-o-keyframes animationFrames {
    0% {-o-transform:  translate(0px,0px)  rotate(0deg) ;}
    15% {-o-transform:  translate(-25px,0px)  rotate(-5deg) ;}
    30% {-o-transform:  translate(20px,0px)  rotate(3deg) ;}
    45% {-o-transform:  translate(-15px,0px)  rotate(-3deg) ;}
    60% {-o-transform:  translate(10px,0px)  rotate(2deg) ;}
    75% {-o-transform:  translate(-5px,0px)  rotate(-1deg) ;}
    100% {-o-transform:  translate(0px,0px)  rotate(0deg) ;}
}

@-ms-keyframes animationFrames {
    0% {-ms-transform:  translate(0px,0px)  rotate(0deg) ;}
    15% {-ms-transform:  translate(-25px,0px)  rotate(-5deg) ;}
    30% {-ms-transform:  translate(20px,0px)  rotate(3deg) ;}
    45% {-ms-transform:  translate(-15px,0px)  rotate(-3deg) ;}
    60% {-ms-transform:  translate(10px,0px)  rotate(2deg) ;}
    75% {-ms-transform:  translate(-5px,0px)  rotate(-1deg) ;}
    100% {-ms-transform:  translate(0px,0px)  rotate(0deg) ;}
}

.dropzone{float:left;width:100%;position:relative;/*min-height: 390px;  border: 2px solid rgba(0, 0, 0, 0.3); background: white; padding: 20px 20px; */}
.dropzone.dz-clickable{cursor:pointer;}
.dropzone.dz-clickable *{cursor:default;}
.dropzone.dz-clickable .dz-message,.dropzone.dz-clickable .dz-message *{cursor:pointer;}
.dropzone.dz-started .dz-message{display:none;}
.dropzone.dz-drag-hover{/* border-style: solid; background-color: #b8b8b8;*/}
.dropzone.dz-drag-hover .dz-message{opacity:0.5;}
.dropzone .dz-message{text-align:center;margin:2em 0;}
.dropzone .dz-preview{position:relative;display:inline-block;vertical-align:top;margin:16px;min-height:100px;display:none;}
.dropzone .dz-preview:hover{z-index:1000;}
.dropzone .dz-preview:hover .dz-details{opacity:1;}
.dropzone .dz-preview.dz-file-preview .dz-image{border-radius:20px;background:#999;background:linear-gradient(tobottom,#eee,#ddd);}
.dropzone .dz-preview.dz-file-preview .dz-details{opacity:1;}
.dropzone .dz-preview.dz-image-preview{background:#FFF;}
.dropzone .dz-preview.dz-image-preview .dz-details{-webkit-transition:opacity .2s linear;-moz-transition:opacity .2s linear;-ms-transition:opacity .2s linear;-o-transition:opacity .2s linear;transition:opacity .2s linear;}
.dropzone .dz-preview .dz-remove{font-size:14px;text-align:center;display:block;cursor:pointer;border:none;}
.dropzone .dz-preview .dz-remove:hover{text-decoration:underline;}
.dropzone .dz-preview:hover .dz-details{opacity:1;}
.dropzone .dz-preview .dz-details{z-index:20;position:absolute;top:0;left:0;opacity:0;font-size:13px;min-width:100%;max-width:100%;padding:2em 1em;text-align:center;color:rgba(0,0,0,0.9);line-height:150%;}
.dropzone .dz-preview .dz-details .dz-size{margin-bottom:1em;font-size:16px;}
.dropzone .dz-preview .dz-details .dz-filename{white-space:nowrap;}
.dropzone .dz-preview .dz-details .dz-filename:hover span{border:1px solid rgba(200,200,200,0.8);background-color:rgba(255,255,255,0.8);}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover){overflow:hidden;text-overflow:ellipsis;}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span{border:1px solid transparent;}
.dropzone .dz-preview .dz-details .dz-filename span,.dropzone .dz-preview .dz-details .dz-size span{background-color:rgba(255,255,255,0.4);padding:0 .4em;border-radius:3px;}
.dropzone .dz-preview:hover .dz-image img{-webkit-transform:scale(1.05,1.05);-moz-transform:scale(1.05,1.05);-ms-transform:scale(1.05,1.05);-o-transform:scale(1.05,1.05);transform:scale(1.05,1.05);-webkit-filter:blur(8px);filter:blur(8px);}
.dropzone .dz-preview .dz-image{border-radius:20px;overflow:hidden;width:120px;height:120px;position:relative;display:block;z-index:10;}
.dropzone .dz-preview .dz-image img{display:block;}
.dropzone .dz-preview.dz-success .dz-success-mark{-webkit-animation:passing-through 3s cubic-bezier(0.77,0,0.175,1);-moz-animation:passing-through 3s cubic-bezier(0.77,0,0.175,1);-ms-animation:passing-through 3s cubic-bezier(0.77,0,0.175,1);-o-animation:passing-through 3s cubic-bezier(0.77,0,0.175,1);animation:passing-through 3s cubic-bezier(0.77,0,0.175,1);}
.dropzone .dz-preview.dz-error .dz-error-mark{opacity:1;-webkit-animation:slide-in 3s cubic-bezier(0.77,0,0.175,1);-moz-animation:slide-in 3s cubic-bezier(0.77,0,0.175,1);-ms-animation:slide-in 3s cubic-bezier(0.77,0,0.175,1);-o-animation:slide-in 3s cubic-bezier(0.77,0,0.175,1);animation:slide-in 3s cubic-bezier(0.77,0,0.175,1);}
.dropzone .dz-preview .dz-success-mark,.dropzone .dz-preview .dz-error-mark{pointer-events:none;opacity:0;z-index:500;position:absolute;display:block;top:50%;left:50%;margin-left:-27px;margin-top:-27px;}
.dropzone .dz-preview .dz-success-mark svg,.dropzone .dz-preview .dz-error-mark svg{display:block;width:54px;height:54px;}
.dropzone .dz-preview.dz-processing .dz-progress{opacity:1;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-ms-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear;}
.dropzone .dz-preview.dz-complete .dz-progress{opacity:0;-webkit-transition:opacity .4s ease-in;-moz-transition:opacity .4s ease-in;-ms-transition:opacity .4s ease-in;-o-transition:opacity .4s ease-in;transition:opacity .4s ease-in;}
.dropzone .dz-preview:not(.dz-processing) .dz-progress{-webkit-animation:pulse 6s ease infinite;-moz-animation:pulse 6s ease infinite;-ms-animation:pulse 6s ease infinite;-o-animation:pulse 6s ease infinite;animation:pulse 6s ease infinite;}
.dropzone .dz-preview .dz-progress{opacity:1;z-index:1000;pointer-events:none;position:absolute;height:16px;left:50%;top:50%;margin-top:-8px;width:80px;margin-left:-40px;background:rgba(255,255,255,0.9);-webkit-transform:scale(1);border-radius:8px;overflow:hidden;}
.dropzone .dz-preview .dz-progress .dz-upload{background:#333;background:linear-gradient(tobottom,#666,#444);position:absolute;top:0;left:0;bottom:0;width:0;-webkit-transition:width 300ms ease-in-out;-moz-transition:width 300ms ease-in-out;-ms-transition:width 300ms ease-in-out;-o-transition:width 300ms ease-in-out;transition:width 300ms ease-in-out;}
.dropzone .dz-preview.dz-error .dz-error-message{display:block;}
.dropzone .dz-preview.dz-error:hover .dz-error-message{opacity:1;pointer-events:auto;}
.dropzone .dz-preview .dz-error-message{pointer-events:none;z-index:1000;position:absolute;display:block;display:none;opacity:0;-webkit-transition:opacity .3s ease;-moz-transition:opacity .3s ease;-ms-transition:opacity .3s ease;-o-transition:opacity .3s ease;transition:opacity .3s ease;border-radius:8px;font-size:13px;top:130px;left:-10px;width:140px;background:#be2626;background:linear-gradient(tobottom,#be2626,#a92222);padding:.5em 1.2em;color:#FFF;}
.dropzone .dz-preview .dz-error-message:after{content:'';position:absolute;top:-6px;left:64px;width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #be2626;}
        
.DragAndDropInitlayout{ float:left; width:55.5%; border:3px dashed #c3c3c3; height:auto; padding:73px 22%; display:block; position:absolute; background-color:#fff; display:block; max-height:51px; white-space:nowrap;visibility:hidden;}
.DragAndDropInitlayout:hover{border:3px dashed #dcdcdc;}
.DragAndDropInitlayout span{ float:left; font-size:15px; font-weight:bold; width:auto; text-align:center; margin-top:17px; margin-left:2%;}
.DragAndDroplayout_small{ font-size:12px; height:30px; width:114px; background-image: url('../Images/Icons/drag.png'); padding-right:30px; background-repeat:no-repeat; background-size:18%; text-align:left; float:right; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; cursor:move;background-position-y:3px; background-position-X:right; display:none; line-height:14px; }
.DragAndDroplayout_small:hover{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7; }