﻿fieldset{background-color:#fff;}

.bold, .span_Base, .ul_alert li, th{font-weight:700;}

.fl_wd100{float:left;width:100%;}
.fr_wd100{float:right;width:100%;}
.fr{float:right !important;}
.fl{float:left !important;}
.p_Base{float:left;font-size:140%;margin:10px 0;}
.span_Base{float:left;font-size:185%;margin:10px 0;}

.uppercase{text-transform:uppercase;}

.itemHover:hover{opacity:.7;}
.lt_sp6{letter-spacing:6px;}

.gridCampaigns{border-bottom: 1px solid #8d8d8d;}

.ModalFullScreen {min-height:100% !important; width:100% !important; top: 0 !important;}

.TrNotHover tr:hover{background-color:transparent;}

.cWhite{color:#fff;}.cBlack{color:#000;}.cGreen{color:#2db7cb;}


.bgWhite, .bgAquaBlue{-webkit-transition:background-color .2s ease-out .1s;-moz-transition:background-color .2s ease-out .1s;-o-transition:background-color .2s ease-out .1s;transition:background-color .2s ease-out .1s;}
.bgWhite{background-color:#fff;} 
.bgWhite:hover{background-color:#d7d7d7;} 

.bgAquaBlue{background-color:#9fb0ca; color: #fff !important;}
.bgAquaBlue:hover{background-color:#879ec1;}

.cPointer{cursor:pointer;}.fs_60{font-size:60% !important;}.fs_70{font-size:70% !important;}.fs_80{font-size:80% !important;}.fs_90{font-size:90% !important;}
.fs_100{font-size:100% !important;}.fs_110{font-size:110% !important;}.fs_120{font-size:120% !important;}.fs_130{font-size:130% !important;}.fs_140{font-size:140% !important;}.fs_150{font-size:150% !important;}


.wd5{width:5%;}.wd10{width:10%;}.wd15{width:15%;}.wd20{width:20%;}.wd25{width:25%;}.wd30{width:30%;}.wd35{width:35%;}.wd40{width:40%;}.wd45{width:45%;}.wd50{width:50%;}.wd55{width:55%;}.wd60{width:60%;}.wd65{width:65%;}.wd70{width:70%;}
.wd75{width:75%;}.wd80{width:80%;}.wd85{width:85%;}.wd90{width:90%;}.wd95{width:95%;}.wd96{width:96%;}.wd100{width:100%;}
.mrg5{margin-top:5px !important;}.mrg10{margin-top:10px !important;}.mrg15{margin-top:15px !important;}.mrg20{margin-top:20px !important;}.mrgLeft5px{margin-left:5px !important;}.mrgLeft1{margin-left:1% !important;}.mrgLeft2{margin-left:2% !important;}
.mrgLeft5{margin-left:5% !important;}.mrgLeft10{margin-left:10% !important;}.mrgRight1{margin-right:1% !important;}.mrgRight2{margin-right:2% !important;}.mrgRight5{margin-right:5% !important;}.mrgRight0{margin-right:0 !important;}
.mrgBot0{margin-bottom:0px !important;}.mrgBottom5{margin-bottom:5px !important;}.mrgBottom10{margin-bottom:10px !important;}.mrgBottom15{margin-bottom:15px !important;}.mrgBottom20{margin-bottom:20px !important;}

.pdg10_2{padding: 10px 2%;}

.bdLightGrey{border:1px solid #c3c3c3;}

.bdNone{border:none !important;}

.notBold{font-weight:400 !important;}

.txtCenter{text-align:center;}.txtLeft{text-align:left;}.txtRight{text-align:right;}

.hr_WDForm{margin:5px;}

.Fade_Init{background-color:#fff;position:fixed;height:100%;width:100%;z-index:999999999999999999999999;top:0;left:0;}

.ui-state-highlight {height: 60px;line-height: 60px;}

.BoxPreload{width:102%;height:102%;position:fixed;z-index:9999999999;background-image:url(../Images/bg_shadow_85.png);background-repeat:repeat;left:0;top:0; display:none;}
.BoxPreload_structure{margin:15% auto;width:350px;}
.preload_txt{color:#fff;position:relative;float:left;margin:10px 0;width:100%;}
.preload_txt span{line-height:140%;-webkit-animation:txtFade 1.5s linear infinite;animation:txtFade 1.5s linear infinite;}
.preloader{position:relative;margin:0 auto;width:37px;height:37px;}

body-layout {padding-top: 40px;padding-bottom: 20px;}

.a_footer{text-align:center;font-size:13px;text-align:right;padding: 10px 15px;float: right;color: #fff;text-decoration: none;text-shadow: 1px 1px 6px #000;}
.loginArea{background: rgba(51, 122, 183, 0.79); padding: 2% 5%;border-radius: 30px;box-shadow: 0px 0px 11px #403f3f;}

body-layout-logged {padding-top: 20px;padding-bottom: 20px;}

/* Set padding to keep content from hitting the edges */
body-layout-content {padding-left: 15px;padding-right: 15px;}

body-layout-content-logged {padding-left: 30px;padding-right: 2px;}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {white-space: normal;}

/*MENU ESQUERDO*/
.navbar-fixed-left {width: 170px;position: fixed;border-radius: 0;height: 100%;top:0px}
.navbar-fixed-left .navbar-nav > li {float: none;  /* Cancel default li float: left */width: 139px;}
.navbar-fixed-left + .container {padding-left: 50px;}
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {margin-top: -50px;margin-left: 170px;z-index:99;}

/*ORDERNAÇÂO TABELA*/
st-sort-ascent:before {content: '\25B2';}
.st-sort-descent:before {content: '\25BC';}

/*HEADER*/
.automation-header{ /*width: 100%;*/ background-color: #fff;  z-index:99;position:relative; text-align:center;}
.automation-header-titulo{/*width: 100%;*/ }
.automation-header-titulo-icone{color:#c3c3c3; font-size:15px; background-repeat: no-repeat;}
.automation-header-titulo-pagina{font-size: 16px;
    margin: -15px 0 -2px;
    border-bottom: 1px solid #c3c3c3;
    padding: 0 0 5px;}
.automation-header-logo-cliente{ float:right; width:22%; margin-top: 5px;}
.automation-header-logo-cliente-figure{ height:41px; width:100%; float:right; margin-right:5%;}
.automation-header-logo-cliente-figure img{width:100%; }
.body-layout-content-logged{padding-bottom:60px;}
.panel-heading{background-image:none !important;}

/* DIALOG/MODAL */
.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/* FLOAT LEFT DIVERSOS */
.fl{float: left;}
.fr{float: right;}
.fl_wd100{float:left; width:100%;}
.fr_wd100{float:right; width:100%;}

.divProcessoDadosGenericos{width: 100%; padding:5px 1%; float: left; border:1px solid #c3c3c3; margin-bottom:10px; position:relative;}
.divProcesso_Campo{float: left;margin-right: 0.5%; width: 24.5%;word-break:keep-all;}
.divProcesso_Campo100{float: left;margin-right: 0.5%; width:96%; padding:7px 1.5%; word-break:keep-all;}

.Amarra_btnMaisInformacoes{margin-top:3px; position:absolute; right:10px;}
.divMaisInformacoes{position:absolute; margin:-20px 5px 0 0; right:0; width:300px; display:none; background-color:#fff; border:3px solid #c3c3c3; box-shadow:-2px 4px 10px #676767; z-index:1;}
.divMaisInformacoes_header{border-bottom:1px solid #c3c3c3; float:left; width:100%;}
.divMaisInformacoes_close{float: right; margin-right:5px; font-weight:bold; cursor:pointer;}
.divMaisInformacoes_close:hover{ opacity:.7;}
.divMaisInformacoes_Content{padding:3%; float:left; width:94%; }
.divMaisInformacoes_Content div{margin-bottom:10px;}

.EtapaInsereProcesso{box-shadow: 5px 5px 5px #aaa6a6;border: 1px solid;}
.EtapaInsereProcesso div h4{transition: font-size .3s;-webkit-transition: font-size .3s; -moz-transition: font-size .3s; -o-transition: font-size .3s;}
.EtapaInsereProcesso:hover div h4{font-size:17px !important;}
.EtapaInsereProcesso > div{height: 85px;display:table;width: 96%;border-left:1px solid #fff;border-right:1px solid #fff;margin: 5px 2%;}
.EtapaInsereProcesso > div > h4{vertical-align:middle; height: 60px; display:table-cell; font-size:16px;}


.sidenav{height:100%;width:0;position:fixed;z-index:999999;top:0;left:0;background-color:#111;overflow-x:hidden;transition:.5s;padding-top:60px;box-shadow: 6px 0 12px #8e8787;border-right: 1px solid #999595;}
.sidenav a,.sidenav div{padding:0 0 0 10px;text-decoration:none;font-size:16px;color:#818181;display:block;transition:.3s;min-width:180px}
.sidenav a:hover{color:#f1f1f1}
.sidenav .closebtn{position:absolute;top:0;right:25px;font-size:36px;margin-left:50px; text-align:right;}


.btn{border-radius:0;background-image:none;border:0;margin-right:4px}
.btnLogin{background-color:#282c35;}
.btnLogin:hover{background-color:#4b4f58 !important;}

.footer{border-top:1px solid #c3c3c3;color:#5c5c5c}
.navbar-custom{background-color:#337ab7;color:#fff;border-radius:0}
.navbar-custom .navbar-nav>li>a{color:#fff}
.navbar-custom .navbar-nav>.active>a{color:#fff;background-color:transparent}
.navbar-custom .navbar-nav>.active>a:focus,.navbar-custom .navbar-nav>.active>a:hover,.navbar-custom .navbar-nav>.open>a,.navbar-custom .navbar-nav>li>a:focus,.navbar-custom .navbar-nav>li>a:hover{text-decoration:none;background-color:#2469a4}.navbar-custom .navbar-brand{color:#eee}.navbar-custom .navbar-toggle{background-color:#eee}.navbar-custom .icon-bar{background-color:#337ab7}


.closebtn {padding-left: 10px;color: #888;font-weight: bold;float: right;font-size: 20px;cursor: pointer;}
.closebtn:hover {color: #000;}

.chip {display: inline-block;padding: 0 15px;font-size: 13px;line-height: 30px;border-radius: 25px;background-color: #f1f1f1;}
.chip img {float: left;margin: 0 10px 0 -25px;height: 50px;width: 50px;border-radius: 50%;}

/* Preloader*/
.loader {  border: 5px solid #f3f3f3;  border-radius: 50%;  border-top: 5px solid #2e6da4;  width: 40px;  height: 40px;  -webkit-animation: spin .8s linear infinite; /* Safari */animation: spin .8s linear infinite; margin:0 25%;}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*ENd Preloader*/


@media screen and (max-height:450px){
    .sidenav{padding-top:15px}
    .sidenav a{font-size:18px}
}

@-webkit-keyframes sk-cubeGridScaleDelay {
0%,70%,100%{-webkit-transform:scale3D(1,1,1);transform:scale3D(1,1,1)}
35%{-webkit-transform:scale3D(0,0,1);transform:scale3D(0,0,1)}
}

@keyframes sk-cubeGridScaleDelay {
0%,70%,100%{-webkit-transform:scale3D(1,1,1);transform:scale3D(1,1,1)}
35%{-webkit-transform:scale3D(0,0,1);transform:scale3D(0,0,1)}
}

@keyframes txtFade{
    0%,100%{opacity:1;}
    50%{opacity:.5;}
}
@keyframes rotatePreloadCenter{
    0%,100%{opacity:1;}
    50%{opacity:.3;}
}
@keyframes rotatePreloadX{
    0%{-webkit-transform:rotateX(0);-ms-transform:rotateX(0);transform:rotateX(0);}
    100%{-webkit-transform:rotateY(360deg);-ms-transform:rotateY(360deg);transform:rotateY(360deg); }
}


@media (min-width:284px){
    .tdAlignFull td{float:left; width:100%;text-align:center; padding:10px 0;}
    .link:hover{color:#2cb5ea;}
    .modal-body {max-height:420px;}
}
@media only screen and (min-width:320px){
    
}
@media only screen and (min-width:350px){

}
@media only screen and (min-width:370px){

}
@media only screen and (min-width:400px){

}
@media (min-width:600px){
    .modal-body {max-height:400px;}
}

@media only screen and (min-width:600px){
     .modal-body {max-height:450px;}
}

@media only screen and (min-width:700px){
     .modal-body {max-height:50vh;}
}

@media only screen and (min-width:900px){
     .modal-body {max-height:60vh;}
}

@media only screen and (min-width:1000px){
     .modal-body {max-height:65vh;}
}

@media only screen and (min-width:1100px){
     .modal-body {max-height:68vh;}
}

@media only screen and (min-width:1250px){
     .modal-body {max-height:70vh;}
}

/*Processo - Action Box*/
.animate-repeat {/*line-height:40px;*/list-style:none;box-sizing:border-box;}
.animate-repeat.ng-move,.animate-repeat.ng-enter,.animate-repeat.ng-leave {-webkit-transition:all ease-in 0.2s;transition:all ease-in 0.2s;}
.animate-repeat.ng-leave.ng-leave-active,.animate-repeat.ng-move,.animate-repeat.ng-enter {  opacity:0;  /*max-height:0;*/}
.animate-repeat.ng-leave,.animate-repeat.ng-move.ng-move-active,.animate-repeat.ng-enter.ng-enter-active {opacity:1;  /*max-height:40px;*/}

/*Validation AngularJS background-color*/
input.ng-invalid.ng-touched {background-color: #fde2e4 !important;}
input.ng-valid.ng-touched {background-color: #fff !important;}
input.ng-valid.ng-touched[disabled], input.ng-valid.ng-touched[readonly], input.ng-invalid.ng-touched[disabled], input.ng-invalid.ng-touched[readonly] {background-color: #eee !important;}

/*Modal Full (large) */
.modal-lg {width: 90%;}
.modal-lg .modal-dialog {width: 100%;}
.modal-body{overflow:auto;}

/*Table Style - Caso necessario retorno para estilo padrao com quebra de linha, comentar clase abaixo */
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tbody>tr>td>div{max-width:150px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; border:1px solid #f1f1f1;}
.table>tbody>tr>td>div{border:none;}

.CustomTableSize.table>thead>tr>th, .CustomTableSize.table>tbody>tr>th, .CustomTableSize.table>tfoot>tr>th, .CustomTableSize.table>thead>tr>td, .CustomTableSize.table>tbody>tr>td, .CustomTableSize.table>tbody>tr>td>div{max-width:700px !important;overflow:auto;text-overflow:initial;white-space:nowrap ;}

.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td{border-top: 0;background: #9a9a9a;border: 3px solid #fff;color: #fff;/* border-radius: 22px; */margin: 0 1px;text-align: center; padding: 4px 10px; font-weight: normal; cursor:pointer;}

.table>caption+thead>tr:first-child>th:hover, .table>colgroup+thead>tr:first-child>th:hover, .table>thead:first-child>tr:first-child>th:hover, .table>caption+thead>tr:first-child>td:hover, .table>colgroup+thead>tr:first-child>td:hover, .table>thead:first-child>tr:first-child>td:hover{opacity:.9;}

.table-responsive{margin:10px 0 0 0;}

/*Table Header */
.panel-heading:hover{opacity:.9; cursor:pointer;}

.TempoMedio{background:#c3c3c3;border-radius:5px;text-align: center;padding: 5px 0; cursor:pointer;}
.TempoMedio:hover{opacity:.8;}