﻿<div ng-init="oProcesso.ScriptInfosAdicionais['ChecklistContestacao'] = {};" class="form-group space">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="ddlPergunta1">Cliente Reconhece o Cartão?</label>
                <select class="form-control" id="ddlPergunta1" name="ddlPergunta1" ng-model="oProcesso.ScriptInfosAdicionais['ChecklistContestacao'].Pergunta1" ng-required="true">
                    <option value="">---Selecione---</option>
                    <option value="S">Sim</option>
                    <option value="N">Não</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" ng-if="oProcesso.ScriptInfosAdicionais['ChecklistContestacao'].Pergunta1 === 'S'">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="ddlPergunta2">Cartão Perdido, Roubado ou Sofreu Coação?</label>
                <select class="form-control" id="ddlPergunta2" name="ddlPergunta2" ng-model="oProcesso.ScriptInfosAdicionais['ChecklistContestacao'].Pergunta2" ng-required="true">
                    <option value="">---Selecione---</option>
                    <option value="S">Sim</option>
                    <option value="N">Não</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" ng-if="oProcesso.ScriptInfosAdicionais['ChecklistContestacao'].Pergunta2 === 'N' && oProcesso.ScriptInfosAdicionais['ChecklistContestacao'].Pergunta1 === 'S'">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="ddlPergunta3">Cliente Recebeu o Cartão?</label>
                <select class="form-control" id="ddlPergunta3" name="ddlPergunta3" ng-model="oProcesso.ScriptInfosAdicionais['ChecklistContestacao'].Pergunta3" ng-required="true">
                    <option value="">---Selecione---</option>
                    <option value="S">Sim</option>
                    <option value="N_02">Não - sem alteração de endereço</option>
                    <option value="N_04">Não - houve alteração de endereço antes do envio</option>
                </select>
            </div>
        </div>
    </div>    
</div>