﻿<div ng-init="oProcesso.ScriptInfosAdicionais['ChecklistContestacao'] = {};" class="form-group space">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="ddlPergunta1">Cliente recebeu o cartão?</label>
                <select class="form-control" id="ddlPergunta1" name="ddlPergunta1" ng-model="oProcesso.ScriptInfosAdicionais['ChecklistContestacao'].Pergunta1" ng-required="true">
                    <option value="">---Selecione---</option>
                    <option value="Sim">Sim</option>
                    <option value="Não">Não</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" ng-if="oProcesso.ScriptInfosAdicionais['ChecklistContestacao'].Pergunta1 === 'Sim'">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="ddlPergunta2">Cartão perdido ou roubado?</label>
                <select class="form-control" id="ddlPergunta2" name="ddlPergunta2" ng-model="oProcesso.ScriptInfosAdicionais['ChecklistContestacao'].Pergunta2" ng-required="true">
                    <option value="">---Selecione---</option>
                    <option value="Perda">Perda</option>
                    <option value="Roubo">Roubo</option>
                    <option value="Não">Não</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" ng-if="oProcesso.ScriptInfosAdicionais['ChecklistContestacao'].Pergunta2 === 'Roubo' && oProcesso.ScriptInfosAdicionais['ChecklistContestacao'].Pergunta1 === 'Sim'">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="ddlPergunta3">Cliente sofreu coação?</label>
                <select class="form-control" id="ddlPergunta3" name="ddlPergunta3" ng-model="oProcesso.ScriptInfosAdicionais['ChecklistContestacao'].Pergunta3" ng-required="true">
                    <option value="">---Selecione---</option>
                    <option value="Sim">Sim</option>
                    <option value="Não">Não</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" ng-if="oProcesso.ScriptInfosAdicionais['ChecklistContestacao'].Pergunta3 === 'Sim' && oProcesso.ScriptInfosAdicionais['ChecklistContestacao'].Pergunta2 === 'Roubo' && oProcesso.ScriptInfosAdicionais['ChecklistContestacao'].Pergunta1 === 'Sim'">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="ddlPergunta4">Cliente possui Boletim de Ocorrência?</label>
                <select class="form-control" id="ddlPergunta4" name="ddlPergunta4" ng-model="oProcesso.ScriptInfosAdicionais['ChecklistContestacao'].Pergunta4" ng-required="true">
                    <option value="">---Selecione---</option>
                    <option value="Sim">Sim</option>
                    <option value="Não">Não</option>
                </select>
            </div>
        </div>
    </div>
</div>