﻿<div class="row">
    <div class="col-sm-12">
        <form name="frmCliente" ng-submit="AtualizaCliente()" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Cliente" is-open="true">
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label for="ddlClienteTipo" class="wd100">Tipo de Cliente</label>
                            <select class="form-control" id="ddlClienteTipo" name="ddlClienteTipo" ng-model="oCliente.Tipo" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option value="J">Pessoa Juridica</option>
                                <option value="F">Pessoa Física</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3" ng-if="oCliente.Tipo == 'J'">
                        <div class="form-group">
                            <label for="txtCNPJ" class="wd100">CNPJ</label>
                            <input type="text" class="form-control" id="txtCNPJ" name="txtCNPJ" ng-model="oCliente.CpfCnpj" ng-required="true">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3" ng-if="oCliente.Tipo == 'F'">
                        <div class="form-group">
                            <label for="txtCPF" class="wd100">CPF</label>
                            <input type="text" class="form-control" id="txtCPF" name="txtCPF" ng-model="oCliente.CpfCnpj" ng-required="true">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label for="txtNomeRazaoSocial" class="wd100">Nome/Razão Social</label>
                            <input type="text" class="form-control" id="txtNomeRazaoSocial" name="txtNomeRazaoSocial" ng-model="oCliente.NomeRazaoSocial" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label for="txtLogin" class="wd100">Login</label>
                            <input type="text" class="form-control" id="txtLogin" name="txtLogin"  ng-model="oCliente.Login" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label for="txtSenha" class="wd100">Senha</label>
                            <input type="password" class="form-control" id="txtSenha" name="txtSenha" ng-model="oCliente.Senha" ng-required="true" />
                        </div>
                    </div>
                </div>
                <div uib-accordion-group class="panel-primary hoverable mrg15" heading="Itens de Menu" is-open="true">
                    <div ivh-treeview="Menus"></div>
                </div>
                <div uib-accordion-group class="panel-primary hoverable mrg15" heading="Scripts de Automação" is-open="true">
                    <div class="table-responsive fl_wd100 mrg10">
                        <table st-table="ScriptsDisplay" st-safe-src="Scripts" class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th st-sort="oGrupo.Descricao">Grupo</th>
                                    <th st-sort="oScript.Descricao">Descricao</th>
                                    <th st-sort="IdScriptStatus">Status</th>
                                    <th st-sort="IdScriptPrioridade">Prioridade</th>
                                    <th st-sort="ExecucaoInstantanea">Online</th>
                                    <th st-sort="QuantidadeTentativas">Qtde. de Tentativas</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="oScript in ScriptsDisplay">
                                <tr ng-repeat="oGrupo in oScript.Grupo">
                                    <td cs-select="oScript"></td>
                                    <td>{{oGrupo.Descricao}}</td>
                                    <td>{{oScript.Descricao}}</td>
                                    <td>
                                        <div ng-repeat="oScriptStatus in ListaStatusScript | filter:{Id:oScript.IdScriptStatus}">
                                            {{oScriptStatus.Descricao}}
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-repeat="oScriptPrioridade in ListaPrioridadeScript | filter:{Id:oScript.IdScriptPrioridade}">
                                            {{oScriptPrioridade.Descricao}}
                                        </div>
                                    </td>
                                    <td>{{oScript.ExecucaoInstantanea === true ? 'Sim' : 'Não'}}</td>
                                    <td>{{oScript.QuantidadeTentativas}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-left">
                                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="2" st-template="Templates/pagination_custom.html"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>                
            </uib-accordion>
            <div class="form-actions">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmCliente.$invalid" class="btn btn-primary">Atualizar</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>



