﻿<div class="fl_wd100 actionArea">
    <button type="button" class="btn btn-primary" ng-click="btnNovo()">
        <i class="glyphicon glyphicon-plus"></i> Novo
    </button>
</div>
<div class="table-responsive fl_wd100 mrg10">
    <table st-table="ClientesDisplay" st-safe-src="Clientes" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th st-sort="Tipo">PF/PJ</th>
                <th st-sort="CpfCnpj">CPF/CNPJ</th>
                <th st-sort="NomeRazaoSocial">Nome/Razão Social</th>
                <th st-sort="Ativo">Ativo</th>
                <th st-sort="AutorCriacao">Autor Criação</th>
                <th st-sort="DataCriacao">Data de Criação</th>
                <th st-sort="AutorAlteracao">Autor Alteração</th>
                <th st-sort="DataAlteracao">Data de Alteração</th>
            </tr>
            <tr>
                <th colspan="8" style="display:none;">
                    <input id="stSearchCustom" st-search placeholder="Pesquisa Rápida" class="input-sm fr col-md-3" type="search" style="display:none;" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oCliente in ClientesDisplay" on-end-repeat-st>
                <td>
                    <button type="button" ng-click="btnEditar()" class="btn btn-xs btn-info">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </td>
                <td>{{oCliente.Tipo = 'J' ? 'PJ' : 'PF'}}</td>
                <td>{{oCliente.CpfCnpj}}</td>
                <td>{{oCliente.NomeRazaoSocial}}</td>
                <td>{{oCliente.Ativo === true ? 'Sim' : 'Não'}}</td>
                <td>{{oCliente.AutorCriacao}}</td>
                <td>{{oCliente.DataCriacao != '0001-01-01T00:00:00' ? oCliente.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{oCliente.AutorAlteracao}}</td>
                <td>{{oCliente.DataAlteracao != '0001-01-01T00:00:00' ? oCliente.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10" class="text-left">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="Templates/pagination_custom.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
