﻿<div class="row">
    <div class="col-sm-12">
        <form name="frmGrupo"  ng-submit="InsereGrupo()" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Grupo" is-open="true">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtDescricao" class="wd100">Descrição</label>
                            <input type="text" class="form-control" id="txtDescricao" ng-model="oGrupo.Descricao" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtPercRobosProcessamentoRealTime" class="wd100">Percentual RealTime</label>
                            <input type="text" class="form-control" id="txtPercRobosProcessamentoRealTime" name="txtPercRobosProcessamentoRealTime" ng-model="oGrupo.PercRobosProcessamentoRealTime" ng-required="true">
                        </div>
                    </div>
                </div>
                <div uib-accordion-group class="panel-primary hoverable mrg15" heading="Scripts de Automação" is-open="true">
                    <div class="table-responsive fl_wd100 mrg10">
                        <table st-table="ScriptsDisplay" st-safe-src="Scripts" class="table table-striped mrgBot0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th st-sort="oScript.Descricao">Descricao</th>
                                    <th st-sort="IdScriptStatus">Status</th>
                                    <th st-sort="IdScriptPrioridade">Prioridade</th>
                                    <th st-sort="ExecucaoInstantanea">Online</th>
                                    <th st-sort="QuantidadeTentativas">Qtde. de Tentativas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="oScript in ScriptsDisplay">
                                    <td cs-select="oScript"></td>
                                    <td>{{oScript.Descricao}}</td>
                                    <td>
                                        <div ng-repeat="oScriptStatus in ListaStatusScript | filter:{Id:oScript.IdScriptStatus}">
                                            {{oScriptStatus.Descricao}}
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-repeat="oScriptPrioridade in ListaPrioridadeScript | filter:{Id:oScript.IdScriptPrioridade}">
                                            {{oScriptPrioridade.Descricao}}
                                        </div>
                                    </td>
                                    <td>{{oScript.ExecucaoInstantanea === true ? 'Sim' : 'Não'}}</td>
                                    <td>{{oScript.QuantidadeTentativas}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-left">
                                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="2" st-template="Templates/pagination_custom.html"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </uib-accordion>
            <div class="form-actions mrg15">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmGrupo.$invalid" class="btn btn-primary">Inserir</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                </div>
            </div>
        </form>   
    </div>
</div>



