﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Informações da Execução !</h3>
</div>
<div class="modal-body" id="modal-body">    
    <div ng-if="oProcessoExecucao" class="row">
        <div class="col-md-12">
            <div class="fl_wd100">
                <div class="divProcessoDadosGenericos">
                    <div class="divProcesso_Campo">
                        <label class="control-label">Nº da Execucao:</label>
                        <label class="control-label" style="width:100%;">{{oProcessoExecucao.Id}}</label>
                    </div>
                    <div class="divProcesso_Campo">
                        <label class="control-label">Step:</label>
                        <label class="control-label" style="width:100%;">{{oProcessoExecucao.ProcessoExecucaoScriptStep[oProcessoExecucao.ProcessoExecucaoScriptStep.length - 1].ScriptStep.Descricao}}</label>
                    </div>
                    <div class="divProcesso_Campo">
                        <label class="control-label">Status:</label>
                        <label class="control-label" style="width:100%;">{{oProcessoExecucao.ProcessoStatus.Descricao}}</label>
                    </div>
                    <div class="divProcesso_Campo">
                        <label class="control-label">Retorno:</label>
                        <label class="control-label" style="width:100%;">{{oProcessoExecucao.ScriptCodigoRetorno.Descricao}}</label>
                    </div>
                    <div class="Amarra_btnMaisInformacoes">
                        <button type="button" class="btn btn-sm btn-primary mrg5" ng-click="btnAbrirMaisInformacoes()">
                            <i class="glyphicon glyphicon-plus"></i> Mais
                        </button>
                        <div class="divMaisInformacoes" id="divMaisInformacoesExecucao">
                            <div class="divMaisInformacoes_header">
                                <label class="bold txtCenter fs_90 mrg5" style="width:90%;">Informações Adicionais</label>
                                <div class="divMaisInformacoes_close fs_140" title="Fechar" ng-click="btnFecharMaisInformacoes()">&times;</div>
                            </div>
                            <div class="divMaisInformacoes_Content">
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <label class="bold wd100 mrgBot0">Nº do Processo</label>
                                        <label style="width:100%;">{{oProcessoExecucao.IdProcesso}}</label>
                                    </div>

                                    <div class="col-sm-6">
                                        <label class="bold wd100 mrgBot0">Robo (Dominio)</label>
                                        <label style="width:100%;">{{oProcessoExecucao.Robo.DominioRede}}</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <label class="bold wd100 mrgBot0">Robo (Máquina)</label>
                                        <label style="width:100%;">{{oProcessoExecucao.Robo.NomeMaquina}}</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="bold wd100 mrgBot0">Ativo</label>
                                        <label style="width:100%;">{{oProcessoExecucao.Ativo == true ? 'Sim' : 'Não'}}</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <label class="bold wd100 mrgBot0">Autor Criação</label>
                                        <label style="width:100%;">{{oProcessoExecucao.AutorCriacao}}</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="bold wd100 mrgBot0">Data de Criação</label>
                                        <label style="width:100%;">{{oProcessoExecucao.DataCriacao | date:"dd/MM/yyyy"}}</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <label class="bold wd100 mrgBot0">Autor Alteração</label>
                                        <label style="width:100%;">{{oProcessoExecucao.AutorAlteracao}}</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="bold wd100 mrgBot0">Data de Alteração</label>
                                        <label style="width:100%;">{{oProcessoExecucao.DataAlteracao | date:"dd/MM/yyyy"}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <uib-accordion close-others="false" style="float:left; width:100%;">          
                <div uib-accordion-group class="panel-primary hoverable mrgBottom20" heading="Detalhe do Retorno" is-open="false">
                    <div class="col-sm-6 col-md-4 col-lg-12">
                        <div class="form-group">
                            <textarea class="form-control" id="txtDetalheRetorno" name="txtDetalheRetorno" ng-model="oProcessoExecucao.ConteudoAdicional" style="resize:none" ng-required="true" rows="10"></textarea>
                        </div>
                    </div>
                </div>      
                <div uib-accordion-group class="panel-primary hoverable mrgBottom20" heading="Auditoria da Execução" is-open="true">
                    <uib-tabset active="active">
                        <uib-tab index="0" heading="Etapas da Automação">
                            <div class="col-sm-6 col-md-3 col-lg-1 mrg10 TempoMedio mrgRight1" title="Tempo Total do Agente Virtual">
                                <img src="Images/Icons/user.png" width="16" /> {{TempoTotalSegundosAssistente}}
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-1 mrg10 TempoMedio mrgRight1" title="Tempo Total do Robo">
                                <img src="Images/Icons/laptop-with-eyes.png" width="16" /> {{TempoTotalSegundosRobo}}
                            </div>

                            <div class="col-sm-12">
                                <div class="table-responsive fl_wd100 mrg10">
                                    <table st-table="ProcessoExecucaoScriptStepDisplay" st-safe-src="oProcessoExecucao.ProcessoExecucaoScriptStep" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <!-- Script Step -->
                                                <th st-sort="oProcessoExecucaoScriptStep.ScriptStep.Numero">Nº</th>
                                                <th></th>
                                                <th st-sort="oProcessoExecucaoScriptStep.oScriptStep.IdScriptStepTipo">Tipo</th>
                                                <th st-sort="oProcessoExecucaoScriptStep.oScriptStep.Descricao">Descrição</th>
                                                <!-- Processo Execução Step -->
                                                <th st-sort="oProcessoExecucaoScriptStep.IdProcessoStatus">Status</th>
                                                <th st-sort="CodigoRetorno">Retorno</th>
                                                <th st-sort="oProcessoExecucaoScriptStep.DataInicio">Inicio</th>
                                                <th st-sort="oProcessoExecucaoScriptStep.DataFim">Data de Fim</th>
                                                <th st-sort="oProcessoExecucaoScriptStep.DataFim">Tempo</th>
                                                <th st-sort="oProcessoExecucaoScriptStep.Tentativa">Tentativa</th>
                                                <th st-sort="oProcessoExecucaoScriptStep.AutorCriacao">Autor Criação</th>
                                                <th st-sort="oProcessoExecucaoScriptStep.DataCriacao">Data de Criação</th>
                                                <th st-sort="oProcessoExecucaoScriptStep.AutorAlteracao">Autor Alteração</th>
                                                <th st-sort="oProcessoExecucaoScriptStep.DataAlteracao">Data de Alteração</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="oProcessoExecucaoScriptStep in ProcessoExecucaoScriptStepDisplay">
                                                <!-- Script Step -->
                                                <td>{{oProcessoExecucaoScriptStep.ScriptStep.Numero}}</td>
                                                <td>
                                                    <div ng-repeat="oScriptStepTipo in TipoStepScript track by $index" ng-if="oScriptStepTipo.Id === oProcessoExecucaoScriptStep.ScriptStep.IdScriptStepTipo">
                                                        <img ng-src="Images/Icons/{{oScriptStepTipo.Icone}}" width="20" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div ng-repeat="oScriptStepTipo in TipoStepScript track by $index" ng-if="oScriptStepTipo.Id === oProcessoExecucaoScriptStep.ScriptStep.IdScriptStepTipo">
                                                        {{oScriptStepTipo.Descricao}}
                                                    </div>
                                                </td>
                                                <td title="{{oProcessoExecucaoScriptStep.ScriptStep.Descricao}}">{{oProcessoExecucaoScriptStep.ScriptStep.Descricao}}</td>
                                                <!-- Processo Execução Step -->
                                                <td>
                                                    <div ng-repeat="oProcessoStatus in ListaStatusProcesso track by $index" ng-if="oProcessoStatus.Id === oProcessoExecucaoScriptStep.IdProcessoStatus">
                                                        {{oProcessoStatus.Descricao}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div ng-repeat="oScriptCodigoRetorno in CodigosRetornos track by $index" ng-if="oScriptCodigoRetorno.Codigo === oProcessoExecucaoScriptStep.CodigoRetorno">
                                                        {{oScriptCodigoRetorno.Descricao}}
                                                    </div>
                                                </td>
                                                <td>{{oProcessoExecucaoScriptStep.DataInicio != '0001-01-01T00:00:00' ? oProcessoExecucaoScriptStep.DataInicio : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                                <td>{{oProcessoExecucaoScriptStep.DataFim != '0001-01-01T00:00:00' ? oProcessoExecucaoScriptStep.DataFim : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>

                                                <td>{{CalculaTempo(oProcessoExecucaoScriptStep.DataInicio, oProcessoExecucaoScriptStep.DataFim)}}</td>

                                                <td>{{oProcessoExecucaoScriptStep.Tentativa}}</td>
                                                <td>{{oProcessoExecucaoScriptStep.AutorCriacao}}</td>
                                                <td>{{oProcessoExecucaoScriptStep.DataCriacao != '0001-01-01T00:00:00' ? oProcessoExecucaoScriptStep.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                                <td>{{oProcessoExecucaoScriptStep.AutorAlteracao}}</td>
                                                <td>{{oProcessoExecucaoScriptStep.DataAlteracao != '0001-01-01T00:00:00' ? oProcessoExecucaoScriptStep.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="1" heading="Log Analítico" ng-click="ListaLogAplicacao(0,0,0,0,0,oProcessoExecucao.Id,0)">
                            <div class="table-responsive" style="max-height:400px; overflow:auto;">
                                <table st-table="LogAplicacaoExecucaoDisplay" st-safe-src="oLogAplicacaoExecucao" class="CustomTableSize table table-striped" ng-if="oLogAplicacaoExecucao">
                                    <thead>
                                        <tr>
                                            <th st-sort="Id">Nº</th>
                                            <th st-sort="Data">Data</th>
                                            <th st-sort="Maquina">Máquina</th>
                                            <th width="500px" st-sort="Mensagem">Mensagem</th>
                                            <th st-sort="Excecao">Exceção</th>
                                            <th st-sort="Diferenca">Tempo</th>
                                            <th st-sort="Origem">Origem</th>
                                            <th st-sort="Autor">Autor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="oLogAplicacao in LogAplicacaoExecucaoDisplay">
                                            <td>{{oLogAplicacao.Id}}</td>
                                            <td>{{oLogAplicacao.Data != '0001-01-01T00:00:00' ? oLogAplicacao.Data : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                            <td>{{oLogAplicacao.Maquina}}</td>
                                            <td width="500px"><pre>{{oLogAplicacao.Mensagem}}</pre></td>
                                            <td>{{oLogAplicacao.Excecao}}</td>
                                            <td>{{oLogAplicacao.Diferenca}}s</td>
                                            <td>{{oLogAplicacao.Origem}}</td>
                                            <td>{{oLogAplicacao.Autor}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </uib-tab>
                        <uib-tab index="2" heading="Usuários de Sistemas Automatizados">
                            <div class="table-responsive" style="max-height:400px; overflow:auto;">
                                <table st-table="ScriptSistemaAcessoSessaoDisplay" st-safe-src="oProcessoExecucao.ScriptSistemaAcessoSessao" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th st-sort="Login">Usuário</th>
                                            <th st-sort="IdScriptSistema">Sistema Automatizado</th>
                                            <th st-sort="AutorCriacao">Autor Criação</th>
                                            <th st-sort="DataCriacao">Data de Criação</th>
                                            <th st-sort="AutorAlteracao">Autor Alteração</th>
                                            <th st-sort="DataAlteracao">Data de Alteração</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="oScriptSistemaAcessoSessao in ScriptSistemaAcessoSessaoDisplay" on-end-repeat-st>
                                            <td>{{oScriptSistemaAcessoSessao.ScriptSistemaAcesso.Login}}</td>
                                            <td>
                                                <div ng-repeat="oScriptSistema in ScriptSistemas track by $index" ng-if="oScriptSistema.Id === oScriptSistemaAcessoSessao.ScriptSistemaAcesso.IdScriptSistema">
                                                    {{oScriptSistema.Hostname}}
                                                </div>
                                            </td>
                                            <td>{{oScriptSistemaAcessoSessao.ScriptSistemaAcesso.AutorCriacao}}</td>
                                            <td>{{oScriptSistemaAcessoSessao.ScriptSistemaAcesso.DataCriacao != '0001-01-01T00:00:00' ? oScriptSistemaAcessoSessao.ScriptSistemaAcesso.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                            <td>{{oScriptSistemaAcessoSessao.ScriptSistemaAcesso.AutorAlteracao}}</td>
                                            <td>{{oScriptSistemaAcessoSessao.ScriptSistemaAcesso.DataAlteracao != '0001-01-01T00:00:00' ? oScriptSistemaAcessoSessao.ScriptSistemaAcesso.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
                <div uib-accordion-group class="panel-primary hoverable mrgBottom20" heading="Relacionados" is-open="true" ng-if="oProcessoExecucao.HistoricoOcorrencia">
                    <uib-tabset active="active">
                        <uib-tab index="0" heading="Ocorrências/Anotações">              
                            <div class="table-responsive fl_wd100 mrg10">
                                <table st-table="HistoricoOcorrenciaDisplay" st-safe-src="oProcessoExecucao.HistoricoOcorrencia" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th st-sort="Id">Nº da Ocorrência</th>
                                            <th st-sort="IdHistoricoClassificacao">Classificação</th>
                                            <th st-sort="IdStatusDe">Status Origem</th>
                                            <th st-sort="IdStatusPara">Status Destino</th>
                                            <th st-sort="Conteudo">Anotação</th>
                                            <th st-sort="AutorCriacao">Autor Criação</th>
                                            <th st-sort="DataCriacao">Data de Criação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="oHistoricoOcorrencia in HistoricoOcorrenciaDisplay">
                                            <td cs-select="oHistoricoOcorrencia"></td>
                                            <td>{{oHistoricoOcorrencia.Id}}</td>
                                            <td>
                                                <div ng-repeat="oHistoricoClassificacao in ListaClassificacoesHistorico track by $index" ng-if="oHistoricoClassificacao.Id === oHistoricoOcorrencia.IdHistoricoClassificacao">
                                                    {{oHistoricoClassificacao.Descricao}}
                                                </div>
                                            </td>
                                            <td>
                                                <div ng-repeat="oProcessoStatus in ListaStatusProcesso track by $index" ng-if="oProcessoStatus.Id === oHistoricoOcorrencia.IdStatusDe">
                                                    {{oProcessoStatus.Descricao}}
                                                </div>
                                            </td>
                                            <td>
                                                <div ng-repeat="oProcessoStatus in ListaStatusProcesso track by $index" ng-if="oProcessoStatus.Id === oHistoricoOcorrencia.IdStatusPara">
                                                    {{oProcessoStatus.Descricao}}
                                                </div>
                                            </td>
                                            <td>{{oHistoricoOcorrencia.Conteudo}}</td>
                                            <td>{{oHistoricoOcorrencia.AutorCriacao}}</td>
                                            <td>{{oHistoricoOcorrencia.DataCriacao != '0001-01-01T00:00:00' ? oHistoricoOcorrencia.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="8" class="text-left">
                                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="Templates/pagination_custom.html"></div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </uib-tab>                        
                    </uib-tabset>
                </div>
                <div uib-accordion-group class="panel-primary hoverable mrgBottom20" heading="Dados da Execução" is-open="true">
                    <div ng-repeat="oScriptInfoAdicional in oProcessoExecucao.Processo.Script.ScriptInfoAdicional | filter:{ TabelaRelacionada: 'tbl_processo_execucao', Ativo: true} : true" on-scriptinfoadicional-repeat-end>
                        <div class="col-sm-6 col-md-4 col-lg-3" ng-if="oScriptInfoAdicional.Tipo !== 'TEMPLATE'">
                            <div class="form-group">
                                <label for="txt{{oScriptInfoAdicional.Chave}}">{{oScriptInfoAdicional.Nome}}</label>
                                <div ng-switch on="oScriptInfoAdicional.Tipo">
                                    <div ng-switch-when="DOMINIO">
                                        <select class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcessoExecucao.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" ng-readonly="true">
                                            <option value="">---Selecione---</option>
                                            <option ng-repeat="oDominioValor in oScriptInfoAdicional.Dominio.DominioValor" ng-value="oDominioValor.Id">{{oDominioValor.DescricaoOpcao}}</option>
                                        </select>
                                    </div>
                                    <div ng-switch-when="SIMNAO">
                                        <select class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" ng-readonly="true">
                                            <option value="" ng-if="oProcessoExecucao.ScriptInfosAdicionais[oScriptInfoAdicional.Chave] === null">---Selecione---</option>
                                            <option value="True" ng-if="oProcessoExecucao.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]">Sim</option>
                                            <option value="False" ng-if="!oProcessoExecucao.ScriptInfosAdicionais[oScriptInfoAdicional.Chave] && oProcessoExecucao.ScriptInfosAdicionais[oScriptInfoAdicional.Chave] !== null">Não</option>
                                        </select>
                                    </div>
                                    <div ng-switch-when="EMAIL">
                                        <input type="email" class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcessoExecucao.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-readonly="true" />
                                    </div>
                                    <div ng-switch-when="NUMERO">
                                        <input type="number" class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcessoExecucao.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" onkeypress="isNum()" ng-readonly="true" />
                                    </div>
                                    <div ng-switch-when="DATA">
                                        <input type="text" class="form-control inputDate" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}"  ng-model="oProcessoExecucao.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" ng-readonly="true" />
                                    </div>
                                    <div ng-switch-when="CPF">
                                        <input type="text" class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcessoExecucao.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" maxlength="14" ui-mask="999.999.999-99" ui-mask-placeholder-char="_" ng-readonly="true" />
                                    </div>
                                    <div ng-switch-when="DECIMAL">
                                        <input type="text" class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcessoExecucao.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" onkeypress="isNum()" onkeydown="FormataValor(this,'15','2',event);" ng-readonly="true" />
                                    </div>
                                    <div ng-switch-when="TEXTO">
                                        <input type="text" class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" 
                                               ng-model="oProcessoExecucao.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]"
                                               ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required'] == null ? false : oScriptInfoAdicional.PropriedadesAdicionais['Required']}}"
                                               ng-maxlength="{{oScriptInfoAdicional.PropriedadesAdicionais['Maxlength'] == null ? 9999999999 : oScriptInfoAdicional.PropriedadesAdicionais['Maxlength']}}"
                                               ng-minlength="{{oScriptInfoAdicional.PropriedadesAdicionais['MinLength'] == null ? 0 : oScriptInfoAdicional.PropriedadesAdicionais['MinLength'] }}" ng-readonly="true" />
                                    </div>
                                    <div ng-switch-default>
                                        <input type="text" class="form-control" id="txt{{oScriptInfoAdicional.Chave}}" name="txt{{oScriptInfoAdicional.Chave}}" ng-model="oProcessoExecucao.ScriptInfosAdicionais[oScriptInfoAdicional.Chave]" ng-required="{{oScriptInfoAdicional.PropriedadesAdicionais['Required']}}" ng-maxlength="{{oScriptInfoAdicional.PropriedadesAdicionais['Maxlength']}}" ng-minlength="{{oScriptInfoAdicional.PropriedadesAdicionais['MinLength']}}" ui-mask="{{oScriptInfoAdicional.PropriedadesAdicionais['Mask']}}" ng-readonly="true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div uib-accordion-group class="panel-primary hoverable mrgBottom20" ng-repeat="oScriptInfoAdicional in  oProcessoExecucao.Processo.Script.ScriptInfoAdicional | filter:{Tipo:'TEMPLATE', TabelaRelacionada: 'tbl_processo_execucao'} : true" heading="{{oScriptInfoAdicional.Nome}}" is-open="true">
                    <div ng-include="oScriptInfoAdicional.Template"></div>
                </div>
                <div uib-accordion-group class="panel-primary hoverable mrgBottom20" heading="Arquivos Digitais" is-open="true" ng-if="oProcessoExecucao.Arquivo">
                    <div ng-include="'Views/Sistema/Arquivo.html'" ng-controller="ArquivoController"></div>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="btnFecharProcessoExecucao()">Fechar</button>
</div>



