﻿<div class="fl_wd100 mrg15">
    <!--<div id="dZUpload" class="dropzone">-->
        <!--<div class="fl_wd100">-->
            <!--<div class="Amarra_dropzone_HoverFile"></div>
            <div class="Amarra_dropzone_animacao">
                <div class="dropzone_textoHoverFile">Solte os arquivos !!!</div>
            </div>
            <div class="DragAndDroplayout_small" title="Drag and Drop Ativo !">Arraste & solte seus arquivos neste painel</div>-->
            <div class="fl_wd100" style="float:left !important; width:75% !important;" ng-if="!ControleSomenteLeitura">
                <div class="col-sm-12" style="padding-top:10px;">
                    <div class="col-md-4" style="text-align:center;margin-bottom:10px;">
                        <input type="file" id="file" name="file" multiple base-sixty-four-input onchange="angular.element(this).scope().SetFilesUpload(this)" class="btn btn-warning" />
                    </div>
                    <div class="col-md-4">
                        <button ng-click="btnUpload()" class="btn btn-primary">Upload</button>
                    </div>
                </div>
            </div>
            <div class="fl_wd100">
                <!--<div class="DragAndDropInitlayout">
                    <img src="Images/Icons/drag.png" width="50px" height="50px" style="float:left;" alt="" />
                    <span> Docpoint Drag And Drop - Arraste seus arquivos aqui.</span>
                </div>-->
                <div class="table-responsive fl_wd100 mrg10">
                    <table st-table="ArquivosDisplay" st-safe-src="Arquivos" class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th ng-if="!ControleSomenteLeitura"></th>
                                <th st-sort="Nome">Nome</th>
                                <th st-sort="Tamanho">Tamanho</th>
                                <th st-sort="Dimensao">Dimensao</th>
                                <th st-sort="AutorCriacao">Autor Criação</th>
                                <th st-sort="DataCriacao">Data de Criação</th>
                                <th st-sort="AutorAlteracao">Autor Alteração</th>
                                <th st-sort="DataAlteracao">Data de Alteração</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="oArquivo in ArquivosDisplay">
                                <td cs-select="oArquivo"></td>
                                <td>
                                    <button type="button" ng-click="btnDownload()" class="btn btn-xs btn-info">
                                        <i class="glyphicon glyphicon-download-alt"></i>
                                    </button>
                                </td>
                                <td ng-if="!ControleSomenteLeitura">
                                    <button type="button" ng-click="btnExclui()" class="btn btn-xs btn-info">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </td>
                                <td>{{oArquivo.Nome}}</td>
                                <td>{{oArquivo.Tamanho}}</td>
                                <td>{{oArquivo.Dimensao}}</td>
                                <td>{{oArquivo.AutorCriacao}}</td>
                                <td>{{oArquivo.DataCriacao != '0001-01-01T00:00:00' ? oArquivo.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                <td>{{oArquivo.AutorAlteracao}}</td>
                                <td>{{oArquivo.DataAlteracao != '0001-01-01T00:00:00' ? oArquivo.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="fl_wd100" ng-if="Arquivos.length > 0">
                    <button type="button" class="btn btn-primary fl" ng-click="btnDownloadSelecionados()">
                        <i class="glyphicon glyphicon-download-alt"></i> Baixar Selecionados
                    </button>
                    <button type="button" class="btn btn-primary fl" ng-click="btnExcluiSelecionados()" ng-if="!ControleSomenteLeitura">
                        <i class="glyphicon glyphicon-remove"></i> Exclui Selecionados
                    </button>
                </div>
            </div>
        <!--</div>
        <div class="dz-default dz-message"></div>
    </div>-->
</div>