﻿<style>
    .Saudacao_Estrutura {
        margin: 0 auto;
        margin-top: 15%;
        text-align: center;
    }

    .Saudacao_Titulo {
        font-size: 270%;
    }

    .Saudacao_texto {
        font-size: 130%;
    }
</style>
<div class="Saudacao_Estrutura">
    <span class="Saudacao_Titulo">Seja Bem Vindo !</span>
    <p class="Saudacao_texto">Comece agora mesmo a explorar o IV Automation RPA,</p>
    <p class="Saudacao_texto">feito para automatizar seus processos com o máximo de performance e gerenciamento.</p>
    <!--<button type="button" class="btn btn-primary" ng-click="btnSimulaAtualizacaoToken()">
        <i class="glyphicon glyphicon-plus"></i> AtualizaToken
    </button>-->
</div>
