﻿<nav class="navbar navbar-custom " style="border-radius:0; background-image:none; " role="navigation">
    <div class="container">
        <div class="navbar-header">           
            <a href="#" class="fl_wd100" style="max-width:160px; margin:10px 10px 10px 0;">
                <img src="Images/Logotipos/180405_LogoAutomationRPA-02.png" width="100%" />
            </a>
            <span style="font-size:25px;cursor:pointer;position: absolute;left: 10px; top:8px;" title="Abrir Preferencias" onclick="openNav()">&#9776;</span> 
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="float:right;">  
                <li ng-repeat="oMenuGrupo in ItensMenu track by $index" class="dropdown" ng-if="oMenuGrupo.IdMenuPai === 0 && ControlaExibicaoMenuPermissao(oMenuGrupo.Id, 0)">
                    <a class="dropdown-toggle" data-toggle="dropdown">{{oMenuGrupo.Descricao}}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="oMenu in ItensMenu track by $index" ng-if="oMenu.IdMenuPai === oMenuGrupo.Id && ControlaExibicaoMenuPermissao(oMenu.Id, oMenuGrupo.Id)"><a href="{{oMenu.Href}}">{{oMenu.Descricao}}</a></li>
                    </ul>
                </li>   
            </ul>
        </div>
    </div> 
</nav>

<div class="container body-layout-content-logged">
    <header class="automation-header">
        <div class="automation-header-titulo"> 
            <div class="automation-header-titulo-pagina">{{TituloPagina}}</div>
        </div>
    </header>
    <aside class="fl_wd100 mrg10">
        <div id="viewContent" ng-view></div>
    </aside>
</div>

<footer class="footer navbar-fixed-bottom" style="background-color:#fff; box-shadow:0 -10px 10px #fff;">
    <a href="#" class="fl_wd100" style="text-align:center; font-size:12px; font-weight:bold; margin:10px 0;">Automation - Intervalor Arvato - 2017-{{DataAtual| date:'yyyy'}}</a> 
 </footer>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="mrgBottom20" style="margin: -46px 0;">
        <img src="Images/Logotipos/logo_intervalor_arvato_Invertido.png" alt="" style="width: 70%;" />
    </div>     
    <a ng-href="#Logout"><span class="glyphicon glyphicon-log-out"></span> Sair do Sistema</a>        
</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

