﻿<style>
    .Logout_Estrutura {
        margin: 0 auto;
        margin-top: 15%;
        text-align: center;
    }

    .Logout_Titulo {
        font-size: 270%;
    }

    .Logout_texto {
        font-size: 130%;
    }
</style>
<div class="Logout_Estrutura">
    <span class="Logout_Titulo">Saindo...!</span>
    <p class="Logout_texto">Volte Logo :-)</p>
</div>