﻿<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="btnFecharMensagens()">&times;</button>
        <h4 class="modal-title">RPA Informa</h4>
    </div>
    <div class="modal-body">
        <div class="p-3 mb-2 bg-danger text-white" ng-repeat="oMensagem in arMensagens" close="RemoveMensagem($index)">{{oMensagem.Mensagem}}</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="btnFecharMensagens()">Fechar</button>
    </div>
</div>