﻿<div ng-controller="PropriedadesAdicionaisController">
    <div class="table-responsive fl_wd100 mrg10">
        <table st-table="PropriedadesAdicionaisDisplay" st-safe-src="Propriedades Adicionais" class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th st-sort="Tamanho">Chave</th>
                    <th st-sort="Dimensao">Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(chave, valor) in oPropriedadesAdicionais">
                    <td>
                        <button type="button" ng-click="btnEditar()" class="btn btn-xs btn-info">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                    </td>
                    <td>{{chave}}</td>
                    <td>{{valor}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
