﻿<div class="row">
    <div class="col-md-12">
        <form name="frmImportacaoDetalhe" role="form">
            <uib-accordion close-others="false">
                <div ng-repeat="oImportacaoLoteDemanda in ImportacaoLoteDemandas" uib-accordion-group class="panel-primary hoverable mrg15" heading="{{oImportacaoLoteDemanda.NomeArquivo}}" is-open="true">
                    <div class="col-sm-12">
                        <div class="fl_wd100">
                            <div class="divProcessoDadosGenericos hoverable mrgBottom20">
                                <div class="divProcesso_Campo">
                                    <label style="width:100%;">Demanda</label>
                                    <label style="width:100%;">{{oImportacaoLoteDemanda.Id}}</label>
                                </div>
                                <div class="divProcesso_Campo">
                                    <label class="control-label">Lote</label>
                                    <label class="control-label" style="width:100%;">{{oImportacaoLoteDemanda.ImportacaoLote.Id}}</label>
                                </div>
                                <div class="divProcesso_Campo">
                                    <label class="control-label">Status</label>
                                    <label class="control-label" style="width:100%;">{{oImportacaoLoteDemanda.ImportacaoStatus.Descricao}}</label>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive fl_wd100 mrg10">
                            <table class="table table-striped mrgBot0">
                                <thead>
                                    <tr>
                                        <th>Dt. Inicio Processamento</th>
                                        <th>Dt. Término Processamento</th>
                                        <th>Autor Criação</th>
                                        <th>Dt. Criação</th>
                                        <th>Autor Alteração</th>
                                        <th>Dt. Alteração</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{oImportacaoLoteDemanda.DataInicioProcessamento != '0001-01-01T00:00:00' ? oImportacaoLoteDemanda.DataInicioProcessamento : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                        <td>{{oImportacaoLoteDemanda.DataTerminoProcessamento != '0001-01-01T00:00:00' ? oImportacaoLoteDemanda.DataTerminoProcessamento : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                        <td>{{oImportacaoLoteDemanda.AutorCriacao}}</td>
                                        <td>{{oImportacaoLoteDemanda.DataCriacao != '0001-01-01T00:00:00' ? oImportacaoLoteDemanda.DataCriacao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                        <td>{{oImportacaoLoteDemanda.AutorAlteracao}}</td>
                                        <td>{{oImportacaoLoteDemanda.DataAlteracao != '0001-01-01T00:00:00' ? oImportacaoLoteDemanda.DataAlteracao : ''| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </uib-accordion>
            <div class="form-actions">
                <div class="col-sm-10">
                    <input type="button" value="Voltar" ng-click="btnVoltarImportacaoDetalhe()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>