﻿<div class="row">
    <div class="col-sm-12">
        <form name="frmScriptSistema" ng-submit="InsereScriptSistema()" role="form">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-primary hoverable" heading="Dados do Sistema Automatizado" is-open="true">
                    <div class="col-sm-12 col-md-3 col-lg-3" ng-if="Clientes.length > 1">
                        <div class="form-group">
                            <label for="ddlCliente" class="wd100">Cliente</label>
                            <select class="form-control" id="ddlCliente" name="ddlCliente" ng-model="oScriptSistema.IdCliente" ng-change="ListaPerfilAcesso(oScriptSistema.IdCliente)" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oCliente in Clientes" ng-value="oCliente.Id">{{oCliente.NomeRazaoSocial}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlScriptSistemaTipo" class="wd100">Tipo de Sistema</label>
                            <select class="form-control" id="ddlScriptSistemaTipo" name="ddlScriptSistemaTipo" ng-model="oScriptSistema.IdScriptSistemaTipo" ng-required="true">
                                <option value="">---Selecione---</option>
                                <option ng-repeat="oScriptSistemaTipo in TiposSistemaScript" ng-value="oScriptSistemaTipo.Id">{{oScriptSistemaTipo.Descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtDominio" class="wd100">Domínio</label>
                            <input type="text" class="form-control" id="txtDominio" name="txtDominio" ng-model="oScriptSistema.NomeApelido" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtHostname" class="wd100">Hostname</label>
                            <input type="text" class="form-control" id="txtHostname" name="txtHostname" ng-model="oScriptSistema.NomeApelido" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="txtObservacao" class="wd100">Observação</label>
                            <textarea class="form-control" id="txtObservacao" name="txtObservacao" ng-model="oScriptSistema.Observacao" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="ddlControlaSessaoAcesso" class="wd100">Controla Sessão de Acesso</label>
                            <select class="form-control" id="ddlControlaSessaoAcesso" name="ddlControlaSessaoAcesso" ng-model="oScriptSistema.ControlaSessaoAcesso" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtQuantidadeSistemaAcesso" class="wd100">Qtde de Usuários/Acessos:</label>
                            <input type="number" class="form-control" id="txtQuantidadeSistemaAcesso" name="txtQuantidadeSistemaAcesso" ng-model="oScriptSistema.QuantidadeSistemaAcesso" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="txtTempoEsperaSuspensaoEmSegundos" class="wd100">Suspensão em Segundos:</label>
                            <input type="number" class="form-control" id="txtTempoEsperaSuspensaoEmSegundos" name="txtTempoEsperaSuspensaoEmSegundos" ng-model="oScriptSistema.QuantidadeSistemaAcesso" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="dllAtivo" class="wd100">Ativo:</label>
                            <select class="form-control" id="dllAtivo" name="dllAtivo" ng-model="oScriptSistema.Ativo" ng-required="true" ng-options="bool.value as bool.name for bool in ListaSimNao"></select>
                        </div>
                    </div>
                </div>
            </uib-accordion>
            <div class="form-actions">
                <div class="col-sm-10">
                    <button type="submit" ng-disabled="frmScriptSistema.$invalid" class="btn btn-primary">Inserir</button>
                    <input type="button" value="Cancelar" ng-click="btnCancelarVoltar()" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>



